apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: airflow
  namespace: hsg-data-labs-dev
  selfLink: /api/v1/namespaces/hsg-data-labs-dev/secrets/airflow
  annotations:
    template.openshift.io/base64-expose-password: "{.data['database-host']}"
    template.openshift.io/base64-expose-password: "{.data['database-name']}"
    template.openshift.io/base64-expose-password: "{.data['database-user']}"
    template.openshift.io/base64-expose-password: "{.data['database-password']}"
    template.openshift.io/base64-expose-password: "{.data['fernet-key']}"
stringData:
  database-host: hsg-data-labs-airflow-db.hsg-data-labs-dev.svc.cluster.local
  database-name: airflow
  database-user: airflow
  database-password: {{password}}
  fernet-key: {{fernet_key}}
