apiVersion: v1
kind: Secret
metadata:
  name: airflow
  namespace: hsg-data-labs-dev
  selfLink: /api/v1/namespaces/hsg-data-labs-dev/secrets/airflow
type: Opaque
data:
  database-host: {{host_b64}}
  database-name: {{name_b64}}
  database-user: {{username_b64}}
  database-password: {{password_b64}}
  fernet-key: {{fernet_key_b64}}
