# Script/render-template -t Deploy/AMC/dev/secrets.yaml.jinja -f Deploy/AMC/dev/secrets.yaml -v  \
# "aims_host=rdbp1627.ama-assn.org,aims_port=22093,aims_name=aims_prod:prd1srvxnet,aims_username=dro,aims_password=zwy91zxf"
#
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: amc-address-flagging-report-aims
  namespace: hsg-data-labs-dev
  annotations:
    template.openshift.io/base64-expose-password: "{.data['AIMS_HOST']}"
    template.openshift.io/base64-expose-password: "{.data['AIMS_PORT']}"
    template.openshift.io/base64-expose-password: "{.data['AIMS_NAME']}"
    template.openshift.io/base64-expose-password: "{.data['AIMS_USERNAME']}"
    template.openshift.io/base64-expose-password: "{.data['AIMS_PASSWORD']}"
stringData:
  AIMS_HOST: {{aims_host}}
  AIMS_PORT: {{aims_port}}
  AIMS_NAME: {{aims_name}}
  AIMS_USERNAME: {{aims_username}}
  AIMS_PASSWORD: {{aims_password}}