# Script/render-template -t Deploy/AMC/dev/etl_secrets.yaml.jinja -f Deploy/AMC/dev/etl_secrets.yaml \
# -v "ods_host={{ods_host}},ods_port={{ods_port}},ods_name={{ods_name}},ods_username={{ods_username}},\
# ods_password={{ods_password}},sftp_host={{sftp_host}},sftp_username={{sftp_username}},sftp_password={{sftp_password}},\
# s3_access_key={{s3_access_key}},s3_secret_key={{s3_secret_key}},s3_ingested_bucket={{s3_ingested_bucket}},\
# s3_processed_bucket={{s3_processed_bucket}},database_host={{database_host}},database_name={{database_name}},\
# database_username={{database_username}},database_password={{database_password}},eftp_username={{eftp_username}},
# eftp_password={{eftp_password}}"
#
---
data:
    AMC_AIMS_HOST: {{aims_host}}  # rdbp1627.ama-assn.org
    AMC_AIMS_PORT: {{aims_port}}  # 22093
    AMC_AIMS_NAME: {{aims_name}}  # aims_prod:prd1srvxnet
    AMC_AIMS_USERNAME: {{aims_username}}
    AMC_AIMS_PASSWORD: {{aims_password}}