apiVersion: v1
kind: Secret
type: Opaque
metadata:
    name: amc-address-flagging-report
    namespace: hsg-data-labs-prod
    annotations:
        template.openshift.io/base64-expose-password: "{.data['AIMS_HOST']}"
        template.openshift.io/base64-expose-password: "{.data['AIMS_PORT']}"
        template.openshift.io/base64-expose-password: "{.data['AIMS_NAME']}"
        template.openshift.io/base64-expose-password: "{.data['AIMS_USERNAME']}"
        template.openshift.io/base64-expose-password: "{.data['AIMS_PASSWORD']}"
        template.openshift.io/base64-expose-password: "{.data['S3_ACCESS_KEY']}"
        template.openshift.io/base64-expose-password: "{.data['S3_SECRET_KEY']}"
stringData:
    AIMS_HOST: {{aims_host}}
    AIMS_PORT: '{{aims_port}}'
    AIMS_NAME: {{aims_name}}
    AIMS_USERNAME: {{aims_username}}
    AIMS_PASSWORD: {{aims_password}}
    S3_ACCESS_KEY: {{s3_access_key}}
    S3_SECRET_KEY: {{s3_secret_key}}
