# pylint: skip-file

TASK_CLASS="datalabs.etl.task.ETLTask"
TASK_WRAPPER_CLASS="datalabs.etl.task.ETLTaskWrapper"

# Extractor
EXTRACTOR__TASK_CLASS="datalabs.etl.s3.extract.S3FileExtractorTask"
EXTRACTOR__REGION_NAME='us-east-1'
EXTRACTOR__ACCESS_KEY='{{key}}'
EXTRACTOR__SECRET_KEY='{{secret}}'
EXTRACTOR__BUCKET="ama-dev-datalake-ingest-us-east-1"
EXTRACTOR__BASE_PATH='AMA/operations/address/scoring/data/{{as_of_date}}/features/'
EXTRACTOR__FILES='BASE_DATA.txt, features__entity_comm__*.txt,features__entity_comm_usg__*.txt,features__license__*.txt,features__humach__*.txt,features__triangulation__IQVIA__*.txt,features__triangulation__SYMPHONY__*.txt'
EXTRACTOR__ASSUME_ROLE="arn:aws:iam::191296302136:role/dev-ama-apigateway-invoke-role"
EXTRACTOR__INCLUDE_DATESTAMP='false'


# Transformer
TRANSFORMER__TASK_CLASS="datalabs.analysis.address.scoring.etl.aggregator.FeatureAggregatorTransformerTask"







# Loader
LOADER__TASK_CLASS="datalabs.etl.s3.load.S3FileLoaderTask"
LOADER__REGION_NAME='us-east-1'
LOADER__ACCESS_KEY='{{key}}'
LOADER__SECRET_KEY='{{secret}}'
LOADER__BUCKET="ama-dev-datalake-ingest-us-east-1"
LOADER__BASE_PATH='AMA/operations/address/scoring/data/{{as_of_date}}/features/'
LOADER__FILES='aggregate_features.txt'
LOADER__ASSUME_ROLE="arn:aws:iam::191296302136:role/dev-ama-apigateway-invoke-role"
LOADER__INCLUDE_DATESTAMP='false'
