.doit.db.*
**/__pycache__
**/~*
**/.env
**/.idea/
**/.ipynb_checkpoints
**/Environment/*/bin/
**/Environment/*/etc/
**/Environment/*/lib/
**/Environment/*/lib64
**/Environment/*/pyvenv.cfg
**/Environment/*/share/
**/Environment/*/src/
**/Environment/*/xgboost/

.idea
venv

