.doit.db.*
__pycache__
~*
*.env
.idea/
.ipynb_checkpoints
.terraform
dependency-reduced-pom.xml
derby.log
Scratch.ipynb
Sandbox/JDBC/Informix/bson-4.2.0.jar
Sandbox/JDBC/Informix/jdbc-4.50.4.1.jar
*.backup
*.tfstate
Source/Terraform/**/tfplan
Source/Terraform/**/terraform.tfvars
Environment/*
*.zip
.DS_Store
*.pyc
.ecrtoken_*
.s3token_*
.apigw_token*
.ecr_token*
.ecs_token*
Bundle/*
target/*
Scratch/*
*.old
*.new


.idea
venv
get-pip.py
Build/CPT/credentials
Build/OneView/credentials
