.doit.db.*
**/__pycache__
**/~*
**/.env
**/.idea/
**/.ipynb_checkpoints
**/.terraform
*.backup
*.tfstate
Source/Terraform/**/tfplan
Source/Terraform/**/terraform.tfvars
Environment/*
*.zip

.idea
venv
get-pip.py
Build/CPT/credentials
Build/OneView/credentials