data:
    # TASK_WRAPPER_CLASS: datalabs.etl.airflow.task.AirflowTaskWrapper

    # PPD Extractor
    ONEVIEW__ODS_HOST: '{{ods_host}}'
    ONEVIEW__ODS_NAME: 'devdw'
    ONEVIEW__ODS_PORT: '50000'
    ONEVIEW__ODS_USERNAME: '{{ods_username}}'
    ONEVIEW__ODS_PASSWORD: '{{ods_password}}'

    ONEVIEW__SFTP_HOST: 'eft.ama-assn.org'
    ONEVIEW__SFTP_USERNAME: '{{sftp_username}}'
    ONEVIEW__SFTP_PASSWORD: '{{sftp_password}}'

    ONEVIEW__S3_ACCESS_KEY: '{{s3_access_key}}'
    ONEVIEW__S3_SECRET_KEY: '{{s3_secret_key}}'

    ONEVIEW__DATABASE_HOST: '{{database_host}}'
    ONEVIEW__DATABASE_PORT: '5432'
    ONEVIEW__DATABASE_NAME: 'datalabs'
    ONEVIEW__DATABASE_USERNAME:  '{{database_username}}'
    ONEVIEW__DATABASE_PASSWORD:  '{{database_password}}'
