data:
    ONEVIEW_ODS_HOST: '{{ods_host}}'  # dev: rdbd1156
    ONEVIEW_ODS_PORT: '{{ods_port}}'  # dev: 50000
    ONEVIEW_ODS_NAME: '{{ods_name}}'  # dev: devdw
    ONEVIEW_ODS_USERNAME: '{{ods_username}}'
    ONEVIEW_ODS_PASSWORD: '{{ods_password}}'

    ONEVIEW_SFTP_USERNAME: '{{sftp_username}}'
    ONEVIEW_SFTP_PASSWORD: '{{sftp_password}}'

    ONEVIEW_S3_ACCESS_KEY: '{{s3_access_key}}'
    ONEVIEW_S3_SECRET_KEY: '{{s3_secret_key}}'

    ONEVIEW_DATABASE_HOST: '{{database_host}}'  # dev: hsg-data-labs-db.hsg-data-labs-dev.svc.cluster.local
    ONEVIEW_DATABASE_USERNAME:  '{{database_username}}'
    ONEVIEW_DATABASE_PASSWORD:  '{{database_password}}'
