---
TRIGGER_PROCESSOR:
    GLOBAL:
        ACCOUNT: '194221139997'
        ENVIRONMENT: tst
    HANDLER:
        DAG_TOPIC_ARN: arn:aws:sns:us-east-1:${ACCOUNT}:DataLake-${ENVIRONMENT}-DAGProcessor
    Scheduler:
        HANDLER_CLASS: datalabs.etl.dag.trigger.handler.scheduler.TriggerHandlerTask
