---
TRIGGER_PROCESSOR:
    GLOBAL:
        ACCOUNT: '194221139997'
        ENVIRONMENT: tst

    HANDLER:
        DAG_TOPIC_ARN: arn:aws:sns:us-east-1:${ACCOUNT}:DataLake-${ENVIRONMENT}-DAGProcessor

    Scheduler:  # DataLake-${ENVIRONMENT}-Scheduler SNS topic
        HANDLER_CLASS: datalabs.etl.dag.trigger.handler.scheduler.TriggerHandlerTask
