---
VERICRE_API:
    GLOBAL:
        ENVIRONMENT: itg
        ACCOUNT: '285887636563'

        DATABASE_HOST: vericre-itg-au-aurora-cluster.cluster-cxgp9osuwqi3.us-east-1.rds.amazonaws.com
        DATABASE_PORT: '5432'
        DATABASE_BACKEND: 'postgresql+psycopg2'
        DATABASE_NAME: 'vericre'
        DATABASE_USERNAME:  vericreadmin
        DATABASE_PASSWORD:  '{{database_password}}'

        PROFILE_API_ID: '428b5f8e-c591-4630-a565-de2b407a5db8'
        PROFILE_API_SECRET: {{profile_api_secret}}
        PROFILE_API_ENVIRONMENT: 'wsextstage'

        CAQH_USERNAME: 'DeepakA123'
        CAQH_PASSWORD: '{{caqh_password}}'
        CAQH_ORG_ID: '6166'
        CAQH_APPLICATION_TYPE: '100000001'
        CAQH_DOMAIN: 'https://proview-demo.nonprod.caqh.org'

    ROUTE:
        PHYSICIANS_SEARCH:          '/profile_api/physicians/search'
        PROFILES_LOOKUP:            '/profile_api/profiles/lookup'
        PROFILES_LOOKUP_BY_INDEX:   '/profile_api/profiles/lookup/*'
        PROFILES:                   '/profile_api/profiles'
        PROFILE:                    '/profile_api/profile/*'
        PROFILE_DOCUMENTS:          '/profile_api/profile/*/documents'
        PROFILE_CAQH_PDF:           '/profile_api/profile/*/CAQH/pdf'
        PROFILE_AMA_PDF:            '/profile_api/profile/*/AMA/pdf'
        DEFAULT:                    '/*'

    PHYSICIANS_SEARCH:
        TASK_CLASS:  'datalabs.access.vericre.api.physician.PhysiciansSearchEndpointTask'
        DATABASE_NAME:  ${DATABASE_NAME}
        DATABASE_BACKEND: ${DATABASE_BACKEND}
        DATABASE_HOST: ${DATABASE_HOST}
        DATABASE_PORT: ${DATABASE_PORT}
        DATABASE_USERNAME: ${DATABASE_USERNAME}
        DATABASE_PASSWORD: ${DATABASE_PASSWORD}
        AMA_DOMAIN: 'wsint-staging'
        VERICRE_ALB_DOMAIN: 'vericer-api-intg.ama-assn.org'

    PROFILES_LOOKUP:
        TASK_CLASS:  'datalabs.access.vericre.api.profiles.MultiProfileLookupEndpointTask'
        DATABASE_NAME:  ${DATABASE_NAME}
        DATABASE_BACKEND: ${DATABASE_BACKEND}
        DATABASE_HOST: ${DATABASE_HOST}
        DATABASE_PORT: ${DATABASE_PORT}
        DATABASE_USERNAME: ${DATABASE_USERNAME}
        DATABASE_PASSWORD: ${DATABASE_PASSWORD}
        DYNAMODB_NAME: "vericre-${ENVIRONMENT}-us-east-1-api-request-cache"

    PROFILES_LOOKUP_BY_INDEX:
        TASK_CLASS:  'datalabs.access.vericre.api.profiles.MultiProfileLookupByIndexEndpointTask'
        DATABASE_NAME:  ${DATABASE_NAME}
        DATABASE_BACKEND: ${DATABASE_BACKEND}
        DATABASE_HOST: ${DATABASE_HOST}
        DATABASE_PORT: ${DATABASE_PORT}
        DATABASE_USERNAME: ${DATABASE_USERNAME}
        DATABASE_PASSWORD: ${DATABASE_PASSWORD}
        DYNAMODB_NAME: "vericre-${ENVIRONMENT}-us-east-1-api-request-cache"

    PROFILES:
        TASK_CLASS:  'datalabs.access.vericre.api.profiles.ProfilesEndpointTask'
        DATABASE_NAME:  ${DATABASE_NAME}
        DATABASE_BACKEND: ${DATABASE_BACKEND}
        DATABASE_HOST: ${DATABASE_HOST}
        DATABASE_PORT: ${DATABASE_PORT}
        DATABASE_USERNAME: ${DATABASE_USERNAME}
        DATABASE_PASSWORD: ${DATABASE_PASSWORD}

    PROFILE:
        TASK_CLASS:  'datalabs.access.vericre.api.profiles.SingleProfileLookupEndpointTask'
        DATABASE_NAME:  ${DATABASE_NAME}
        DATABASE_BACKEND: ${DATABASE_BACKEND}
        DATABASE_HOST: ${DATABASE_HOST}
        DATABASE_PORT: ${DATABASE_PORT}
        DATABASE_USERNAME: ${DATABASE_USERNAME}
        DATABASE_PASSWORD: ${DATABASE_PASSWORD}

    PROFILE_DOCUMENTS:
        TASK_CLASS:  'datalabs.access.vericre.api.profile.ProfileDocumentsEndpointTask'
        DATABASE_NAME:  ${DATABASE_NAME}
        DATABASE_BACKEND: ${DATABASE_BACKEND}
        DATABASE_HOST: ${DATABASE_HOST}
        DATABASE_PORT: ${DATABASE_PORT}
        DATABASE_USERNAME: ${DATABASE_USERNAME}
        DATABASE_PASSWORD: ${DATABASE_PASSWORD}
        DOCUMENT_BUCKET_NAME: ama-${ENVIRONMENT}-vericre-us-east-1

    PROFILE_CAQH_PDF:
        TASK_CLASS:  'datalabs.access.vericre.api.profile.CAQHProfilePDFEndpointTask'
        DATABASE_NAME:  ${DATABASE_NAME}
        DATABASE_BACKEND: ${DATABASE_BACKEND}
        DATABASE_HOST: ${DATABASE_HOST}
        DATABASE_PORT: ${DATABASE_PORT}
        DATABASE_USERNAME: ${DATABASE_USERNAME}
        DATABASE_PASSWORD: ${DATABASE_PASSWORD}
        DOCUMENT_BUCKET_NAME: ama-${ENVIRONMENT}-vericre-us-east-1
        USERNAME: ${CAQH_USERNAME}
        PASSWORD: ${CAQH_PASSWORD}
        ORG_ID: ${CAQH_ORG_ID}
        APPLICATION_TYPE: ${CAQH_APPLICATION_TYPE}
        DOMAIN: ${CAQH_DOMAIN}
        PROVIDER_API: 'DocumentAPI/api/providerdocs/download'
        STATUS_CHECK_API: 'RosterAPI/api/providerstatusbynpi'

    PROFILE_AMA_PDF:
        TASK_CLASS:  'datalabs.access.vericre.api.profile.AMAProfilePDFEndpointTask'
        DATABASE_NAME:  ${DATABASE_NAME}
        DATABASE_BACKEND: ${DATABASE_BACKEND}
        DATABASE_HOST: ${DATABASE_HOST}
        DATABASE_PORT: ${DATABASE_PORT}
        DATABASE_USERNAME: ${DATABASE_USERNAME}
        DATABASE_PASSWORD: ${DATABASE_PASSWORD}
        DOCUMENT_BUCKET_NAME: ama-${ENVIRONMENT}-vericre-us-east-1
        CLIENT_ID: ${PROFILE_API_ID}
        CLIENT_SECRET: ${PROFILE_API_SECRET}
        CLIENT_ENV: ${PROFILE_API_ENVIRONMENT}

    DEFAULT:
        TASK_CLASS:  'datalabs.access.vericre.api.default.DefaultEndpointTask'
