apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: amc-address-flagging-report-aims
  namespace: hsg-data-labs-dev
  annotations:
    template.openshift.io/base64-expose-password: "{.data['DATABASE_PORT']}"
    template.openshift.io/base64-expose-password: "{.data['DATABASE_NAME']}"
    template.openshift.io/base64-expose-password: "{.data['DATABASE_USERNAME']}"
    template.openshift.io/base64-expose-password: "{.data['DATABASE_PASSWORD']}"
stringData:
  AIMS_PORT: {{DATABASE_port}}
  AIMS_NAME: {{DATABASE_name}}
  AIMS_USERNAME: {{DATABASE_username}}
  AIMS_PASSWORD: {{DATABASE_password}}