apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: amc-address-flagging-report-aims
  namespace: hsg-data-labs-prod
  annotations:
    template.openshift.io/base64-expose-password: "{.data['AIMS_USERNAME']}"
    template.openshift.io/base64-expose-password: "{.data['AIMS_PASSWORD']}"
stringData:
  AIMS_USERNAME: {{aims_username}}
  AIMS_PASSWORD: {{aims_password}}
