---
CPT_FILES_WATERMARK_USER:
    GLOBAL:
        ENVIRONMENT: itg
        ACCOUNT: '285887636563'

        S3_DOWNLOADS_BUCKET: ama-${ENVIRONMENT}-cpt-downloads-us-east-1
        S3_INGESTED_DATA_BUCKET: ama-${ENVIRONMENT}-datalake-ingest-us-east-1
        S3_PROCESSED_DATA_BUCKET: ama-${ENVIRONMENT}-datalake-process-us-east-1

        S3_CACHE_CLASS: 'datalabs.etl.dag.cache.s3.S3TaskDataCache'
        S3_BASE_PATH: 'AMA/CPT/Files'

    DAG:
        LAMBDA_FUNCTION: 'CPT-API-${ENVIRONMENT}-WatermarkDAG'
        DAG_CLASS: 'datalabs.etl.dag.cpt.files.watermark.UserDAG'
        DAG_STATE:
            CLASS: 'datalabs.etl.dag.state.dynamodb.DAGState'
            STATE_TABLE: 'DataLake-dag-state-${ENVIRONMENT}'
            LOCK_TABLE: 'DataLake-scheduler-locks-${ENVIRONMENT}'
        DAG_TOPIC_ARN: 'arn:aws:sns:us-east-1:${ACCOUNT}:DataLake-${ENVIRONMENT}-DAGProcessor'
        TASK_TOPIC_ARN: 'arn:aws:sns:us-east-1:${ACCOUNT}:DataLake-${ENVIRONMENT}-TaskProcessor'
        DAG_EXECUTOR_CLASS: 'datalabs.etl.dag.execute.awslambda.LambdaDAGExecutorTask'
        TASK_EXECUTOR_CLASS: 'datalabs.etl.dag.execute.awslambda.LambdaTaskExecutorTask'

    EXTRACT_SIGNING_CREDENTIALS:
        BUCKET: ${S3_INGESTED_DATA_BUCKET}
        BASE_PATH: AMA/DataLabs/CA
        FILES: ca.p12
        INCLUDE_DATESTAMP: 'False'

        CACHE_OUTPUT_CLASS: '${S3_CACHE_CLASS}'
        CACHE_OUTPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
        CACHE_OUTPUT_BASE_PATH: ${S3_BASE_PATH}
        CACHE_OUTPUT_FILES: '${USER_ID}/ca.p12'

    EXTRACT_RELEASE_FILES:
        CACHE_CLASS: '${S3_CACHE_CLASS}'
        CACHE_INPUT_BUCKET: ${S3_DOWNLOADS_BUCKET}
        CACHE_INPUT_BASE_PATH: ''
        CACHE_INPUT_FILES: files.zip

        CACHE_OUTPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
        CACHE_OUTPUT_BASE_PATH: ${S3_BASE_PATH}
        CACHE_OUTPUT_FILES: '${USER_ID}/files.pkl'

    SIGN_PDFS:
        CACHE_CLASS: '${S3_CACHE_CLASS}'
        CACHE_INPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
        CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
        CACHE_INPUT_FILES: ${USER_ID}/ca.p12,${USER_ID}/files.pkl

        CREDENTIALS_PASSWORD:  '{{credentials_password}}'
        RECIPIENT:  ${USER_ID}

        CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_OUTPUT_BASE_PATH: ${S3_BASE_PATH}
        CACHE_OUTPUT_FILES: '${USER_ID}/files.pkl'

    CREATE_DISTRIBUTION:
        CACHE_CLASS: '${S3_CACHE_CLASS}'
        CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
        CACHE_INPUT_FILES: '${USER_ID}/files.pkl'

        CACHE_OUTPUT_BUCKET: ${S3_DOWNLOADS_BUCKET}
        CACHE_OUTPUT_BASE_PATH: ''
        CACHE_OUTPUT_FILES: '${USER_ID}/files.zip'
