---
HCPCS:
    GLOBAL:
        ENVIRONMENT: sbx
        ACCOUNT: '644454719059'

        S3_INGESTED_DATA_BUCKET: ama-${ENVIRONMENT}-datalake-ingest-us-east-1
        S3_PROCESSED_DATA_BUCKET: ama-${ENVIRONMENT}-datalake-process-us-east-1

        S3_CACHE_CLASS: 'datalabs.etl.dag.cache.s3.S3TaskDataCache'
        S3_BASE_PATH: 'AMA/CPT/HCPCS'

    DAG:
        LAMBDA_FUNCTION: 'CPT-API-${ENVIRONMENT}-ETL'
        DAG_CLASS: 'datalabs.etl.dag.cpt.files.hcpcs.HCPCSDAG'
        DAG_STATE:
            CLASS: 'datalabs.etl.dag.state.dynamodb.DAGState'
            STATE_TABLE: 'DataLake-dag-state-${ENVIRONMENT}'
            LOCK_TABLE: 'DataLake-scheduler-locks-${ENVIRONMENT}'
        DAG_TOPIC_ARN: 'arn:aws:sns:us-east-1:${ACCOUNT}:DataLake-${ENVIRONMENT}-DAGProcessor'
        TASK_TOPIC_ARN: 'arn:aws:sns:us-east-1:${ACCOUNT}:DataLake-${ENVIRONMENT}-TaskProcessor'
        DAG_EXECUTOR_CLASS: 'datalabs.etl.dag.execute.awslambda.LambdaDAGExecutorTask'
        TASK_EXECUTOR_CLASS: 'datalabs.etl.dag.execute.awslambda.LambdaTaskExecutorTask'

    SCRAPE_HCPCS_REPORTS:
        URL:  'https://www.cms.gov/Medicare/Coding/HCPCSReleaseCodeSets/HCPCS-Quarterly-Update'
        FILTER_FUTURE:  'False'

        CACHE_OUTPUT_CLASS:  ${S3_CACHE_CLASS}
        CACHE_OUTPUT_BASE_PATH: ${S3_BASE_PATH}
        CACHE_OUTPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
        CACHE_OUTPUT_FILES: 'cache/hcpcs_url.txt'

    EXTRACT_HCPCS_REPORT:
        CACHE_CLASS:  ${S3_CACHE_CLASS}
        CACHE_BASE_PATH: ${S3_BASE_PATH}
        CACHE_BUCKET: ${S3_INGESTED_DATA_BUCKET}
        CACHE_INPUT_FILES: 'cache/hcpcs_url.txt'
        CACHE_OUTPUT_FILES: 'cache/hcpcs_quarterly_report.zip'

    UNZIP_HCPCS_REPORTS:
        INCLUDE_NAMES: 'True'

        CACHE_CLASS: ${S3_CACHE_CLASS}
        CACHE_BASE_PATH: ${S3_BASE_PATH}
        CACHE_BUCKET: ${S3_INGESTED_DATA_BUCKET}
        CACHE_INPUT_FILES: 'cache/hcpcs_quarterly_report.zip'
        CACHE_OUTPUT_INCLUDES_NAMES: 'True'
