data:
    #######################################################################
    # Global Variables - {"DAG": {"S": "CPTFilesIngestionDAG"}, "Task": {"S": "GLOBAL"}}
    #######################################################################

    ENVIRONMENT: sbx
    ACCOUNT: '644454719059'
    DAG_TOPIC_ARN: 'arn:aws:sns:us-east-1:${ACCOUNT}:DataLake-${ENVIRONMENT}-DAGProcessor'

    S3_DOWNLOADS_BUCKET: ama-${ENVIRONMENT}-cpt-downloads-us-east-1
    S3_INGESTED_DATA_BUCKET: ama-${ENVIRONMENT}-datalake-ingest-us-east-1
    S3_PROCESSED_DATA_BUCKET: ama-${ENVIRONMENT}-datalake-process-us-east-1
    S3_CACHE_CLASS: 'datalabs.etl.dag.cache.s3.S3TaskDataCache'
    S3_BASE_PATH: 'AMA/CPT/Files'

    #######################################################################
    # DAG Variables - ({"DAG": {"S": "CPT_FILES_INGESTION"}, "Task": {"S": "DAG"}})    
    #######################################################################

    CPT_FILES_INGESTION__DAG__LAMBDA_FUNCTION: 'CPT-API-${ENVIRONMENT}-IngestionDAG'
    CPT_FILES_INGESTION__DAG__DAG_CLASS: 'datalabs.etl.dag.cpt.files.ingest.CPTFilesIngestionDAG'
    CPT_FILES_INGESTION__DAG__DAG_STATE_CLASS: 'datalabs.etl.dag.state.dynamodb.DAGState'
    CPT_FILES_INGESTION__DAG__DAG_STATE_TABLE: 'DataLake-dag-state-${ENVIRONMENT}'
    CPT_FILES_INGESTION__DAG__STATE_LOCK_TABLE: 'DataLake-scheduler-locks-${ENVIRONMENT}'
    CPT_FILES_INGESTION__DAG__DAG_TOPIC_ARN: ${DAG_TOPIC_ARN}
    CPT_FILES_INGESTION__DAG__TASK_TOPIC_ARN: 'arn:aws:sns:us-east-1:${ACCOUNT}:DataLake-${ENVIRONMENT}-TaskProcessor'
    CPT_FILES_INGESTION__DAG__DAG_EXECUTOR_CLASS: 'datalabs.etl.dag.execute.awslambda.LambdaDAGExecutorTask'
    CPT_FILES_INGESTION__DAG__TASK_EXECUTOR_CLASS: 'datalabs.etl.dag.execute.awslambda.LambdaTaskExecutorTask'

    #######################################################################
    # Task Variables - ({"DAG": {"S": "CPT_FILES_INGESTION"}, "Task": {"S": "<Task ID>"}})
    ##########################################################################

    # Load Files Archive
    CPT_FILES_INGESTION__LOAD_FILES_ARCHIVE__CACHE_INPUT_CLASS: '${S3_CACHE_CLASS}'
    CPT_FILES_INGESTION__LOAD_FILES_ARCHIVE__CACHE_INPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
    CPT_FILES_INGESTION__LOAD_FILES_ARCHIVE__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
    CPT_FILES_INGESTION__LOAD_FILES_ARCHIVE__CACHE_INPUT_FILES: 'files.zip'

    CPT_FILES_INGESTION__LOAD_FILES_ARCHIVE__BUCKET: ${S3_DOWNLOADS_BUCKET}
    CPT_FILES_INGESTION__LOAD_FILES_ARCHIVE__BASE_PATH: ''
    CPT_FILES_INGESTION__LOAD_FILES_ARCHIVE__FILES: 'files.zip'

    # Watermark DAG scheduler
    CPT_FILES_INGESTION__SCHEDULE_WATERMARK_DAG__DAG:  'CPT_FILES_WATERMARK'

    CPT_FILES_INGESTION__SCHEDULE_WATERMARK_DAG__CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    CPT_FILES_INGESTION__SCHEDULE_WATERMARK_DAG__CACHE_OUTPUT_BASE_PATH: ${S3_BASE_PATH}
    CPT_FILES_INGESTION__SCHEDULE_WATERMARK_DAG__CACHE_OUTPUT_FILES: 'watermark_dag_event.json'

    # DAG Trigger Watermark
    CPT_FILES_INGESTION__TRIGGER_WATERMARK_DAG__CACHE_INPUT_CLASS: '${S3_CACHE_CLASS}'
    CPT_FILES_INGESTION__TRIGGER_WATERMARK_DAG__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    CPT_FILES_INGESTION__TRIGGER_WATERMARK_DAG__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
    CPT_FILES_INGESTION__TRIGGER_WATERMARK_DAG__CACHE_INPUT_FILES: 'watermark_dag_event.json'

    CPT_FILES_INGESTION__TRIGGER_WATERMARK_DAG__TOPIC_ARN: ${DAG_TOPIC_ARN}

    # API DAG scheduler
    CPT_FILES_INGESTION__SCHEDULE_API_DAG__DAG:  'CPTAPI'

    CPT_FILES_INGESTION__SCHEDULE_API_DAG__CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    CPT_FILES_INGESTION__SCHEDULE_API_DAG__CACHE_OUTPUT_BASE_PATH: ${S3_BASE_PATH}
    CPT_FILES_INGESTION__SCHEDULE_API_DAG__CACHE_OUTPUT_FILES: 'api_dag_event.json'

    # DAG Trigger API
    CPT_FILES_INGESTION__TRIGGER_API_DAG__CACHE_INPUT_CLASS: '${S3_CACHE_CLASS}'
    CPT_FILES_INGESTION__TRIGGER_API_DAG__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    CPT_FILES_INGESTION__TRIGGER_API_DAG__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
    CPT_FILES_INGESTION__TRIGGER_API_DAG__CACHE_INPUT_FILES: 'api_dag_event.json'

    CPT_FILES_INGESTION__TRIGGER_API_DAG__TOPIC_ARN: ${DAG_TOPIC_ARN}
