CPT_FILES_INGESTION:
    GLOBAL:
        ENVIRONMENT: sbx
        ACCOUNT: '644454719059'
        DAG_TOPIC_ARN: 'arn:aws:sns:us-east-1:${ACCOUNT}:DataLake-${ENVIRONMENT}-DAGProcessor'

        S3_DOWNLOADS_BUCKET: ama-${ENVIRONMENT}-cpt-downloads-us-east-1
        S3_INGESTED_DATA_BUCKET: ama-${ENVIRONMENT}-datalake-ingest-us-east-1
        S3_PROCESSED_DATA_BUCKET: ama-${ENVIRONMENT}-datalake-process-us-east-1
        S3_CACHE_CLASS: 'datalabs.etl.dag.cache.s3.S3TaskDataCache'
        S3_BASE_PATH: 'AMA/CPT/Files'

    DAG:
        LAMBDA_FUNCTION: 'CPT-API-${ENVIRONMENT}-IngestionDAG'
        DAG_CLASS: 'datalabs.etl.dag.cpt.files.ingest.CPTFilesIngestionDAG'
        DAG_STATE:
            CLASS: 'datalabs.etl.dag.state.dynamodb.DAGState'
            STATE_TABLE: 'DataLake-dag-state-${ENVIRONMENT}'
            LOCK_TABLE: 'DataLake-scheduler-locks-${ENVIRONMENT}'
        DAG_TOPIC_ARN: ${DAG_TOPIC_ARN}
        TASK_TOPIC_ARN: 'arn:aws:sns:us-east-1:${ACCOUNT}:DataLake-${ENVIRONMENT}-TaskProcessor'
        DAG_EXECUTOR_CLASS: 'datalabs.etl.dag.execute.awslambda.LambdaDAGExecutorTask'
        TASK_EXECUTOR_CLASS: 'datalabs.etl.dag.execute.awslambda.LambdaTaskExecutorTask'

    LOAD_FILES_ARCHIVE:
        CACHE_INPUT_CLASS: '${S3_CACHE_CLASS}'
        CACHE_INPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
        CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
        CACHE_INPUT_FILES: 'files.zip'

        BUCKET: ${S3_DOWNLOADS_BUCKET}
        BASE_PATH: ''
        FILES: 'files.zip'

    SCHEDULE_WATERMARK_DAG:
        DAG:  'CPT_FILES_WATERMARK'

        CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_OUTPUT_BASE_PATH: ${S3_BASE_PATH}
        CACHE_OUTPUT_FILES: 'watermark_dag_event.json'

    TRIGGER_WATERMARK_DAG:
        CACHE_INPUT_CLASS: '${S3_CACHE_CLASS}'
        CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
        CACHE_INPUT_FILES: 'watermark_dag_event.json'

        TOPIC_ARN: ${DAG_TOPIC_ARN}

    SCHEDULE_API_DAG:
        DAG:  'CPTAPI'

        CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_OUTPUT_BASE_PATH: ${S3_BASE_PATH}
        CACHE_OUTPUT_FILES: 'api_dag_event.json'

    TRIGGER_API_DAG:
        CACHE_INPUT_CLASS: '${S3_CACHE_CLASS}'
        CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
        CACHE_INPUT_FILES: 'api_dag_event.json'

        TOPIC_ARN: ${DAG_TOPIC_ARN}
