# Render as follows:
#
# update-dag-config -e sbx -p CPT -t json_api -v "database_password={{database_password}}"
---
data:
    #######################################################################
    # Global Variables - {"DAG": {"S": "CPT_JSON_API"}, "Task": {"S": "GLOBAL"}}
    #######################################################################

    ENVIRONMENT: dev
    ACCOUNT: '191296302136'

    S3_INGESTED_DATA_BUCKET: ama-${ENVIRONMENT}-datalake-ingest-us-east-1
    S3_PROCESSED_DATA_BUCKET: ama-${ENVIRONMENT}-datalake-process-us-east-1
    S3_DOWNLOADS_BUCKET: ama-${ENVIRONMENT}-cpt-downloads-us-east-1

    DATABASE_HOST: cpt-api-dev-db.cwp4vd8mllvz.us-east-1.rds.amazonaws.com
    DATABASE_PORT: '5432'
    DATABASE_BACKEND: 'postgresql+psycopg2'
    DATABASE_NAME: 'cpt'
    DATABASE_USERNAME:  cptadmin
    DATABASE_PASSWORD:  '{{database_password}}'

    S3_CACHE_CLASS: 'datalabs.etl.dag.cache.s3.S3TaskDataCache'
    S3_BASE_PATH: 'AMA/CPT'


    #######################################################################
    # Route Variables - ({"DAG": {"S": "CPT_JSON_API"}, "Task": {"S": "API"}})
    #######################################################################

    CPT_JSON_API__ROUTE__DESCRIPTOR: '/descriptor/*'
    CPT_JSON_API__ROUTE__DESCRIPTORS: '/descriptors'
    CPT_JSON_API__ROUTE__CONSUMER_DESCRIPTOR: '/consumer/descriptor/*'
    CPT_JSON_API__ROUTE__CONSUMER_DESCRIPTORS: '/consumer/descriptors'
    CPT_JSON_API__ROUTE__CLINICIAN_DESCRIPTORS: '/clinician/descriptors/*'
    CPT_JSON_API__ROUTE__ALL_CLINICIAN_DESCRIPTORS: '/clinician/descriptors'
    CPT_JSON_API__ROUTE__PLA_DETAILS: '/pla/details/*'
    CPT_JSON_API__ROUTE__ALL_PLA_DETAILS: '/pla/details'
    CPT_JSON_API__ROUTE__MODIFIER: '/modifier/*'
    CPT_JSON_API__ROUTE__MODIFIERS: '/modifiers'
    CPT_JSON_API__ROUTE__PDFS: '/pdfs'
    CPT_JSON_API__ROUTE__RELEASES: '/releases'
    CPT_JSON_API__ROUTE__DEFAULT: '/*'


    ##########################################################################
    # Task Variables - ({"DAG": {"S": "CPT_JSON_API"}, "Task": {"S": "<Task ID>"}})
    ##########################################################################


    # GET /descriptor/{code}
    CPT_JSON_API__DESCRIPTOR__TASK_CLASS:  'datalabs.access.cpt.api.descriptor.DescriptorEndpointTask'
    CPT_JSON_API__DESCRIPTOR__DATABASE_NAME:  ${DATABASE_NAME}
    CPT_JSON_API__DESCRIPTOR__DATABASE_BACKEND: ${DATABASE_BACKEND}
    CPT_JSON_API__DESCRIPTOR__DATABASE_HOST: ${DATABASE_HOST}
    CPT_JSON_API__DESCRIPTOR__DATABASE_PORT: ${DATABASE_PORT}
    CPT_JSON_API__DESCRIPTOR__DATABASE_USERNAME: ${DATABASE_USERNAME}
    CPT_JSON_API__DESCRIPTOR__DATABASE_PASSWORD: ${DATABASE_PASSWORD}


    # GET /descriptors
    CPT_JSON_API__DESCRIPTORS__TASK_CLASS:  'datalabs.access.cpt.api.descriptor.AllDescriptorsEndpointTask'
    CPT_JSON_API__DESCRIPTORS__DATABASE_NAME:  ${DATABASE_NAME}
    CPT_JSON_API__DESCRIPTORS__DATABASE_BACKEND: ${DATABASE_BACKEND}
    CPT_JSON_API__DESCRIPTORS__DATABASE_HOST: ${DATABASE_HOST}
    CPT_JSON_API__DESCRIPTORS__DATABASE_PORT: ${DATABASE_PORT}
    CPT_JSON_API__DESCRIPTORS__DATABASE_USERNAME: ${DATABASE_USERNAME}
    CPT_JSON_API__DESCRIPTORS__DATABASE_PASSWORD: ${DATABASE_PASSWORD}


    # GET /consumer/descriptor/{code}
    CPT_JSON_API__CONSUMER_DESCRIPTOR__TASK_CLASS:  'datalabs.access.cpt.api.consumer_descriptor.ConsumerDescriptorEndpointTask'
    CPT_JSON_API__CONSUMER_DESCRIPTOR__DATABASE_NAME:  ${DATABASE_NAME}
    CPT_JSON_API__CONSUMER_DESCRIPTOR__DATABASE_BACKEND: ${DATABASE_BACKEND}
    CPT_JSON_API__CONSUMER_DESCRIPTOR__DATABASE_HOST: ${DATABASE_HOST}
    CPT_JSON_API__CONSUMER_DESCRIPTOR__DATABASE_PORT: ${DATABASE_PORT}
    CPT_JSON_API__CONSUMER_DESCRIPTOR__DATABASE_USERNAME: ${DATABASE_USERNAME}
    CPT_JSON_API__CONSUMER_DESCRIPTOR__DATABASE_PASSWORD: ${DATABASE_PASSWORD}


    # GET /consumer/descriptors
    CPT_JSON_API__CONSUMER_DESCRIPTORS__TASK_CLASS:  'datalabs.access.cpt.api.consumer_descriptor.AllConsumerDescriptorsEndpointTask'
    CPT_JSON_API__CONSUMER_DESCRIPTORS__DATABASE_NAME:  ${DATABASE_NAME}
    CPT_JSON_API__CONSUMER_DESCRIPTORS__DATABASE_BACKEND: ${DATABASE_BACKEND}
    CPT_JSON_API__CONSUMER_DESCRIPTORS__DATABASE_HOST: ${DATABASE_HOST}
    CPT_JSON_API__CONSUMER_DESCRIPTORS__DATABASE_PORT: ${DATABASE_PORT}
    CPT_JSON_API__CONSUMER_DESCRIPTORS__DATABASE_USERNAME: ${DATABASE_USERNAME}
    CPT_JSON_API__CONSUMER_DESCRIPTORS__DATABASE_PASSWORD: ${DATABASE_PASSWORD}


    # GET /clinician/descriptors/{code}
    CPT_JSON_API__CLINICIAN_DESCRIPTORS__TASK_CLASS:  'datalabs.access.cpt.api.clinician_descriptor.ClinicianDescriptorsEndpointTask'
    CPT_JSON_API__CLINICIAN_DESCRIPTORS__DATABASE_NAME:  ${DATABASE_NAME}
    CPT_JSON_API__CLINICIAN_DESCRIPTORS__DATABASE_BACKEND: ${DATABASE_BACKEND}
    CPT_JSON_API__CLINICIAN_DESCRIPTORS__DATABASE_HOST: ${DATABASE_HOST}
    CPT_JSON_API__CLINICIAN_DESCRIPTORS__DATABASE_PORT: ${DATABASE_PORT}
    CPT_JSON_API__CLINICIAN_DESCRIPTORS__DATABASE_USERNAME: ${DATABASE_USERNAME}
    CPT_JSON_API__CLINICIAN_DESCRIPTORS__DATABASE_PASSWORD: ${DATABASE_PASSWORD}


    # GET /clinician/descriptors
    CPT_JSON_API__ALL_CLINICIAN_DESCRIPTORS__TASK_CLASS:  'datalabs.access.cpt.api.clinician_descriptor.AllClinicianDescriptorsEndpointTask'
    CPT_JSON_API__ALL_CLINICIAN_DESCRIPTORS__DATABASE_NAME:  ${DATABASE_NAME}
    CPT_JSON_API__ALL_CLINICIAN_DESCRIPTORS__DATABASE_BACKEND: ${DATABASE_BACKEND}
    CPT_JSON_API__ALL_CLINICIAN_DESCRIPTORS__DATABASE_HOST: ${DATABASE_HOST}
    CPT_JSON_API__ALL_CLINICIAN_DESCRIPTORS__DATABASE_PORT: ${DATABASE_PORT}
    CPT_JSON_API__ALL_CLINICIAN_DESCRIPTORS__DATABASE_USERNAME: ${DATABASE_USERNAME}
    CPT_JSON_API__ALL_CLINICIAN_DESCRIPTORS__DATABASE_PASSWORD: ${DATABASE_PASSWORD}


    # GET /pla/details/{code}
    CPT_JSON_API__PLA_DETAILS__TASK_CLASS:  'datalabs.access.cpt.api.pla.PLADetailsEndpointTask'
    CPT_JSON_API__PLA_DETAILS__DATABASE_NAME:  ${DATABASE_NAME}
    CPT_JSON_API__PLA_DETAILS__DATABASE_BACKEND: ${DATABASE_BACKEND}
    CPT_JSON_API__PLA_DETAILS__DATABASE_HOST: ${DATABASE_HOST}
    CPT_JSON_API__PLA_DETAILS__DATABASE_PORT: ${DATABASE_PORT}
    CPT_JSON_API__PLA_DETAILS__DATABASE_USERNAME: ${DATABASE_USERNAME}
    CPT_JSON_API__PLA_DETAILS__DATABASE_PASSWORD: ${DATABASE_PASSWORD}


    # GET /pla/details
    CPT_JSON_API__ALL_PLA_DETAILS__TASK_CLASS:  'datalabs.access.cpt.api.pla.ALlPLADetailsEndpointTask'
    CPT_JSON_API__ALL_PLA_DETAILS__DATABASE_NAME:  ${DATABASE_NAME}
    CPT_JSON_API__ALL_PLA_DETAILS__DATABASE_BACKEND: ${DATABASE_BACKEND}
    CPT_JSON_API__ALL_PLA_DETAILS__DATABASE_HOST: ${DATABASE_HOST}
    CPT_JSON_API__ALL_PLA_DETAILS__DATABASE_PORT: ${DATABASE_PORT}
    CPT_JSON_API__ALL_PLA_DETAILS__DATABASE_USERNAME: ${DATABASE_USERNAME}
    CPT_JSON_API__ALL_PLA_DETAILS__DATABASE_PASSWORD: ${DATABASE_PASSWORD}


    # GET /modifier/{id}
    CPT_JSON_API__MODIFIER__TASK_CLASS:  'datalabs.access.cpt.api.modifier.ModifierEndpointTask'
    CPT_JSON_API__MODIFIER__DATABASE_NAME:  ${DATABASE_NAME}
    CPT_JSON_API__MODIFIER__DATABASE_BACKEND: ${DATABASE_BACKEND}
    CPT_JSON_API__MODIFIER__DATABASE_HOST: ${DATABASE_HOST}
    CPT_JSON_API__MODIFIER__DATABASE_PORT: ${DATABASE_PORT}
    CPT_JSON_API__MODIFIER__DATABASE_USERNAME: ${DATABASE_USERNAME}
    CPT_JSON_API__MODIFIER__DATABASE_PASSWORD: ${DATABASE_PASSWORD}


    # GET /modifiers
    CPT_JSON_API__MODIFIERS__TASK_CLASS:  'datalabs.access.cpt.api.modifier.AllModifierEndpointTask'
    CPT_JSON_API__MODIFIERS__DATABASE_NAME:  ${DATABASE_NAME}
    CPT_JSON_API__MODIFIERS__DATABASE_BACKEND: ${DATABASE_BACKEND}
    CPT_JSON_API__MODIFIERS__DATABASE_HOST: ${DATABASE_HOST}
    CPT_JSON_API__MODIFIERS__DATABASE_PORT: ${DATABASE_PORT}
    CPT_JSON_API__MODIFIERS__DATABASE_USERNAME: ${DATABASE_USERNAME}
    CPT_JSON_API__MODIFIERS__DATABASE_PASSWORD: ${DATABASE_PASSWORD}


    # GET /pdfs
    CPT_JSON_API__PDFS__TASK_CLASS:  'datalabs.access.cpt.api.pdf.LatestPDFsEndpointTask'
    CPT_JSON_API__PDFS__BUCKET: ${S3_DOWNLOADS_BUCKET}
    CPT_JSON_API__PDFS__BASE_PATH: ''
    CPT_JSON_API__PDFS__URL_DURATION: '600'


    # GET /releases
    CPT_JSON_API__RELEASES__TASK_CLASS:  'datalabs.access.cpt.api.release.ReleasesEndpointTask'
    CPT_JSON_API__RELEASES__DATABASE_NAME:  ${DATABASE_NAME}
    CPT_JSON_API__RELEASES__DATABASE_BACKEND: ${DATABASE_BACKEND}
    CPT_JSON_API__RELEASES__DATABASE_HOST: ${DATABASE_HOST}
    CPT_JSON_API__RELEASES__DATABASE_PORT: ${DATABASE_PORT}
    CPT_JSON_API__RELEASES__DATABASE_USERNAME: ${DATABASE_USERNAME}
    CPT_JSON_API__RELEASES__DATABASE_PASSWORD: ${DATABASE_PASSWORD}

    CPT_JSON_API__DEFAULT__TASK_CLASS:  'datalabs.access.cpt.api.default.DefaultEndpointTask'
