# Render as follows:
#
# update-dag-config -e sbx -p CPT -t json_api -v "database_password={{database_password}}"
---
data:
    #######################################################################
    # Global Variables - {"DAG": {"S": "CPT_JSON_API"}, "Task": {"S": "GLOBAL"}}
    #######################################################################

    ENVIRONMENT: dev
    ACCOUNT: '191296302136'

    S3_INGESTED_DATA_BUCKET: ama-${ENVIRONMENT}-datalake-ingest-us-east-1
    S3_PROCESSED_DATA_BUCKET: ama-${ENVIRONMENT}-datalake-process-us-east-1
    S3_DOWNLOADS_BUCKET: ama-${ENVIRONMENT}-cpt-downloads-us-east-1

    DATABASE_HOST: cpt-api-dev-db.cwp4vd8mllvz.us-east-1.rds.amazonaws.com
    DATABASE_PORT: '5432'
    DATABASE_BACKEND: 'postgresql+psycopg2'
    DATABASE_NAME: 'cpt'
    DATABASE_USERNAME:  cptadmin
    DATABASE_PASSWORD:  '{{database_password}}'

    S3_CACHE_CLASS: 'datalabs.etl.dag.cache.s3.S3TaskDataCache'
    S3_BASE_PATH: 'AMA/CPT'


    #######################################################################
    # DAG Variables - ({"DAG": {"S": "CPT_JSON_API"}, "Task": {"S": "API"}})
    #######################################################################

    CPT_JSON_API__API__TASK_RESOLVER_CLASS: 'datalabs.access.cpt.api.resolve.TaskResolver'


    ##########################################################################
    # Task Variables - ({"DAG": {"S": "CPT_JSON_API"}, "Task": {"S": "<Task ID>"}})
    ##########################################################################


    # GET /descriptor/{code}
    CPT_JSON_API__DESCRIPTOR__DATABASE_NAME:  ${DATABASE_NAME}
    CPT_JSON_API__DESCRIPTOR__DATABASE_BACKEND: ${DATABASE_BACKEND}
    CPT_JSON_API__DESCRIPTOR__DATABASE_HOST: ${DATABASE_HOST}
    CPT_JSON_API__DESCRIPTOR__DATABASE_PORT: ${DATABASE_PORT}
    CPT_JSON_API__DESCRIPTOR__DATABASE_USERNAME: ${DATABASE_USERNAME}
    CPT_JSON_API__DESCRIPTOR__DATABASE_PASSWORD: ${DATABASE_PASSWORD}


    # GET /descriptors
    CPT_JSON_API__DESCRIPTORS__DATABASE_NAME:  ${DATABASE_NAME}
    CPT_JSON_API__DESCRIPTORS__DATABASE_BACKEND: ${DATABASE_BACKEND}
    CPT_JSON_API__DESCRIPTORS__DATABASE_HOST: ${DATABASE_HOST}
    CPT_JSON_API__DESCRIPTORS__DATABASE_PORT: ${DATABASE_PORT}
    CPT_JSON_API__DESCRIPTORS__DATABASE_USERNAME: ${DATABASE_USERNAME}
    CPT_JSON_API__DESCRIPTORS__DATABASE_PASSWORD: ${DATABASE_PASSWORD}


    # GET /consumer/descriptor/{code}
    CPT_JSON_API__CONSUMER_DESCRIPTOR__DATABASE_NAME:  ${DATABASE_NAME}
    CPT_JSON_API__CONSUMER_DESCRIPTOR__DATABASE_BACKEND: ${DATABASE_BACKEND}
    CPT_JSON_API__CONSUMER_DESCRIPTOR__DATABASE_HOST: ${DATABASE_HOST}
    CPT_JSON_API__CONSUMER_DESCRIPTOR__DATABASE_PORT: ${DATABASE_PORT}
    CPT_JSON_API__CONSUMER_DESCRIPTOR__DATABASE_USERNAME: ${DATABASE_USERNAME}
    CPT_JSON_API__CONSUMER_DESCRIPTOR__DATABASE_PASSWORD: ${DATABASE_PASSWORD}


    # GET /consumer/descriptors
    CPT_JSON_API__CONSUMER_DESCRIPTORS__DATABASE_NAME:  ${DATABASE_NAME}
    CPT_JSON_API__CONSUMER_DESCRIPTORS__DATABASE_BACKEND: ${DATABASE_BACKEND}
    CPT_JSON_API__CONSUMER_DESCRIPTORS__DATABASE_HOST: ${DATABASE_HOST}
    CPT_JSON_API__CONSUMER_DESCRIPTORS__DATABASE_PORT: ${DATABASE_PORT}
    CPT_JSON_API__CONSUMER_DESCRIPTORS__DATABASE_USERNAME: ${DATABASE_USERNAME}
    CPT_JSON_API__CONSUMER_DESCRIPTORS__DATABASE_PASSWORD: ${DATABASE_PASSWORD}


    # GET /clinician/descriptors/{code}
    CPT_JSON_API__CONSUMER_DESCRIPTOR__DATABASE_NAME:  ${DATABASE_NAME}
    CPT_JSON_API__CONSUMER_DESCRIPTOR__DATABASE_BACKEND: ${DATABASE_BACKEND}
    CPT_JSON_API__CONSUMER_DESCRIPTOR__DATABASE_HOST: ${DATABASE_HOST}
    CPT_JSON_API__CONSUMER_DESCRIPTOR__DATABASE_PORT: ${DATABASE_PORT}
    CPT_JSON_API__CONSUMER_DESCRIPTOR__DATABASE_USERNAME: ${DATABASE_USERNAME}
    CPT_JSON_API__CONSUMER_DESCRIPTOR__DATABASE_PASSWORD: ${DATABASE_PASSWORD}


    # GET /clinician/descriptors
    CPT_JSON_API__ALL_CLINICIAN_DESCRIPTORS__DATABASE_NAME:  ${DATABASE_NAME}
    CPT_JSON_API__ALL_CLINICIAN_DESCRIPTORS__DATABASE_BACKEND: ${DATABASE_BACKEND}
    CPT_JSON_API__ALL_CLINICIAN_DESCRIPTORS__DATABASE_HOST: ${DATABASE_HOST}
    CPT_JSON_API__ALL_CLINICIAN_DESCRIPTORS__DATABASE_PORT: ${DATABASE_PORT}
    CPT_JSON_API__ALL_CLINICIAN_DESCRIPTORS__DATABASE_USERNAME: ${DATABASE_USERNAME}
    CPT_JSON_API__ALL_CLINICIAN_DESCRIPTORS__DATABASE_PASSWORD: ${DATABASE_PASSWORD}


    # GET /pla/details/{code}
    CPT_JSON_API__PLA_DETAILS__DATABASE_NAME:  ${DATABASE_NAME}
    CPT_JSON_API__PLA_DETAILS__DATABASE_BACKEND: ${DATABASE_BACKEND}
    CPT_JSON_API__PLA_DETAILS__DATABASE_HOST: ${DATABASE_HOST}
    CPT_JSON_API__PLA_DETAILS__DATABASE_PORT: ${DATABASE_PORT}
    CPT_JSON_API__PLA_DETAILS__DATABASE_USERNAME: ${DATABASE_USERNAME}
    CPT_JSON_API__PLA_DETAILS__DATABASE_PASSWORD: ${DATABASE_PASSWORD}


    # GET /pla/details
    CPT_JSON_API__ALL_PLA_DETAILS__DATABASE_NAME:  ${DATABASE_NAME}
    CPT_JSON_API__ALL_PLA_DETAILS__DATABASE_BACKEND: ${DATABASE_BACKEND}
    CPT_JSON_API__ALL_PLA_DETAILS__DATABASE_HOST: ${DATABASE_HOST}
    CPT_JSON_API__ALL_PLA_DETAILS__DATABASE_PORT: ${DATABASE_PORT}
    CPT_JSON_API__ALL_PLA_DETAILS__DATABASE_USERNAME: ${DATABASE_USERNAME}
    CPT_JSON_API__ALL_PLA_DETAILS__DATABASE_PASSWORD: ${DATABASE_PASSWORD}


    # GET /modifier/{id}
    CPT_JSON_API__MODIFIER__DATABASE_NAME:  ${DATABASE_NAME}
    CPT_JSON_API__MODIFIER__DATABASE_BACKEND: ${DATABASE_BACKEND}
    CPT_JSON_API__MODIFIER__DATABASE_HOST: ${DATABASE_HOST}
    CPT_JSON_API__MODIFIER__DATABASE_PORT: ${DATABASE_PORT}
    CPT_JSON_API__MODIFIER__DATABASE_USERNAME: ${DATABASE_USERNAME}
    CPT_JSON_API__MODIFIER__DATABASE_PASSWORD: ${DATABASE_PASSWORD}


    # GET /modifiers
    CPT_JSON_API__MODIFIERS__DATABASE_NAME:  ${DATABASE_NAME}
    CPT_JSON_API__MODIFIERS__DATABASE_BACKEND: ${DATABASE_BACKEND}
    CPT_JSON_API__MODIFIERS__DATABASE_HOST: ${DATABASE_HOST}
    CPT_JSON_API__MODIFIERS__DATABASE_PORT: ${DATABASE_PORT}
    CPT_JSON_API__MODIFIERS__DATABASE_USERNAME: ${DATABASE_USERNAME}
    CPT_JSON_API__MODIFIERS__DATABASE_PASSWORD: ${DATABASE_PASSWORD}


    # GET /pdfs
    CPT_JSON_API__PDFS__BUCKET: ${S3_DOWNLOADS_BUCKET}
    CPT_JSON_API__PDFS__BASE_PATH: ''
    CPT_JSON_API__PDFS__URL_DURATION: '600'


    # GET /releases
    CPT_JSON_API__RELEASES__DATABASE_NAME:  ${DATABASE_NAME}
    CPT_JSON_API__RELEASES__DATABASE_BACKEND: ${DATABASE_BACKEND}
    CPT_JSON_API__RELEASES__DATABASE_HOST: ${DATABASE_HOST}
    CPT_JSON_API__RELEASES__DATABASE_PORT: ${DATABASE_PORT}
    CPT_JSON_API__RELEASES__DATABASE_USERNAME: ${DATABASE_USERNAME}
    CPT_JSON_API__RELEASES__DATABASE_PASSWORD: ${DATABASE_PASSWORD}
