---
KNOWLEDGE_BASE_API:
    GLOBAL:
        ENVIRONMENT: dev
        ACCOUNT: '191296302136'
        DATABASE_TABLE: 'CPT-API-knowledge-base-${ENVIRONMENT}'
        OPENSEARCH_URL: 'hsudgkzt7rdoshk6po8b.us-east-1.aoss.amazonaws.com'

    ROUTE:
        ARTICLES_SUMMARY: '/knowledge_base/articles/summary'
        ARTICLE: '/knowledge_base/article/*'
        DEFAULT: '/knowledge_base/*'

    ARTICLES_SUMMARY:
        TASK_CLASS: 'datalabs.access.cpt.api.knowledge_base.MapSearchEndpointTask'
        HOST_URL:  ${OPENSEARCH_URL}
        INDEX_NAME: 'knowledge_base'

    ARTICLE:
        TASK_CLASS: 'datalabs.access.cpt.api.knowledge_base.GetArticleTask'
        HOST_URL: ${OPENSEARCH_URL}
        INDEX_NAME: 'knowledge_base'

    DEFAULT:
        TASK_CLASS:  'datalabs.access.cpt.api.default.DefaultEndpointTask'
