---
CPT_API_KB:
    GLOBAL:
        ENVIRONMENT: dev
        ACCOUNT: '191296302136'

        DATABASE_TABLE: 'CPT-API-knowledge-base-${ENVIRONMENT}'

    ROUTE:
        MAPS: '/kb/maps/cpt'
        DEFAULT: '/*'

    MAPS:
        TASK_CLASS: 'datalabs.access.cpt.api.kb.MapSearchEndpointTask'
        DATABASE_TABLE:  ${DATABASE_TABLE}
        DATABASE_INDEX:  'SearchIndex'

    DEFAULT:
        TASK_CLASS:  'datalabs.access.cpt.api.default.DefaultEndpointTask'
