# update-dag-config -e dev -p CPT -t snomed_etl"
---
data:
    #######################################################################
    # Global Variables - {"DAG": {"S": "SNOMED_CPT_ETL"}, "Task": {"S": "GLOBAL"}}
    #######################################################################

    ENVIRONMENT: dev
    ACCOUNT: '191296302136'

    S3_INGESTED_DATA_BUCKET: ama-${ENVIRONMENT}-datalake-ingest-us-east-1
    S3_PROCESSED_DATA_BUCKET: ama-${ENVIRONMENT}-datalake-process-us-east-1
    S3_STAGED_DATA_BUCKET: ama-${ENVIRONMENT}-datalake-staged-us-east-1


    S3_CACHE_CLASS: 'datalabs.etl.dag.cache.s3.S3TaskDataCache'
    S3_BASE_PATH: 'AMA/SNOMED'


    #######################################################################
    # DAG Variables - ({"DAG": {"S": "SNOMED_CPT_ETL"}, "Task": {"S": "DAG"}})
    #######################################################################

    SNOMED_CPT_ETL__DAG__LAMBDA_FUNCTION: 'CPT-API-${ENVIRONMENT}-SNOMED-DAG'
    SNOMED_CPT_ETL__DAG__DAG_CLASS: 'datalabs.etl.dag.cpt.snomed.DAG'
    SNOMED_CPT_ETL__DAG__DAG_STATE_CLASS: 'datalabs.etl.dag.state.dynamodb.DAGState'
    SNOMED_CPT_ETL__DAG__DAG_STATE_TABLE: 'DataLake-dag-state-${ENVIRONMENT}'
    SNOMED_CPT_ETL__DAG__STATE_LOCK_TABLE: 'DataLake-scheduler-locks-${ENVIRONMENT}'
    SNOMED_CPT_ETL__DAG__DAG_TOPIC_ARN: 'arn:aws:sns:us-east-1:${ACCOUNT}:DataLake-${ENVIRONMENT}-DAGProcessor'
    SNOMED_CPT_ETL__DAG__TASK_TOPIC_ARN: 'arn:aws:sns:us-east-1:${ACCOUNT}:DataLake-${ENVIRONMENT}-TaskProcessor'
    SNOMED_CPT_ETL__DAG__DAG_EXECUTOR_CLASS: 'datalabs.etl.dag.execute.awslambda.LambdaDAGExecutorTask'
    SNOMED_CPT_ETL__DAG__TASK_EXECUTOR_CLASS: 'datalabs.etl.dag.execute.awslambda.LambdaTaskExecutorTask'


    ##########################################################################
    # Task Variables - ({"DAG": {"S": "SNOMED_CPT_ETL"}, "Task": {"S": "<Task ID>"}})
    ##########################################################################

    # Extract snomed file
    SNOMED_CPT_ETL__EXTRACT_SNOMED_FILE__BUCKET: ${S3_STAGED_DATA_BUCKET}
    SNOMED_CPT_ETL__EXTRACT_SNOMED_FILE__BASE_PATH: ${S3_BASE_PATH}
    SNOMED_CPT_ETL__EXTRACT_SNOMED_FILE__FILES: snomed_cpt_map_fsn_descr_20230131.xlsx
    SNOMED_CPT_ETL__EXTRACT_SNOMED_FILE__INCLUDE_DATESTAMP: 'False'
    SNOMED_CPT_ETL__EXTRACT_SNOMED_FILE__CACHE_OUTPUT_CLASS: ${S3_CACHE_PYTHON_CLASS}
    SNOMED_CPT_ETL__EXTRACT_SNOMED_FILE__CACHE_OUTPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
    SNOMED_CPT_ETL__EXTRACT_SNOMED_FILE__CACHE_OUTPUT_BASE_PATH: ${S3_BASE_PATH}
    SNOMED_CPT_ETL__EXTRACT_SNOMED_FILE__CACHE_OUTPUT_FILES: 'snomed_mapping.xlsx'
