---
CPT_VIGNETTES_API:
    GLOBAL:
        ENVIRONMENT: dev
        ACCOUNT: '191296302136'

        DATABASE_TABLE: 'CPT-API-vignettes-${ENVIRONMENT}'

    ROUTE:
        MAP: '/vignettes/vignette/*'
        DEFAULT: '/*'

    MAP:
        TASK_CLASS: 'datalabs.access.cpt.api.vignettes.MapLookupEndpointTask'
        DATABASE_TABLE:  ${DATABASE_TABLE}
    
    DEFAULT:
        TASK_CLASS:  'datalabs.access.cpt.api.default.DefaultEndpointTask'