# Render as follows:
#
# update-dag-config -e sbx -p CPT -t zip_api -v "database_password={{database_password}}"
---
data:
    #######################################################################
    # Global Variables - {"DAG": {"S": "CPT_ZIP_API"}, "Task": {"S": "GLOBAL"}}
    #######################################################################

    ENVIRONMENT: dev
    ACCOUNT: '191296302136'

    S3_DOWNLOADS_BUCKET: ama-${ENVIRONMENT}-cpt-downloads-us-east-1

    DATABASE_HOST: cpt-api-dev-db.cwp4vd8mllvz.us-east-1.rds.amazonaws.com
    DATABASE_PORT: '5432'
    DATABASE_BACKEND: 'postgresql+psycopg2'
    DATABASE_NAME: 'cpt'
    DATABASE_USERNAME:  cptadmin
    DATABASE_PASSWORD:  '{{database_password}}'


    #######################################################################
    # Route Variables - ({"DAG": {"S": "CPT_ZIP_API"}, "Task": {"S": "API"}})
    #######################################################################

    CPT_ZIP_API__ROUTE__FILES: '/bulk_zip/files'
    CPT_ZIP_API__ROUTE__RELEASES: '/bulk_zip/releases'
    CPT_ZIP_API__ROUTE__DEFAULT: '/*'


    ##########################################################################
    # Task Variables - ({"DAG": {"S": "CPT_ZIP_API"}, "Task": {"S": "<Task ID>"}})
    ##########################################################################


    # GET /files
    CPT_ZIP_API__FILES__TASK_CLASS: 'datalabs.access.cpt.api.bulk.FilesEndpointTask'
    CPT_ZIP_API__FILES__BUCKET: ${S3_DOWNLOADS_BUCKET}
    CPT_ZIP_API__FILES__BASE_PATH: ''
    CPT_ZIP_API__FILES__URL_DURATION: '600'


    # GET /releases
    CPT_ZIP_API__RELEASES__TASK_CLASS: 'datalabs.access.cpt.api.release.ReleasesEndpointTask'
    CPT_ZIP_API__RELEASES__DATABASE_NAME:  ${DATABASE_NAME}
    CPT_ZIP_API__RELEASES__DATABASE_BACKEND: ${DATABASE_BACKEND}
    CPT_ZIP_API__RELEASES__DATABASE_HOST: ${DATABASE_HOST}
    CPT_ZIP_API__RELEASES__DATABASE_PORT: ${DATABASE_PORT}
    CPT_ZIP_API__RELEASES__DATABASE_USERNAME: ${DATABASE_USERNAME}
    CPT_ZIP_API__RELEASES__DATABASE_PASSWORD: ${DATABASE_PASSWORD}


    # default
    CPT_ZIP_API__DEFAULT__TASK_CLASS:  'datalabs.access.cpt.api.default.DefaultEndpointTask'
