{
    "CONTACT_ID_ETCD_PASSWORD": "{{contact_id_etcd_password}}",
    "CONTACT_ID_IMAGE": "docker-registry.default.svc:5000/hsg-data-labs-dev/contact-id:1.0.33",
    "DBL_IMAGE": "docker-registry.default.svc:5000/hsg-data-labs-dev/dbl:1.0.20",
    "DEPLOYMENT_ID": "dev",
    "ETCD_HOST": "hsg-data-labs-etcd.apps.openshifttest.ama-assn.org",
    "ONEVIEW_ETCD_PASSWORD": "{{oneview_etcd_password}}",
    "ONEVIEW_IMAGE": "docker-registry.default.svc:5000/hsg-data-labs-dev/oneview-etl:1.3.6",
    "ADDRESS_LOAD_AGGREGATION_IMAGE": "docker-registry.default.svc:5000/hsg-data-labs-dev/address-load-compiler:1.0.0"
}
