---
VERICRE_PROFILES_ETL:
    GLOBAL:
        ENVIRONMENT: dev
        ACCOUNT: '191296302136'

        # CAQH_USERNAME: DeepakA123
        # CAQH_PASSWORD: '{{caqh_password}}'

        EFT_HOST: efttest.ama-assn.org
        EFT_USERNAME: vericretst
        EFT_PASSWORD: '{{eft_password}}'

        S3_INGESTED_DATA_BUCKET: ama-${ENVIRONMENT}-datalake-ingest-us-east-1
        S3_PROCESSED_DATA_BUCKET: ama-${ENVIRONMENT}-datalake-process-us-east-1
        S3_STAGED_DATA_BUCKET: ama-${ENVIRONMENT}-datalake-staged-us-east-1

        S3_CACHE_PYTHON_CLASS: 'datalabs.etl.dag.cache.s3.S3TaskDataCache'
        S3_BASE_PATH: 'AMA/VeriCre/Profiles'

    DAG:
        LAMBDA_FUNCTION: 'VeriCre-${ENVIRONMENT}-Profiles-DAG'
        DAG_CLASS: 'datalabs.etl.dag.vericre.profile.DAG'
        DAG_STATE:
            CLASS: 'datalabs.etl.dag.state.dynamodb.DAGState'
            STATE_TABLE: 'DataLake-dag-state-${ENVIRONMENT}'
            LOCK_TABLE: 'DataLake-scheduler-locks-${ENVIRONMENT}'
        DAG_TOPIC_ARN: 'arn:aws:sns:us-east-1:${ACCOUNT}:DataLake-${ENVIRONMENT}-DAGProcessor'
        TASK_TOPIC_ARN: 'arn:aws:sns:us-east-1:${ACCOUNT}:DataLake-${ENVIRONMENT}-TaskProcessor'
        DAG_EXECUTOR_CLASS: 'datalabs.etl.dag.execute.awslambda.LambdaDAGExecutorTask'
        TASK_EXECUTOR_CLASS: 'datalabs.etl.dag.execute.awslambda.LambdaTaskExecutorTask'

    EXTRACT_AMA_PHYSICIAN_PROFILES:
        HOST: ${EFT_HOST}
        USERNAME: ${EFT_USERNAME}
        PASSWORD: ${EFT_PASSWORD}
        BASE_PATH: "./"
        FILES: ABMS_DATA.psv,DEA_DATA.psv,DEMOG_DATA.psv,LICENSE_DATA.psv,MED_SCH_DATA.psv,MED_TRAIN_DATA.psv,NPI_DATA.psv,SANCTIONS_DATA.psv

        CACHE_OUTPUT_CLASS: ${S3_CACHE_PYTHON_CLASS}
        CACHE_OUTPUT_BASE_PATH: ${S3_BASE_PATH}
        CACHE_OUTPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
        CACHE_OUTPUT_FILES: ABMS_DATA.psv,DEA_DATA.psv,DEMOG_DATA.psv,LICENSE_DATA.psv,MED_SCH_DATA.psv,MED_TRAIN_DATA.psv,NPI_DATA.psv,SANCTIONS_DATA.psv

    STANDARDIZE_ABMS_DATES:
        CACHE_CLASS: ${S3_CACHE_PYTHON_CLASS}
        CACHE_BASE_PATH: ${S3_BASE_PATH}

        CACHE_INPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
        CACHE_INPUT_FILES: ABMS_DATA.psv

        COLUMNS: ENUMERATION_DT, DEACTIVATION_DT, REACTIVATION_DT, RPTD_DT, END_DT, BIRTH_DT, DEATH_DT, PRA_EXPR_DT, DEA_AS_OF_DT, DEA_EXPR_DT, GRAD_DT, MATRICULATION_DT, EFFECTIVE_DT, EXPIRATION_DT, LAST_REPORTED_DT, BEGIN_DT, LIC_ISSUE_DT, LIC_EXP_DT, LIC_AS_OF_DT, LIC_RNW_DT
        INPUT_FORMAT: '%M/%d/%Y'
        SEPARATOR: '|'

        CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_OUTPUT_FILES: ABMS_DATA_STD.psv

    STANDARDIZE_DEA_DATES:
        CACHE_CLASS: ${S3_CACHE_PYTHON_CLASS}
        CACHE_BASE_PATH: ${S3_BASE_PATH}

        CACHE_INPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
        CACHE_INPUT_FILES: DEA_DATA.psv

        COLUMNS: ENUMERATION_DT, DEACTIVATION_DT, REACTIVATION_DT, RPTD_DT, END_DT, BIRTH_DT, DEATH_DT, PRA_EXPR_DT, DEA_AS_OF_DT, DEA_EXPR_DT, GRAD_DT, MATRICULATION_DT, EFFECTIVE_DT, EXPIRATION_DT, LAST_REPORTED_DT, BEGIN_DT, LIC_ISSUE_DT, LIC_EXP_DT, LIC_AS_OF_DT, LIC_RNW_DT
        INPUT_FORMAT: '%M/%d/%Y'
        SEPARATOR: '|'

        CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_OUTPUT_FILES: DEA_DATA_STD.psv

    STANDARDIZE_DEMOGRAPHICS_DATES:
        CACHE_CLASS: ${S3_CACHE_PYTHON_CLASS}
        CACHE_BASE_PATH: ${S3_BASE_PATH}

        CACHE_INPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
        CACHE_INPUT_FILES: DEMOG_DATA.psv

        COLUMNS: ENUMERATION_DT, DEACTIVATION_DT, REACTIVATION_DT, RPTD_DT, END_DT, BIRTH_DT, DEATH_DT, PRA_EXPR_DT, DEA_AS_OF_DT, DEA_EXPR_DT, GRAD_DT, MATRICULATION_DT, EFFECTIVE_DT, EXPIRATION_DT, LAST_REPORTED_DT, BEGIN_DT, LIC_ISSUE_DT, LIC_EXP_DT, LIC_AS_OF_DT, LIC_RNW_DT
        INPUT_FORMAT: '%M/%d/%Y'
        SEPARATOR: '|'

        CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_OUTPUT_FILES: DEMOG_DATA_STD.psv

    STANDARDIZE_LICENSES_DATES:
        CACHE_CLASS: ${S3_CACHE_PYTHON_CLASS}
        CACHE_BASE_PATH: ${S3_BASE_PATH}

        CACHE_INPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
        CACHE_INPUT_FILES: LICENSE_DATA.psv

        COLUMNS: ENUMERATION_DT, DEACTIVATION_DT, REACTIVATION_DT, RPTD_DT, END_DT, BIRTH_DT, DEATH_DT, PRA_EXPR_DT, DEA_AS_OF_DT, DEA_EXPR_DT, GRAD_DT, MATRICULATION_DT, EFFECTIVE_DT, EXPIRATION_DT, LAST_REPORTED_DT, BEGIN_DT, LIC_ISSUE_DT, LIC_EXP_DT, LIC_AS_OF_DT, LIC_RNW_DT
        INPUT_FORMAT: '%M/%d/%Y'
        SEPARATOR: '|'

        CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_OUTPUT_FILES: LICENSE_DATA_STD.psv

    STANDARDIZE_MEDICAL_SCHOOLS_DATES:
        CACHE_CLASS: ${S3_CACHE_PYTHON_CLASS}
        CACHE_BASE_PATH: ${S3_BASE_PATH}

        CACHE_INPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
        CACHE_INPUT_FILES: MED_SCH_DATA.psv

        COLUMNS: ENUMERATION_DT, DEACTIVATION_DT, REACTIVATION_DT, RPTD_DT, END_DT, BIRTH_DT, DEATH_DT, PRA_EXPR_DT, DEA_AS_OF_DT, DEA_EXPR_DT, GRAD_DT, MATRICULATION_DT, EFFECTIVE_DT, EXPIRATION_DT, LAST_REPORTED_DT, BEGIN_DT, LIC_ISSUE_DT, LIC_EXP_DT, LIC_AS_OF_DT, LIC_RNW_DT
        INPUT_FORMAT: '%M/%d/%Y'
        SEPARATOR: '|'

        CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_OUTPUT_FILES: MED_SCH_DATA_STD.psv

    STANDARDIZE_MEDICAL_TRAINING_DATES:
        CACHE_CLASS: ${S3_CACHE_PYTHON_CLASS}
        CACHE_BASE_PATH: ${S3_BASE_PATH}

        CACHE_INPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
        CACHE_INPUT_FILES: MED_TRAIN_DATA.psv

        COLUMNS: ENUMERATION_DT, DEACTIVATION_DT, REACTIVATION_DT, RPTD_DT, END_DT, BIRTH_DT, DEATH_DT, PRA_EXPR_DT, DEA_AS_OF_DT, DEA_EXPR_DT, GRAD_DT, MATRICULATION_DT, EFFECTIVE_DT, EXPIRATION_DT, LAST_REPORTED_DT, BEGIN_DT, LIC_ISSUE_DT, LIC_EXP_DT, LIC_AS_OF_DT, LIC_RNW_DT
        INPUT_FORMAT: '%M/%d/%Y'
        SEPARATOR: '|'

        CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_OUTPUT_FILES: MED_TRAIN_DATA_STD.psv

    STANDARDIZE_NPI_DATES:
        CACHE_CLASS: ${S3_CACHE_PYTHON_CLASS}
        CACHE_BASE_PATH: ${S3_BASE_PATH}

        CACHE_INPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
        CACHE_INPUT_FILES: NPI_DATA.psv

        COLUMNS: ENUMERATION_DT, DEACTIVATION_DT, REACTIVATION_DT, RPTD_DT, END_DT, BIRTH_DT, DEATH_DT, PRA_EXPR_DT, DEA_AS_OF_DT, DEA_EXPR_DT, GRAD_DT, MATRICULATION_DT, EFFECTIVE_DT, EXPIRATION_DT, LAST_REPORTED_DT, BEGIN_DT, LIC_ISSUE_DT, LIC_EXP_DT, LIC_AS_OF_DT, LIC_RNW_DT
        INPUT_FORMAT: '%M/%d/%Y'
        SEPARATOR: '|'

        CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_OUTPUT_FILES: NPI_DATA_STD.psv

    STANDARDIZE_SANCTIONS_DATES:
        CACHE_CLASS: ${S3_CACHE_PYTHON_CLASS}
        CACHE_BASE_PATH: ${S3_BASE_PATH}

        CACHE_INPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
        CACHE_INPUT_FILES: SANCTIONS_DATA.psv

        COLUMNS: ENUMERATION_DT, DEACTIVATION_DT, REACTIVATION_DT, RPTD_DT, END_DT, BIRTH_DT, DEATH_DT, PRA_EXPR_DT, DEA_AS_OF_DT, DEA_EXPR_DT, GRAD_DT, MATRICULATION_DT, EFFECTIVE_DT, EXPIRATION_DT, LAST_REPORTED_DT, BEGIN_DT, LIC_ISSUE_DT, LIC_EXP_DT, LIC_AS_OF_DT, LIC_RNW_DT
        INPUT_FORMAT: '%M/%d/%Y'
        SEPARATOR: '|'

        CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_OUTPUT_FILES: SANCTIONS_DATA_STD.psv

    CREATE_AMA_PROFILE_TABLE:
        __MACRO_COUNT__: 3

        CACHE_CLASS: ${S3_CACHE_PYTHON_CLASS}
        CACHE_BASE_PATH: ${S3_BASE_PATH}

        CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_INPUT_FILES: abms.feather, dea.feather, demographics___MACRO_INDEX__.feather, licenses.feather, medical_schools.feather, medical_training.feather, npi.feather, sanctions.feather

        CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_OUTPUT_FILES: 'ama_masterfile.feather'

    CREATE_ABMS:
        CACHE_CLASS: ${S3_CACHE_PYTHON_CLASS}
        CACHE_BASE_PATH: ${S3_BASE_PATH}

        CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_INPUT_FILES: ABMS_DATA_STD.psv

        CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_OUTPUT_FILES: 'abms.feather'

    CREATE_DEA:
        CACHE_CLASS: ${S3_CACHE_PYTHON_CLASS}
        CACHE_BASE_PATH: ${S3_BASE_PATH}

        CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_INPUT_FILES: DEA_DATA_STD.psv

        CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_OUTPUT_FILES: 'dea.feather'

    CREATE_DEMOGRAPHICS:
        __MACRO_COUNT__: 20

        CACHE_CLASS: ${S3_CACHE_PYTHON_CLASS}
        CACHE_BASE_PATH: ${S3_BASE_PATH}

        CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_INPUT_FILES: DEMOG_DATA_STD___MACRO_INDEX__.psv

        CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_OUTPUT_FILES: 'demographics___MACRO_INDEX__.feather'

    CREATE_LICENSES:
        CACHE_CLASS: ${S3_CACHE_PYTHON_CLASS}
        CACHE_BASE_PATH: ${S3_BASE_PATH}

        CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_INPUT_FILES: LICENSE_DATA_STD.psv

        CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_OUTPUT_FILES: 'licenses.feather'

    CREATE_MEDICAL_SCHOOLS:
        CACHE_CLASS: ${S3_CACHE_PYTHON_CLASS}
        CACHE_BASE_PATH: ${S3_BASE_PATH}

        CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_INPUT_FILES: MED_SCH_DATA_STD.psv

        CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_OUTPUT_FILES: 'medical_schools.feather'

    CREATE_MEDICAL_TRAINING:
        CACHE_CLASS: ${S3_CACHE_PYTHON_CLASS}
        CACHE_BASE_PATH: ${S3_BASE_PATH}

        CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_INPUT_FILES: MED_TRAIN_DATA_STD.psv

        CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_OUTPUT_FILES: 'medical_training.feather'

    CREATE_NPI:
        CACHE_CLASS: ${S3_CACHE_PYTHON_CLASS}
        CACHE_BASE_PATH: ${S3_BASE_PATH}

        CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_INPUT_FILES: NPI_DATA_STD.psv

        CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_OUTPUT_FILES: 'npi.feather'

    CREATE_SANCTIONS:
        CACHE_CLASS: ${S3_CACHE_PYTHON_CLASS}
        CACHE_BASE_PATH: ${S3_BASE_PATH}

        CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_INPUT_FILES: SANCTIONS_DATA_STD.psv

        CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_OUTPUT_FILES: 'sanctions.feather'

    CONVERT_AMA_MASTERFILE_TO_JSON:
        __MACRO_COUNT__: 3

        CACHE_CLASS: ${S3_CACHE_PYTHON_CLASS}
        CACHE_BASE_PATH: ${S3_BASE_PATH}

        CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_INPUT_FILES: 'ama_masterfile___MACRO_INDEX__.feather'

        CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_OUTPUT_FILES: >
            ama_masterfile___MACRO_INDEX__.json

    LOAD_AMA_MASTERFILE_TABLE:
        __MACRO_COUNT__: 3
        CACHE_CLASS: ${S3_CACHE_PYTHON_CLASS}
        CACHE_BASE_PATH: ${S3_BASE_PATH}

        CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_INPUT_FILES: 'ama_masterfile__MACRO_INDEX__.json'

        LEDGER: vericre-${ENVIRONMENT}-ledger
        TABLE: ama_masterfile
        PRIMARY_KEY: entityId

        CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_OUTPUT_FILES: ama_masterfile_added__MACRO_INDEX__.json, ama_masterfile_updated__MACRO_INDEX__.json

    SPLIT_DEMOGRAPHICS:
        CACHE_CLASS: ${S3_CACHE_PYTHON_CLASS}
        CACHE_BASE_PATH: ${S3_BASE_PATH}

        CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_INPUT_FILES: 'DEMOG_DATA_STD.psv'

        COUNT: 20
        SEPARATOR: '|'

        CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_OUTPUT_FILES: >
            DEMOG_DATA_STD_0.psv,  DEMOG_DATA_STD_1.psv, DEMOG_DATA_STD_2.psv,
            DEMOG_DATA_STD_3.psv,  DEMOG_DATA_STD_4.psv, DEMOG_DATA_STD_5.psv,
            DEMOG_DATA_STD_6.psv,  DEMOG_DATA_STD_7.psv, DEMOG_DATA_STD_8.psv,
            DEMOG_DATA_STD_9.psv, DEMOG_DATA_STD_10.psv, DEMOG_DATA_STD_11.psv,
            DEMOG_DATA_STD_12.psv, DEMOG_DATA_STD_13.psv, DEMOG_DATA_STD_14.psv,
            DEMOG_DATA_STD_15.psv, DEMOG_DATA_STD_16.psv, DEMOG_DATA_STD_17.psv,
            DEMOG_DATA_STD_18.psv, DEMOG_DATA_STD_19.psv
            # NIKHIL TRIVEDI CHANGE TODO

    #CREATE_CAQH_STATUS_URLS:
        #CACHE_CLASS: ${S3_CACHE_PYTHON_CLASS}
        #CACHE_BASE_PATH: ${S3_BASE_PATH}

        #USERNAME: ${CAQH_USERNAME}
        #PASSWORD: ${CAQH_PASSWORD}

        #CACHE_INPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
        #CACHE_INPUT_FILES: 'caqh_profile_statuses.pkl'

        #CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        #CACHE_OUTPUT_FILES: 'caqh_profile_urls.txtv'

    #EXTRACT_CAQH_PROFILE_STATUSES:
        #CACHE_CLASS: ${S3_CACHE_PYTHON_CLASS}
        #CACHE_BASE_PATH: ${S3_BASE_PATH}

        #USERNAME: ${CAQH_USERNAME}
        #PASSWORD: ${CAQH_PASSWORD}

        #CACHE_INPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
        #CACHE_INPUT_FILES: 'caqh_profile_urls.txt'

        #CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        #CACHE_OUTPUT_FILES: 'caqh_profile_statuses.pkl'

    #CREATE_CAQH_PROFILE_URLS:
        #CACHE_CLASS: ${S3_CACHE_PYTHON_CLASS}
        #CACHE_BASE_PATH: ${S3_BASE_PATH}

        #USERNAME: ${CAQH_USERNAME}
        #PASSWORD: ${CAQH_PASSWORD}

        #CACHE_INPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
        #CACHE_INPUT_FILES: 'caqh_profile_statuses.pkl'

        #CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        #CACHE_OUTPUT_FILES: 'caqh_profile_urls.txt'

    #EXTRACT_CAQH_PHYSICIAN_PROFILES:
        #CACHE_CLASS: ${S3_CACHE_PYTHON_CLASS}
        #CACHE_BASE_PATH: ${S3_BASE_PATH}

        #USERNAME: ${CAQH_USERNAME}
        #PASSWORD: ${CAQH_PASSWORD}

        #CACHE_INPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
        #CACHE_INPUT_FILES: 'caqh_profile_urls.txt'

        #CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        #CACHE_OUTPUT_FILES: 'caqh_profiles.csv'

    #CREATE_CAQH_PROFILE_TABLE:
        #CACHE_CLASS: ${S3_CACHE_PYTHON_CLASS}
        #CACHE_BASE_PATH: ${S3_BASE_PATH}

        #CACHE_INPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
        #CACHE_INPUT_FILES: ''

        #CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        #CACHE_OUTPUT_FILES: 'caqh_profiles.csv'

    #LOAD_CAQH_PROFILE_TABLE:
        #CACHE_CLASS: ${S3_CACHE_PYTHON_CLASS}
        #CACHE_BASE_PATH: ${S3_BASE_PATH}

        #LEDGER: vericre-sbx-ledger
        #TABLE: loader_development
        #PRIMARY_KEY: entityId

        #CACHE_INPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
        #CACHE_INPUT_FILES: 'caqh_profile.json'

        #CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        #CACHE_OUTPUT_FILES: 'caqh_profiles.csv'

    #SYNC_PROFILES_TO_DATABASE:
        #CACHE_INPUT_CLASS: ${S3_CACHE_PYTHON_CLASS}
        #CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
        #CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        #CACHE_INPUT_FILES: ama_masterfile_added.json, ama_masterfile_updated.json

        #HOST=internal-vericre-dev-backend-api-alb-1741917255.us-east-1.elb.amazonaws.com
        #SSL_VERIFICATION=False
