---
HELLO_WORLD:
    GLOBAL:
        ENVIRONMENT: sbx
        ACCOUNT: '644454719059'

    DAG:

        LAMBDA_FUNCTION: '${APPSTACK}-${ENVIRONMENT}-DBLReport'
        DAG_CLASS: 'datalabs.example.etl.dag.hello_world.HelloWorldDAG'
        DAG_STATE_PARAMETERS:
            DAG_STATE_CLASS: 'datalabs.etl.dag.state.file.DAGState'
            BASE_PATH: './test_output_file_state'
        DAG_TOPIC_ARN: 'arn:aws:sns:us-east-1:${ACCOUNT}:DataLake-${ENVIRONMENT}-DAGProcessor'
        TASK_TOPIC_ARN: 'arn:aws:sns:us-east-1:${ACCOUNT}:DataLake-${ENVIRONMENT}-TaskProcessor'
        DAG_EXECUTOR_CLASS: 'datalabs.etl.dag.execute.awslambda.LambdaDAGExecutorTask'
        TASK_EXECUTOR_CLASS: 'datalabs.etl.dag.execute.awslambda.LambdaTaskExecutorTask'

    PRINT_HELLO_WORLD:
        FIRST_NAME: 'Bob'
        LAST_NAME: 'Marley'

    PRINT_HELLO_WORLD1:
        FIRST_NAME: 'Alice'
        LAST_NAME: 'Potter'

    PRINT_HELLO_WORLD2:
        FIRST_NAME: 'Harry'
        LAST_NAME: 'Maguire'

    PRINT_HELLO_WORLD3:
        FIRST_NAME: 'Ron'
        LAST_NAME: 'Alison'
