# Render as follows:

# Script/render-template -t Deploy/HelloWorld/sbx/dag.yaml.jinja -f Deploy/HelloWorld/sbx/dag.yaml
---
data:
    #######################################################################
    # Global Variables - {"DAG": {"S": "HELLO_WORLD"}, "Task": {"S": "GLOBAL"}}
    #######################################################################

    ENVIRONMENT: sbx
    ACCOUNT: '644454719059'

    #######################################################################
    # DAG Variables - ({"DAG": {"S": "HELLO_WORLD"}, "Task": {"S": "HELLO_WORLD"}})
    #######################################################################

    ADDRESS_FLAGGING_REPORT__DAG__LAMBDA_FUNCTION: '${APP_STACK}-${ENVIRONMENT}-AMC'
    ADDRESS_FLAGGING_REPORT__DAG__DAG_CLASS: 'datalabs.example.etl.dag.hello_world.HelloWorldDAG'
    ADDRESS_FLAGGING_REPORT__DAG__DAG_STATE_CLASS: 'datalabs.etl.dag.state.dynamodb.DAGState'
    ADDRESS_FLAGGING_REPORT__DAG__DAG_STATE_TABLE: 'DataLake-dag-state-${ENVIRONMENT}'
    ADDRESS_FLAGGING_REPORT__DAG__STATE_LOCK_TABLE: 'DataLake-scheduler-locks-${ENVIRONMENT}'
    ADDRESS_FLAGGING_REPORT__DAG__DAG_TOPIC_ARN: 'arn:aws:sns:us-east-1:${ACCOUNT}:DataLake-${ENVIRONMENT}-DAGProcessor'
    ADDRESS_FLAGGING_REPORT__DAG__TASK_TOPIC_ARN: 'arn:aws:sns:us-east-1:${ACCOUNT}:DataLake-${ENVIRONMENT}-TaskProcessor'
    ADDRESS_FLAGGING_REPORT__DAG__DAG_EXECUTOR_CLASS: 'datalabs.etl.dag.execute.awslambda.LambdaDAGExecutorTask'
    ADDRESS_FLAGGING_REPORT__DAG__TASK_EXECUTOR_CLASS: 'datalabs.etl.dag.execute.awslambda.LambdaTaskExecutorTask'
