---
DEVELOPER_EMAILS:
    GLOBAL:
        ACCOUNT: '194221139997'
        ENVIRONMENT: tst

        PLATFORM_DB_BACKEND: mysql+pymysql
        PLATFORM_DB_HOST: pe-tst-aurora-cluster.cluster-cvo5zwdixjdr.us-east-1.rds.amazonaws.com
        PLATFORM_DB_NAME: usermgmt
        PLATFORM_DB_PASSWORD: '{{platform_db_password}}'
        PLATFORM_DB_PORT: '3306'
        PLATFORM_DB_USERNAME: platform

        S3_BASE_PATH: AMA/IntelligentPlatform

        S3_CACHE_CLASS: datalabs.etl.dag.cache.s3.S3TaskDataCache

        S3_INGESTED_DATA_BUCKET: ama-${ENVIRONMENT}-datalake-ingest-us-east-1
        S3_PROCESSED_DATA_BUCKET: ama-${ENVIRONMENT}-datalake-process-us-east-1
    DAG:
        DAG_CLASS: datalabs.etl.dag.intelligent_platform.developer.email.DAG
        DAG_EXECUTOR_CLASS: datalabs.etl.dag.execute.awslambda.LambdaDAGExecutorTask
        DAG_STATE:
            CLASS: datalabs.etl.dag.state.dynamodb.DAGState
            LOCK_TABLE: DataLake-scheduler-locks-${ENVIRONMENT}
            STATE_TABLE: DataLake-dag-state-${ENVIRONMENT}
        DAG_TOPIC_ARN: arn:aws:sns:us-east-1:${ACCOUNT}:DataLake-${ENVIRONMENT}-DAGProcessor
        ENVIRONMENT: ${ENVIRONMENT}
        LAMBDA_FUNCTION: AIP-${ENVIRONMENT}-DeveloperDAG
        STATUS_NOTIFICATION_WEB_HOOK: https://amatoday.webhook.office.com/webhookb2/5cf63a5c-89ba-4724-b44f-8643269bae92@11fe67f6-fd54-4981-925f-94c36ed7b086/IncomingWebhook/1d0f20d047d042d68d01a8d855787009/b9b792dd-3637-4256-8a95-72d5d956f908
        TASK_EXECUTOR_CLASS: datalabs.etl.dag.execute.awslambda.LambdaTaskExecutorTask
        TASK_TOPIC_ARN: arn:aws:sns:us-east-1:${ACCOUNT}:DataLake-${ENVIRONMENT}-TaskProcessor
    EXTRACT_EMAILS:
        DATABASE_BACKEND: ${PLATFORM_DB_BACKEND}
        DATABASE_HOST: ${PLATFORM_DB_HOST}
        DATABASE_NAME: ${PLATFORM_DB_NAME}
        DATABASE_PASSWORD: ${PLATFORM_DB_PASSWORD}
        DATABASE_PORT: ${PLATFORM_DB_PORT}
        DATABASE_USERNAME: ${PLATFORM_DB_USERNAME}
        SQL: "
            SELECT
                u.id as CUSTOMER_ID,
                CONCAT(u.fname,' ',u.lname) as NAME,
                '' as BUSTITLE,
                '' as BUSNAME,
                u.addr1 as ADDR1,
                u.addr2 as ADDR2,
                u.addr3 as ADDR3,
                u.city as CITY,
                u.state as STATE,
                u.zip as ZIP,
                '' as COUNTRY,
                u.email as EMAIL,
                '' as DAY_PHONE,
                '' as EVENING_PHONE,
                '' as INDUSTRY_DESC
            FROM
                usermgmt.User u
            WHERE u.id >96 and u.dev_program_user is NOT NULL;
        "

        CACHE_OUTPUT_BASE_PATH: ${S3_BASE_PATH}
        CACHE_OUTPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
        CACHE_OUTPUT_CLASS: ${S3_CACHE_CLASS}
        CACHE_OUTPUT_FILES: developer_emails.csv
    SEND_EMAIL_REPORT:
        CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
        CACHE_INPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
        CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
        CACHE_INPUT_FILES: developer_emails.csv

        TO: '
            datalabs@ama-assn.org
        '
