TASK_WRAPPER_CLASS=datalabs.etl.task.ETLTaskWrapper
TASK_CLASS=datalabs.etl.task.ETLTask

EXTRACTOR_CLASS=datalabs.etl.fs.extract.LocalUnicodeFileExtractorTask
EXTRACTOR_PATH=/mnt/u/Source Files/Data Analytics/Baseline/data
EXTRACTOR_FILES=PhysicianProfessionalDataFile_*

TRANSFORMER_CLASS=datalabs.etl.ppd.expanded.transform.ParseToPPDTransformerTask

LOADER_CLASS=datalabs.etl.fs.load.LocalUnicodeFileLoaderTask
# LOADER_PATH=/mnt/u/Source Files/Data Analytics/Baseline/data/expanded
LOADER_PATH=/tmp
LOADER_FILES=expanded/PhysicianProfessionalDataFile.csv,archive/PhysicianProfessionalDataFile_%Y-%m-%d.csv
