TASK_WRAPPER_CLASS=datalabs.etl.task.ETLTaskWrapper
TASK_CLASS=datalabs.etl.task.ETLTask

EXTRACTOR__CLASS=datalabs.etl.fs.extract.LocalUnicodeTextFileExtractorTask
EXTRACTOR__PATH=/mnt/u/Source Files/Data Analytics/Baseline/data
EXTRACTOR__FILES=PhysicianProfessionalDataFile_*

TRANSFORMER__CLASS=datalabs.etl.ppd.expanded.transform.ParseToPPDTransformerTask

LOADER__CLASS=datalabs.etl.fs.load.LocalUnicodeTextFileLoaderTask
# LOADER__PATH=/mnt/u/Source Files/Data Analytics/Baseline/data/expanded
LOADER__PATH=/tmp
LOADER__FILES=expanded/PhysicianProfessionalDataFile.csv,archive/PhysicianProfessionalDataFile_%Y-%m-%d.csv
