data:
    #######################################################################
    # Global Variables - {"DAG": {"S": "DEVELOPER_TOKENS"}, "Task": {"S": "GLOBAL"}}
    #######################################################################


    ENVIRONMENT: dev
    ACCOUNT: '191296302136'

    S3_INGESTED_DATA_BUCKET: ama-${ENVIRONMENT}-datalake-ingest-us-east-1
    S3_PROCESSED_DATA_BUCKET: ama-${ENVIRONMENT}-datalake-process-us-east-1

    PLATFORM_DB_DRIVER: com.microsoft.sqlserver.jdbc.SQLServerDriver
    PLATFORM_DB_DRIVER_TYPE: sqlserver
    PLATFORM_DB_JAR_PATH: ./mssql-jdbc-10.2.0.jre11.jar

    PLATFORM_DB_HOST: pe-dev-aurora-cluster.cluster-cwp4vd8mllvz.us-east-1.rds.amazonaws.com
    PLATFORM_DB_PORT: '3306'
    PLATFORM_DB_BACKEND: 'mysql+pymysql'
    PLATFORM_DB_NAME: 'usermgmt'
    PLATFORM_DB_USERNAME:  platform
    PLATFORM_DB_PASSWORD:  '{{platform_db_password}}'

    S3_CACHE_CLASS: 'datalabs.etl.dag.cache.s3.S3TaskDataCache'
    S3_BASE_PATH: 'AMA/IntelligentPlatform'


    #######################################################################
    # DAG Variables - ({"DAG": {"S": "DEVELOPER_TOKENS"}, "Task": {"S": "DAG"}})
    #######################################################################

    DEVELOPER_TOKENS__DAG__ENVIRONMENT: ${ENVIRONMENT}
    DEVELOPER_TOKENS__DAG__LAMBDA_FUNCTION: 'AIP-${ENVIRONMENT}-DeveloperDAG'
    DEVELOPER_TOKENS__DAG__DAG_CLASS: 'datalabs.etl.dag.intelligent_platform.developer.tokens.DAG'
    DEVELOPER_TOKENS__DAG__DAG_STATE_CLASS: 'datalabs.etl.dag.state.dynamodb.DAGState'
    DEVELOPER_TOKENS__DAG__DAG_STATE_TABLE: 'DataLake-dag-state-${ENVIRONMENT}'
    DEVELOPER_TOKENS__DAG__STATE_LOCK_TABLE: 'DataLake-scheduler-locks-${ENVIRONMENT}'
    DEVELOPER_TOKENS__DAG__DAG_TOPIC_ARN: 'arn:aws:sns:us-east-1:${ACCOUNT}:DataLake-${ENVIRONMENT}-DAGProcessor'
    DEVELOPER_TOKENS__DAG__TASK_TOPIC_ARN: 'arn:aws:sns:us-east-1:${ACCOUNT}:DataLake-${ENVIRONMENT}-TaskProcessor'
    DEVELOPER_TOKENS__DAG__DAG_EXECUTOR_CLASS: 'datalabs.etl.dag.execute.awslambda.LambdaDAGExecutorTask'
    DEVELOPER_TOKENS__DAG__TASK_EXECUTOR_CLASS: 'datalabs.etl.dag.execute.awslambda.LambdaTaskExecutorTask'
    DEVELOPER_TOKENS__DAG__STATUS_NOTIFICATION_WEB_HOOK: 'https://amatoday.webhook.office.com/webhookb2/5cf63a5c-89ba-4724-b44f-8643269bae92@11fe67f6-fd54-4981-925f-94c36ed7b086/IncomingWebhook/1d0f20d047d042d68d01a8d855787009/b9b792dd-3637-4256-8a95-72d5d956f908'


    ##########################################################################
    # Task Variables - ({"DAG": {"S": "DEVELOPER_TOKENS"}, "Task": {"S": "<Task ID>"}})
    ##########################################################################

    # Email Extractor
    DEVELOPER_TOKENS__EXTRACT_DEVELOPER_TOKENS__DATABASE_HOST: ${PLATFORM_DB_HOST}
    DEVELOPER_TOKENS__EXTRACT_DEVELOPER_TOKENS__DATABASE_PORT: ${PLATFORM_DB_PORT}
    DEVELOPER_TOKENS__EXTRACT_DEVELOPER_TOKENS__DATABASE_NAME: ${PLATFORM_DB_NAME}
    DEVELOPER_TOKENS__EXTRACT_DEVELOPER_TOKENS__DATABASE_USERNAME: ${PLATFORM_DB_USERNAME}
    DEVELOPER_TOKENS__EXTRACT_DEVELOPER_TOKENS__DATABASE_PASSWORD: ${PLATFORM_DB_PASSWORD}
    DEVELOPER_TOKENS__EXTRACT_DEVELOPER_TOKENS__SQL: "
    SELECT
    	u.id as CUSTOMER_ID,
        CONCAT(u.fname,' ',u.lname) as NAME,
    	'' as BUSTITLE,
    	'' as BUSNAME,
        u.addr1 as ADDR1,
        u.addr2 as ADDR2,
        u.addr3 as ADDR3,
        u.city as CITY,
    	u.state as STATE,
    	u.zip as ZIP,
        '' as COUNTRY,
        u.email as EMAIL,
	'' as DAY_PHONE,
	'' as EVENING_PHONE,
	'' as INDUSTRY_DESC
    FROM
    	usermgmt.User u
    WHERE u.id >96 and u.dev_program_user is NOT NULL;
    "
    DEVELOPER_TOKENS__EXTRACT_DEVELOPER_TOKENS__CHUNK_SIZE: '100000'
    DEVELOPER_TOKENS__EXTRACT_DEVELOPER_TOKENS__DRIVER: ${PLATFORM_DB_DRIVER}
    DEVELOPER_TOKENS__EXTRACT_DEVELOPER_TOKENS__DRIVER_TYPE: ${PLATFORM_DB_DRIVER_TYPE}
    DEVELOPER_TOKENS__EXTRACT_DEVELOPER_TOKENS__JAR_PATH: ${PLATFORM_DB_JAR_PATH}
    DEVELOPER_TOKENS__EXTRACT_DEVELOPER_TOKENS__CACHE_OUTPUT_CLASS: ${S3_CACHE_CLASS}
    DEVELOPER_TOKENS__EXTRACT_DEVELOPER_TOKENS__CACHE_OUTPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
    DEVELOPER_TOKENS__EXTRACT_DEVELOPER_TOKENS__CACHE_OUTPUT_BASE_PATH: ${S3_BASE_PATH}
    DEVELOPER_TOKENS__EXTRACT_DEVELOPER_TOKENS__CACHE_OUTPUT_FILES: developer_emails.csv

    # Email Loader
    DEVELOPER_TOKENS__LOAD_DEVELOPER_TOKENS__CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
    DEVELOPER_TOKENS__LOAD_DEVELOPER_TOKENS__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    DEVELOPER_TOKENS__LOAD_DEVELOPER_TOKENS__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
    DEVELOPER_TOKENS__LOAD_DEVELOPER_TOKENS__CACHE_INPUT_FILES: 'developer_emails.csv'
    DEVELOPER_TOKENS__LOAD_DEVELOPER_TOKENS__DATABASE_HOST: ${PLATFORM_DB_HOST}
    DEVELOPER_TOKENS__LOAD_DEVELOPER_TOKENS__DATABASE_PORT: ${PLATFORM_DB_PORT}
    DEVELOPER_TOKENS__LOAD_DEVELOPER_TOKENS__DATABASE_BACKEND: ${PLATFORM_DB_BACKEND}
    DEVELOPER_TOKENS__LOAD_DEVELOPER_TOKENS__DATABASE_NAME: ${PLATFORM_DB_NAME}
    DEVELOPER_TOKENS__LOAD_DEVELOPER_TOKENS__DATABASE_USERNAME: ${PLATFORM_DB_USERNAME}
    DEVELOPER_TOKENS__LOAD_DEVELOPER_TOKENS__DATABASE_PASSWORD: ${PLATFORM_DB_PASSWORD}

    # Email Notifier
    DEVELOPER_TOKENS__SEND_EMAIL_REPORT__CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
    DEVELOPER_TOKENS__SEND_EMAIL_REPORT__CACHE_INPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
    DEVELOPER_TOKENS__SEND_EMAIL_REPORT__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
    DEVELOPER_TOKENS__SEND_EMAIL_REPORT__CACHE_INPUT_FILES: 'developer_emails.csv'
    DEVELOPER_TOKENS__SEND_EMAIL_REPORT__TO: 'datalabs@ama-assn.org'
