# Render as follows:
#
# Script/render-template -t Deploy/CPT/dev/organizations.yaml.jinja -f Deploy/CPT/dev/organizations.yaml \
# -v "vistex_db_password={{vistex_db_password}},platform_db_password={{platform_db_password}}"
---
data:
    #######################################################################
    # Global Variables - {"DAG": {"S": "LICENSED_ORGANIZATIONS"}, "Task": {"S": "GLOBAL"}}
    #######################################################################

    ENVIRONMENT: dev
    ACCOUNT: '191296302136'

    S3_INGESTED_DATA_BUCKET: ama-${ENVIRONMENT}-datalake-ingest-us-east-1
    S3_PROCESSED_DATA_BUCKET: ama-${ENVIRONMENT}-datalake-process-us-east-1

    VISTEX_DB_DRIVER: com.microsoft.sqlserver.jdbc.SQLServerDriver
    VISTEX_DB_DRIVER_TYPE: sqlserver
    VISTEX_DB_JAR_PATH: ./mssql-jdbc-10.2.0.jre11.jar
    VISTEX_DB_HOST: rdbp5323.ad.ama-assn.org
    VISTEX_DB_PORT: '1433'
    VISTEX_DB_PARAMETERS: 'databaseName=LicenseMaestro_CPT;encrypt=true;trustServerCertificate=true'
    VISTEX_DB_USERNAME: dlabs_read
    VISTEX_DB_PASSWORD: '{{vistex_db_password}}'

    PLATFORM_DB_HOST: pe-dev-aurora-cluster.cluster-cwp4vd8mllvz.us-east-1.rds.amazonaws.com
    PLATFORM_DB_PORT: '3306'
    PLATFORM_DB_BACKEND: 'mysql+pymysql'
    PLATFORM_DB_NAME: 'frictionlesslicensing'
    PLATFORM_DB_USERNAME:  usermgmt
    PLATFORM_DB_PASSWORD:  '{{platform_db_password}}'

    S3_CACHE_CLASS: 'datalabs.etl.dag.cache.s3.S3TaskDataCache'
    S3_BASE_PATH: 'AMA/Licensing'


    #######################################################################
    # DAG Variables - ({"DAG": {"S": "LICENSED_ORGANIZATIONS"}, "Task": {"S": "DAG"}})
    #######################################################################

    LICENSED_ORGANIZATIONS__DAG__LAMBDA_FUNCTION: 'AIP-${ENVIRONMENT}-OrganizationsETL'
    LICENSED_ORGANIZATIONS__DAG__DAG_CLASS: 'datalabs.etl.dag.cpt.api.LicensedOrganizationDAG'
    LICENSED_ORGANIZATIONS__DAG__DAG_STATE_CLASS: 'datalabs.etl.dag.state.dynamodb.DAGState'
    LICENSED_ORGANIZATIONS__DAG__DAG_STATE_TABLE: 'DataLake-dag-state-${ENVIRONMENT}'
    LICENSED_ORGANIZATIONS__DAG__STATE_LOCK_TABLE: 'DataLake-scheduler-locks-${ENVIRONMENT}'
    LICENSED_ORGANIZATIONS__DAG__DAG_TOPIC_ARN: 'arn:aws:sns:us-east-1:${ACCOUNT}:DataLake-${ENVIRONMENT}-DAGProcessor'
    LICENSED_ORGANIZATIONS__DAG__TASK_TOPIC_ARN: 'arn:aws:sns:us-east-1:${ACCOUNT}:DataLake-${ENVIRONMENT}-TaskProcessor'
    LICENSED_ORGANIZATIONS__DAG__DAG_EXECUTOR_CLASS: 'datalabs.etl.dag.execute.awslambda.LambdaDAGExecutorTask'
    LICENSED_ORGANIZATIONS__DAG__TASK_EXECUTOR_CLASS: 'datalabs.etl.dag.execute.awslambda.LambdaTaskExecutorTask'


    ##########################################################################
    # Task Variables - ({"DAG": {"S": "LICENSED_ORGANIZATIONS"}, "Task": {"S": "<Task ID>"}})
    ##########################################################################

    # Licensed Organizations Extractor
    LICENSED_ORGANIZATIONS__EXTRACT_LICENSED_ORGANIZATIONS__TASK_CLASS: datalabs.etl.jdbc.extract.JDBCExtractorTask
    LICENSED_ORGANIZATIONS__EXTRACT_LICENSED_ORGANIZATIONS__DATABASE_HOST: ${VISTEX_DB_HOST}
    LICENSED_ORGANIZATIONS__EXTRACT_LICENSED_ORGANIZATIONS__DATABASE_PORT: ${VISTEX_PORT}
    LICENSED_ORGANIZATIONS__EXTRACT_LICENSED_ORGANIZATIONS__DATABASE_PARAMETERS: ${VISTEX_DB_PARAMETERS}
    LICENSED_ORGANIZATIONS__EXTRACT_LICENSED_ORGANIZATIONS__DATABASE_USERNAME: ${VISTEX_DB_USERNAME}
    LICENSED_ORGANIZATIONS__EXTRACT_LICENSED_ORGANIZATIONS__DATABASE_PASSWORD: ${VISTEX_DB_PASSWORD}
    LICENSED_ORGANIZATIONS__EXTRACT_LICENSED_ORGANIZATIONS__SQL: "
    SELECT
    	T1.UploadReportID,
        T3.UploadReportDetailID,
    	T2.licensee,
    	Convert(Varchar, T1.DateReported, 101) as DateReported,
        Convert(DATE, T1.ReportedPeriodEndDate, 101) AS 'PeriodEndDate',
        T3.OrganizationsUniqueID,
        T3.OrganizationName,
        T3.SKU,
    	T3.AMALicensedEditorialContent as Property,
    	T3.NameOfYourLicensedProduct as Article,
        T3.Channel as Channel,
        T3.State,
        T3.Country
    FROM
    	AMA_LicensePortal.dbo.UploadReport T1
    		JOIN LicenseMaestro_CPT.dbo.v_cm_contracts T2
    		ON T1.ReportedContractID = T2.id
    			JOIN AMA_LicensePortal.dbo.UploadReportDetail T3
    			ON T1.UploadReportID = T3.UploadReportID
    WHERE T3.OrganizationName like '%%' and YEAR(T1.ReportedPeriodEndDate)= 2020

    Order by T3.OrganizationName asc
    OFFSET {index} ROWS
    FETCH NEXT {count} ROWS ONLY;
    "
    LICENSED_ORGANIZATIONS__EXTRACT_LICENSED_ORGANIZATIONS__CHUNK_SIZE: '100000'
    LICENSED_ORGANIZATIONS__EXTRACT_LICENSED_ORGANIZATIONS__DRIVER: ${VISTEX_DB_DRIVER}
    LICENSED_ORGANIZATIONS__EXTRACT_LICENSED_ORGANIZATIONS__DRIVER_TYPE: ${VISTEX_DB_DRIVER_TYPE}
    LICENSED_ORGANIZATIONS__EXTRACT_LICENSED_ORGANIZATIONS__JAR_PATH: ${VISTEX_DB_JAR_PATH}


    # Frictionless Licensing Organizations Transformer
    CPTAPI__CREATE_FRICTIONLESS_LICENSING_ORGANIZATIONS__CACHE_CLASS: ${S3_CACHE_CLASS}
    CPTAPI__CREATE_FRICTIONLESS_LICENSING_ORGANIZATIONS__CACHE_BASE_PATH: ${S3_BASE_PATH}
    CPTAPI__CREATE_FRICTIONLESS_LICENSING_ORGANIZATIONS__CACHE_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    CPTAPI__CREATE_FRICTIONLESS_LICENSING_ORGANIZATIONS__CACHE_INPUT_FILES: 'licensed_organizations.csv'
    CPTAPI__CREATE_FRICTIONLESS_LICENSING_ORGANIZATIONS__CACHE_OUTPUT_FILES: frictionless_licensing_organizations.csv


    # Frictionless Licensing Organizations Loader
    LICENSED_ORGANIZATIONS__LOAD_FRICTIONLESS_LICENSING_ORGANIZATIONS__CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
    LICENSED_ORGANIZATIONS__LOAD_FRICTIONLESS_LICENSING_ORGANIZATIONS__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    LICENSED_ORGANIZATIONS__LOAD_FRICTIONLESS_LICENSING_ORGANIZATIONS__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
    LICENSED_ORGANIZATIONS__LOAD_FRICTIONLESS_LICENSING_ORGANIZATIONS__CACHE_INPUT_FILES: 'frictionless_licensing_organizations.csv'

    LICENSED_ORGANIZATIONS__LOAD_FRICTIONLESS_LICENSING_ORGANIZATIONS__MODEL_CLASSES: 'datalabs.model.cpt.frictionless_licensing.Organization'
    LICENSED_ORGANIZATIONS__LOAD_FRICTIONLESS_LICENSING_ORGANIZATIONS__DATABASE_HOST: ${PLATFORM_DB_HOST}
    LICENSED_ORGANIZATIONS__LOAD_FRICTIONLESS_LICENSING_ORGANIZATIONS__DATABASE_PORT: ${PLATFORM_DB_PORT}
    LICENSED_ORGANIZATIONS__LOAD_FRICTIONLESS_LICENSING_ORGANIZATIONS__DATABASE_BACKEND: ${PLATFORM_DB_BACKEND}
    LICENSED_ORGANIZATIONS__LOAD_FRICTIONLESS_LICENSING_ORGANIZATIONS__DATABASE_NAME: ${PLATFORM_DB_NAME}
    LICENSED_ORGANIZATIONS__LOAD_FRICTIONLESS_LICENSING_ORGANIZATIONS__DATABASE_USERNAME: ${PLATFORM_DB_USERNAME}
    LICENSED_ORGANIZATIONS__LOAD_FRICTIONLESS_LICENSING_ORGANIZATIONS__DATABASE_PASSWORD: ${PLATFORM_DB_PASSWORD}
