---
CPTAPI:
    GLOBAL:
        ENVIRONMENT: tst
        ACCOUNT: '194221139997'

        S3_INGESTED_DATA_BUCKET: ama-${ENVIRONMENT}-datalake-ingest-us-east-1
        S3_PROCESSED_DATA_BUCKET: ama-${ENVIRONMENT}-datalake-process-us-east-1
        S3_DOWNLOADS_BUCKET: ama-${ENVIRONMENT}-cpt-downloads-us-east-1

        DATABASE_HOST: cpt-api-tst-db.cvo5zwdixjdr.us-east-1.rds.amazonaws.com
        DATABASE_PORT: '5432'
        DATABASE_BACKEND: 'postgresql+psycopg2'
        DATABASE_NAME: 'cpt'
        DATABASE_USERNAME:  cptadmin
        DATABASE_PASSWORD:  '{{database_password}}'

        S3_CACHE_CLASS: 'datalabs.etl.dag.cache.s3.S3TaskDataCache'
        S3_BASE_PATH: 'AMA/CPT'

    DAG:
        LAMBDA_FUNCTION: 'CPT-API-${ENVIRONMENT}-ETL'
        DAG_CLASS: 'datalabs.etl.dag.cpt.api.CPTAPIDAG'
        DAG_STATE_PARAMETERS:
            DAG_STATE_CLASS: 'datalabs.etl.dag.state.dynamodb.DAGState'
            DAG_STATE_TABLE: 'DataLake-dag-state-${ENVIRONMENT}'
            STATE_LOCK_TABLE: 'DataLake-scheduler-locks-${ENVIRONMENT}'
        DAG_TOPIC_ARN: 'arn:aws:sns:us-east-1:${ACCOUNT}:DataLake-${ENVIRONMENT}-DAGProcessor'
        TASK_TOPIC_ARN: 'arn:aws:sns:us-east-1:${ACCOUNT}:DataLake-${ENVIRONMENT}-TaskProcessor'
        DAG_EXECUTOR_CLASS: 'datalabs.etl.dag.execute.awslambda.LambdaDAGExecutorTask'
        TASK_EXECUTOR_CLASS: 'datalabs.etl.dag.execute.awslambda.LambdaTaskExecutorTask'

    UNZIP_DISTRIBUTION:
        CACHE_CLASS:  ${S3_CACHE_CLASS}
        CACHE_INPUT_BUCKET: ${S3_DOWNLOADS_BUCKET}
        CACHE_INPUT_BASE_PATH: ''
        CACHE_INPUT_FILES: 'files.zip'

        IGNORE_PATH_DEPTH: '1'

        CACHE_OUTPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
        CACHE_OUTPUT_BASE_PATH: ${S3_BASE_PATH}
        CACHE_OUTPUT_FILES: 'files.zip'
        CACHE_OUTPUT_INCLUDES_NAMES: 'True'

    EXTRACT_DISTRIBUTION_RELEASES:
        BUCKET: ${S3_INGESTED_DATA_BUCKET}
        BASE_PATH: ${S3_BASE_PATH}
        FILES: 'distribution_releases.csv'
        INCLUDE_DATESTAMP: 'False'

        CACHE_OUTPUT_CLASS:  ${S3_CACHE_CLASS}
        CACHE_OUTPUT_BASE_PATH: ${S3_BASE_PATH}
        CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_OUTPUT_FILES: 'release.csv'

    CREATE_PDFS_ZIP:
        CACHE_CLASS:  ${S3_CACHE_CLASS}
        CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
        CACHE_INPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
        CACHE_INPUT_FILES: '*.pdf'
        CACHE_INPUT_INCLUDE_NAMES: 'True'

        CACHE_OUTPUT_BUCKET: ${S3_DOWNLOADS_BUCKET}
        CACHE_OUTPUT_BASE_PATH: ''
        CACHE_OUTPUT_FILES: 'pdfs.zip'

    CREATE_RELEASE_TYPES:
        CACHE_OUTPUT_CLASS: ${S3_CACHE_CLASS}
        CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_OUTPUT_BASE_PATH: ${S3_BASE_PATH}
        CACHE_OUTPUT_FILES: 'release_type.csv'

    LOAD_RELEASE_TYPES:
        CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
        CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
        CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_INPUT_FILES: 'release_type.csv'

        DATABASE_HOST: ${DATABASE_HOST}
        DATABASE_PORT: ${DATABASE_PORT}
        DATABASE_BACKEND: ${DATABASE_BACKEND}
        DATABASE_NAME: ${DATABASE_NAME}
        DATABASE_USERNAME: ${DATABASE_USERNAME}
        DATABASE_PASSWORD: ${DATABASE_PASSWORD}
        MODEL_CLASSES: 'datalabs.model.cpt.api.ReleaseType'


    PARSE_TEXT_FILES:
        CACHE_CLASS: ${S3_CACHE_CLASS}
        CACHE_BASE_PATH: ${S3_BASE_PATH}
        CACHE_INPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
        CACHE_INPUT_FILES: 'SHORTU.txt,MEDU.txt,LONGULT.txt,MODUL.txt,Consumer Friendly Descriptors/ConsumerDescriptor.txt,Clinician Descriptors/ClinicianDescriptor.txt,Proprietary Laboratory Analyses (PLA) Codes/CPTPLA'

        PARSERS: 'datalabs.curate.cpt.descriptor.ShortDescriptorParser,datalabs.curate.cpt.descriptor.MediumDescriptorParser,datalabs.curate.cpt.descriptor.LongDescriptorParser,datalabs.curate.cpt.modifier.ModifierParser,datalabs.curate.cpt.descriptor.ConsumerDescriptorParser,datalabs.curate.cpt.descriptor.ClinicianDescriptorParser,datalabs.curate.cpt.pla.PLAParser'

        CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_OUTPUT_FILES: 'SHORTU.csv,MEDU.csv,LONGULT.csv,MODUL.csv,Consumer Friendly Descriptors/ConsumerDescriptor.csv,Clinician Descriptors/ClinicianDescriptor.csv,Proprietary Laboratory Analyses (PLA) Codes/CPTPLA.csv'


    CREATE_CODE_TABLE:
        CACHE_CLASS: ${S3_CACHE_CLASS}
        CACHE_BASE_PATH: ${S3_BASE_PATH}
        CACHE_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_INPUT_FILES: 'SHORTU.csv,Proprietary Laboratory Analyses (PLA) Codes/CPTPLA.csv'
        CACHE_OUTPUT_FILES: 'code.csv'

    CREATE_SHORT_DESCRIPTOR_TABLE:
        CACHE_CLASS:  ${S3_CACHE_CLASS}
        CACHE_BASE_PATH: ${S3_BASE_PATH}
        CACHE_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_INPUT_FILES: 'SHORTU.csv,Proprietary Laboratory Analyses (PLA) Codes/CPTPLA.csv'
        CACHE_OUTPUT_FILES: 'short_descriptor.csv'

    CREATE_MEDIUM_DESCRIPTOR_TABLE:
        CACHE_CLASS:  ${S3_CACHE_CLASS}
        CACHE_BASE_PATH: ${S3_BASE_PATH}
        CACHE_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_INPUT_FILES: 'MEDU.csv,Proprietary Laboratory Analyses (PLA) Codes/CPTPLA.csv'
        CACHE_OUTPUT_FILES: 'medium_descriptor.csv'

    CREATE_LONG_DESCRIPTOR_TABLE:
        CACHE_CLASS:  ${S3_CACHE_CLASS}
        CACHE_BASE_PATH: ${S3_BASE_PATH}
        CACHE_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_INPUT_FILES: 'LONGULT.csv,Proprietary Laboratory Analyses (PLA) Codes/CPTPLA.csv'
        CACHE_OUTPUT_FILES: 'long_descriptor.csv'

    CREATE_MODIFIER_TYPE_TABLE:
        CACHE_CLASS:  ${S3_CACHE_CLASS}
        CACHE_BASE_PATH: ${S3_BASE_PATH}
        CACHE_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_INPUT_FILES: 'MODUL.csv'
        CACHE_OUTPUT_FILES: 'modifier_type.csv'

    CREATE_MODIFIER_TABLE:
        CACHE_CLASS:  ${S3_CACHE_CLASS}
        CACHE_BASE_PATH: ${S3_BASE_PATH}
        CACHE_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_INPUT_FILES: 'MODUL.csv,modifier_type.csv'
        CACHE_OUTPUT_FILES: 'modifier.csv'

    CREATE_CONSUMER_DESCRIPTOR_TABLE:
        CACHE_CLASS:  ${S3_CACHE_CLASS}
        CACHE_BASE_PATH: ${S3_BASE_PATH}
        CACHE_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_INPUT_FILES: 'code.csv,Consumer Friendly Descriptors/ConsumerDescriptor.csv'
        CACHE_OUTPUT_FILES: 'consumer_descriptor.csv'

    CREATE_CLINICIAN_DESCRIPTOR_TABLE:
        CACHE_CLASS:  ${S3_CACHE_CLASS}
        CACHE_BASE_PATH: ${S3_BASE_PATH}
        CACHE_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_INPUT_FILES: 'Clinician Descriptors/ClinicianDescriptor.csv'
        CACHE_OUTPUT_FILES: 'clinician_descriptor.csv'

    CREATE_CLINICIAN_DESCRIPTOR_CODE_MAPPING_TABLE:
        CACHE_CLASS:  ${S3_CACHE_CLASS}
        CACHE_BASE_PATH: ${S3_BASE_PATH}
        CACHE_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_INPUT_FILES: 'code.csv,Clinician Descriptors/ClinicianDescriptor.csv'
        CACHE_OUTPUT_FILES: 'clinician_descriptor_code_mapping.csv'

    CREATE_PLA_DETAILS_TABLE:
        CACHE_CLASS:  ${S3_CACHE_CLASS}
        CACHE_BASE_PATH: ${S3_BASE_PATH}
        CACHE_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_INPUT_FILES: 'Proprietary Laboratory Analyses (PLA) Codes/CPTPLA.csv'
        CACHE_OUTPUT_FILES: 'pla_details.csv'

    CREATE_MANUFACTURER_TABLE:
        CACHE_CLASS:  ${S3_CACHE_CLASS}
        CACHE_BASE_PATH: ${S3_BASE_PATH}
        CACHE_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_INPUT_FILES: 'Proprietary Laboratory Analyses (PLA) Codes/CPTPLA.csv'
        CACHE_OUTPUT_FILES: 'manufacturer.csv'

    CREATE_MANUFACTURER_CODE_MAPPING_TABLE:
        CACHE_CLASS:  ${S3_CACHE_CLASS}
        CACHE_BASE_PATH: ${S3_BASE_PATH}
        CACHE_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_INPUT_FILES: 'Proprietary Laboratory Analyses (PLA) Codes/CPTPLA.csv,manufacturer.csv'
        CACHE_OUTPUT_FILES: 'manufacturer_code_mapping.csv'

    CREATE_LAB_TABLE:
        CACHE_CLASS:  ${S3_CACHE_CLASS}
        CACHE_BASE_PATH: ${S3_BASE_PATH}
        CACHE_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_INPUT_FILES: 'Proprietary Laboratory Analyses (PLA) Codes/CPTPLA.csv'
        CACHE_OUTPUT_FILES: 'lab.csv'

    CREATE_LAB_CODE_MAPPING_TABLE:
        CACHE_CLASS:  ${S3_CACHE_CLASS}
        CACHE_BASE_PATH: ${S3_BASE_PATH}
        CACHE_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_INPUT_FILES: 'Proprietary Laboratory Analyses (PLA) Codes/CPTPLA.csv,lab.csv'
        CACHE_OUTPUT_FILES: 'lab_code_mapping.csv'

    LOAD_RELEASE_TABLE:
        CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
        CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
        CACHE_INPUT_FILES: 'release.csv'

        MODEL_CLASSES: 'datalabs.model.cpt.api.Release'
        DATABASE_HOST: ${DATABASE_HOST}
        DATABASE_PORT: ${DATABASE_PORT}
        DATABASE_BACKEND: ${DATABASE_BACKEND}
        DATABASE_NAME: ${DATABASE_NAME}
        DATABASE_USERNAME: ${DATABASE_USERNAME}
        DATABASE_PASSWORD: ${DATABASE_PASSWORD}

    LOAD_CODE_TABLE:
        CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
        CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
        CACHE_INPUT_FILES: 'code.csv'

        MODEL_CLASSES: 'datalabs.model.cpt.api.Code'
        DATABASE_HOST: ${DATABASE_HOST}
        DATABASE_PORT: ${DATABASE_PORT}
        DATABASE_BACKEND: ${DATABASE_BACKEND}
        DATABASE_NAME: ${DATABASE_NAME}
        DATABASE_USERNAME: ${DATABASE_USERNAME}
        DATABASE_PASSWORD: ${DATABASE_PASSWORD}
        IGNORE_COLUMNS: 'modified_date'
        SOFT_DELETE_COLUMN: deleted

    LOAD_MODIFIER_TYPE_TABLE:
        CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
        CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
        CACHE_INPUT_FILES: 'modifier_type.csv'

        MODEL_CLASSES: 'datalabs.model.cpt.api.ModifierType'
        DATABASE_HOST: ${DATABASE_HOST}
        DATABASE_PORT: ${DATABASE_PORT}
        DATABASE_BACKEND: ${DATABASE_BACKEND}
        DATABASE_NAME: ${DATABASE_NAME}
        DATABASE_USERNAME: ${DATABASE_USERNAME}
        DATABASE_PASSWORD: ${DATABASE_PASSWORD}

    LOAD_CLINICIAN_DESCRIPTOR_TABLE:
        CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
        CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
        CACHE_INPUT_FILES: 'clinician_descriptor.csv'

        MODEL_CLASSES: 'datalabs.model.cpt.api.ClinicianDescriptor'
        DATABASE_HOST: ${DATABASE_HOST}
        DATABASE_PORT: ${DATABASE_PORT}
        DATABASE_BACKEND: ${DATABASE_BACKEND}
        DATABASE_NAME: ${DATABASE_NAME}
        DATABASE_USERNAME: ${DATABASE_USERNAME}
        DATABASE_PASSWORD: ${DATABASE_PASSWORD}
        IGNORE_COLUMNS: 'modified_date'
        SOFT_DELETE_COLUMN: deleted

    LOAD_DESCRIPTOR_TABLES:
        CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
        CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
        CACHE_INPUT_FILES: 'short_descriptor.csv,medium_descriptor.csv,long_descriptor.csv,consumer_descriptor.csv,clinician_descriptor_code_mapping.csv,modifier.csv'

        MODEL_CLASSES: 'datalabs.model.cpt.api.ShortDescriptor,datalabs.model.cpt.api.MediumDescriptor,datalabs.model.cpt.api.LongDescriptor,datalabs.model.cpt.api.ConsumerDescriptor,datalabs.model.cpt.api.ClinicianDescriptorCodeMapping,datalabs.model.cpt.api.Modifier'
        DATABASE_HOST: ${DATABASE_HOST}
        DATABASE_PORT: ${DATABASE_PORT}
        DATABASE_BACKEND: ${DATABASE_BACKEND}
        DATABASE_NAME: ${DATABASE_NAME}
        DATABASE_USERNAME: ${DATABASE_USERNAME}
        DATABASE_PASSWORD: ${DATABASE_PASSWORD}
        IGNORE_COLUMNS: 'modified_date'
        SOFT_DELETE_COLUMN: deleted

    LOAD_MANUFACTURER_TABLE:
        CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
        CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
        CACHE_INPUT_FILES: 'manufacturer.csv'

        MODEL_CLASSES: 'datalabs.model.cpt.api.Manufacturer'
        DATABASE_HOST: ${DATABASE_HOST}
        DATABASE_PORT: ${DATABASE_PORT}
        DATABASE_BACKEND: ${DATABASE_BACKEND}
        DATABASE_NAME: ${DATABASE_NAME}
        DATABASE_USERNAME: ${DATABASE_USERNAME}
        DATABASE_PASSWORD: ${DATABASE_PASSWORD}
        IGNORE_COLUMNS: 'modified_date'
        SOFT_DELETE_COLUMN: deleted

    LOAD_LAB_TABLE:
        CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
        CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
        CACHE_INPUT_FILES: 'lab.csv'

        MODEL_CLASSES: 'datalabs.model.cpt.api.Lab'
        DATABASE_HOST: ${DATABASE_HOST}
        DATABASE_PORT: ${DATABASE_PORT}
        DATABASE_BACKEND: ${DATABASE_BACKEND}
        DATABASE_NAME: ${DATABASE_NAME}
        DATABASE_USERNAME: ${DATABASE_USERNAME}
        DATABASE_PASSWORD: ${DATABASE_PASSWORD}
        IGNORE_COLUMNS: 'modified_date'
        SOFT_DELETE_COLUMN: deleted

    LOAD_PLA_DETAILS_TABLE:
        CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
        CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
        CACHE_INPUT_FILES: 'pla_details.csv'

        MODEL_CLASSES: 'datalabs.model.cpt.api.PLADetails'
        DATABASE_HOST: ${DATABASE_HOST}
        DATABASE_PORT: ${DATABASE_PORT}
        DATABASE_BACKEND: ${DATABASE_BACKEND}
        DATABASE_NAME: ${DATABASE_NAME}
        DATABASE_USERNAME: ${DATABASE_USERNAME}
        DATABASE_PASSWORD: ${DATABASE_PASSWORD}
        IGNORE_COLUMNS: 'modified_date'
        SOFT_DELETE_COLUMN: deleted

    LOAD_PLA_MAPPING_TABLES:
        CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
        CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
        CACHE_INPUT_FILES: 'manufacturer_code_mapping.csv,lab_code_mapping.csv'

        MODEL_CLASSES: 'datalabs.model.cpt.api.ManufacturerPLACodeMapping,datalabs.model.cpt.api.LabPLACodeMapping'
        DATABASE_HOST: ${DATABASE_HOST}
        DATABASE_PORT: ${DATABASE_PORT}
        DATABASE_BACKEND: ${DATABASE_BACKEND}
        DATABASE_NAME: ${DATABASE_NAME}
        DATABASE_USERNAME: ${DATABASE_USERNAME}
        DATABASE_PASSWORD: ${DATABASE_PASSWORD}
