---
CPT_ZIP_API:
    GLOBAL:
        ENVIRONMENT: tst
        ACCOUNT: '194221139997'

        S3_DOWNLOADS_BUCKET: ama-${ENVIRONMENT}-cpt-downloads-us-east-1

        DATABASE_HOST: cpt-api-tst-db.cvo5zwdixjdr.us-east-1.rds.amazonaws.com
        DATABASE_PORT: '5432'
        DATABASE_BACKEND: 'postgresql+psycopg2'
        DATABASE_NAME: 'cpt'
        DATABASE_USERNAME:  cptadmin
        DATABASE_PASSWORD:  '{{database_password}}'

    ROUTE:
        FILES: '/bulk_zip/files'
        RELEASES: '/bulk_zip/releases'
        DEFAULT: '/*'

    FILES:
        TASK_CLASS: 'datalabs.access.cpt.api.bulk.FilesEndpointTask'
        BUCKET_NAME: ${S3_DOWNLOADS_BUCKET}
        BUCKET_BASE_PATH: ''
        BUCKET_URL_DURATION: '600'
        DATABASE_NAME:  ${DATABASE_NAME}
        DATABASE_BACKEND: ${DATABASE_BACKEND}
        DATABASE_HOST: ${DATABASE_HOST}
        DATABASE_PORT: ${DATABASE_PORT}
        DATABASE_USERNAME: ${DATABASE_USERNAME}
        DATABASE_PASSWORD: ${DATABASE_PASSWORD}

    RELEASES:
        TASK_CLASS: 'datalabs.access.cpt.api.release.ReleasesEndpointTask'
        DATABASE_NAME:  ${DATABASE_NAME}
        DATABASE_BACKEND: ${DATABASE_BACKEND}
        DATABASE_HOST: ${DATABASE_HOST}
        DATABASE_PORT: ${DATABASE_PORT}
        DATABASE_USERNAME: ${DATABASE_USERNAME}
        DATABASE_PASSWORD: ${DATABASE_PASSWORD}

    DEFAULT:
        TASK_CLASS:  'datalabs.access.cpt.api.default.DefaultEndpointTask'
