# Repository Settings
DATALABS_PYTHONPATH='{{pythonpath}}'


# Project Settings
PROJECT_NAME='SQL'


TASK_CLASS=datalabs.etl.task.ETLTask
TASK_WRAPPER_CLASS=datalabs.etl.awslambda.ETLTaskWrapper

# Extractor
EXTRACTOR__TASK_CLASS=datalabs.etl.sql.jdbc.extract.JDBCExtractorTask
EXTRACTOR__DRIVER='com.ibm.db2.jcc.DB2Jcc'
EXTRACTOR__DRIVER_TYPE='db2'
EXTRACTOR__JAR_PATH='./db2jcc4.jar,./'
EXTRACTOR__DATABASE_HOST=  'rdbt1171'
EXTRACTOR__DATABASE_PORT='52100'
EXTRACTOR__DATABASE_NAME=etstods
EXTRACTOR__DATABASE_USERNAME='{{ODS_username}}'
EXTRACTOR__DATABASE_PASSWORD='{{ODS_password}}'
EXTRACTOR__SQL="SELECT * FROM ODS.ODS_IMS_BUSINESS ORDER BY IMS_ORG_ID LIMIT 10;"

# PPD Transformer
TRANSFORMER__TASK_CLASS=datalabs.etl.transform.PassThroughTransformerTask

# PPD Loader
LOADER__TASK_CLASS=datalabs.etl.load.ConsoleLoaderTask
LOADER__BASE_PATH=./
LOADER__FILES=developer_emails.csv
