"""  Repository Settings """
DATALABS_PYTHONPATH='{{pythonpath}}'


# Project Settings
PROJECT_NAME='SQL'


TASK_CLASS='datalabs.etl.task.ETLTask'
TASK_WRAPPER_CLASS='datalabs.etl.awslambda.ETLTaskWrapper'

# Extractor
EXTRACTOR__TASK_CLASS='datalabs.etl.sql.sqlalchemy.extract.SQLAlchemyExtractorTask'
EXTRACTOR__DRIVER='postgresql+psycopg2'
EXTRACTOR__DRIVER_TYPE=''
EXTRACTOR__JAR_PATH='./jdbc-4.50.4.1.jar,./bson-4.2.0.jar'
EXTRACTOR__DATABASE_BACKEND='postgresql+psycopg2'
EXTRACTOR__DATABASE_HOST='cpt-api-dev-db.cwp4vd8mllvz.us-east-1.rds.amazonaws.com'
EXTRACTOR__DATABASE_PORT='5432'
EXTRACTOR__DATABASE_NAME='cpt'
EXTRACTOR__DATABASE_USERNAME='{{username}}'
EXTRACTOR__DATABASE_PASSWORD='{{password}}'
EXTRACTOR__SQL="SELECT * FROM cpt.code limit 2;"

# PPD Transformer
TRANSFORMER__TASK_CLASS='datalabs.etl.transform.PassThroughTransformerTask'

# PPD Loader
LOADER__TASK_CLASS='datalabs.etl.load.ConsoleLoaderTask'
LOADER__BASE_PATH='./'
LOADER__FILES='developer_emails.csv'
