# Render as follows:
#
# Script/render-template -t Deploy/OneView/etl_secrets.yaml.jinja -f Deploy/OneView/etl_secrets.yaml \
# -v "ods_host={{ods_host}},ods_port={{ods_port}},ods_name={{ods_name}},ods_username={{ods_username}},\
# ods_password={{ods_password}},sftp_host={{sftp_host}},sftp_username={{sftp_username}},sftp_password={{sftp_password}},\
# s3_access_key={{s3_access_key}},s3_secret_key={{s3_secret_key}},s3_ingested_bucket={{s3_ingested_bucket}},\
# s3_processed_bucket={{s3_processed_bucket}},database_host={{database_host}},database_name={{database_name}},\
# database_username={{database_username}},database_password={{database_password}},eftp_username={{eftp_username}},
# eftp_password={{eftp_password}}"
---
data:
    ONEVIEW_ODS_HOST: '{{ods_host}}'  # dev: rdbd1156
    ONEVIEW_ODS_PORT: '{{ods_port}}'  # dev: 50000
    ONEVIEW_ODS_NAME: '{{ods_name}}'  # dev: devdw
    ONEVIEW_ODS_USERNAME: '{{ods_username}}'
    ONEVIEW_ODS_PASSWORD: '{{ods_password}}'

    ONEVIEW_SFTP_HOST: '{{sftp_host}}'  # dev: eft.ama-assn.org
    ONEVIEW_SFTP_USERNAME: '{{sftp_username}}'  # dev: datalabs
    ONEVIEW_SFTP_PASSWORD: '{{sftp_password}}'

    ONEVIEW_S3_ACCESS_KEY: '{{s3_access_key}}'
    ONEVIEW_S3_SECRET_KEY: '{{s3_secret_key}}'
    ONEVIEW_S3_INGESTED_DATA_BUCKET: '{{s3_ingested_bucket}}'  # dev: ama-hsg-datalabs-datalake-ingestion-onprem
    ONEVIEW_S3_PROCESSED_DATA_BUCKET: '{{s3_processed_bucket}}'  # dev: ama-hsg-datalabs-datalake-processing-onprem

    ONEVIEW_DATABASE_HOST: '{{database_host}}'  # dev: hsg-data-labs-db.hsg-data-labs-dev.svc.cluster.local
    ONEVIEW_DATABASE_PORT: '5432'
    ONEVIEW_DATABASE_BACKEND: 'postgresql+psycopg2'
    ONEVIEW_DATABASE_NAME: '{{database_name}}'  # dev: datalabs
    ONEVIEW_DATABASE_USERNAME:  '{{database_username}}'
    ONEVIEW_DATABASE_PASSWORD:  '{{database_password}}'

    ONEVIEW_EFT_HOST: '{{eft_host}}'  # dev: efttest.ama-assn.org
    ONEVIEW_EFT_USERNAME: '{{eft_username}}'  # dev: oneviewtst
    ONEVIEW_EFT_PASSWORD: '{{eft_password}}'


    