# Render as follows:
#
# Script/render-template -t Deploy/OneView/dev/ingest.yaml.jinja -f Deploy/OneView/dev/ingest.yaml \
# -v "datalabs_password={{datalabs_password}},eft_password={{eft_password}},database_password={{database_password}},udrive_password={{udrive_password}}"
---
data:
    #######################################################################
    # Global Variables - {"DAG": {"S": "ONEVIEW"}, "Task": {"S": "GLOBAL"}}
    #######################################################################

    ENVIRONMENT: dev
    ACCOUNT: '191296302136'

    EDW_HOST: rdbp1190.ama-assn.org
    EDW_PORT: '54000'
    EDW_NAME: prddw
    EDW_USERNAME: 'dlabs'
    EDW_PASSWORD: '{{datalabs_password}}'

    ODS_HOST: rdbp1190.ama-assn.org
    ODS_PORT: '54150'
    ODS_NAME: eprdods
    ODS_USERNAME: dlabs
    ODS_PASSWORD: '{{datalabs_password}}'

    UDRIVE_HOST: eft.ama-assn.org
    UDRIVE_USERNAME: datalabs
    UDRIVE_PASSWORD: '{{udrive_password}}'

    EFT_HOST: efttest.ama-assn.org
    EFT_USERNAME: oneviewtst
    EFT_PASSWORD: '{{eft_password}}'

    S3_INGESTED_DATA_BUCKET: ama-${ENVIRONMENT}-datalake-ingest-us-east-1
    S3_PROCESSED_DATA_BUCKET: ama-${ENVIRONMENT}-datalake-process-us-east-1

    DATABASE_HOST: oneview-dev-db.cwp4vd8mllvz.us-east-1.rds.amazonaws.com
    DATABASE_PORT: '5432'
    DATABASE_BACKEND: 'postgresql+psycopg2'
    DATABASE_NAME: 'oneview_content'
    DATABASE_USERNAME:  oneviewadmin
    DATABASE_PASSWORD:  '{{database_password}}'

    S3_CACHE_CLASS: 'datalabs.etl.dag.cache.s3.S3TaskDataCache'
    S3_BASE_PATH: 'AMA/OneView'
    DB2_DRIVER: 'com.ibm.db2.jcc.DB2Jcc'
    DB2_DRIVER_TYPE: 'db2'
    DB2_JAR_PATH: './db2jcc4.jar'


    #######################################################################
    # DAG Variables - ({"DAG": {"S": "ONEVIEW"}, "Task": {"S": "DAG"}})
    #######################################################################

    ONEVIEW__DAG__LAMBDA_FUNCTION: 'OneView-${ENVIRONMENT}-ETL'
    ONEVIEW__DAG__DAG_CLASS: 'datalabs.etl.dag.oneview.ingest.OneViewDAG'
    ONEVIEW__DAG__DAG_STATE_CLASS: 'datalabs.etl.dag.state.dynamodb.DAGState'
    ONEVIEW__DAG__DAG_STATE_TABLE: 'DataLake-dag-state-${ENVIRONMENT}'
    ONEVIEW__DAG__STATE_LOCK_TABLE: 'DataLake-scheduler-locks-${ENVIRONMENT}'
    ONEVIEW__DAG__DAG_TOPIC_ARN: 'arn:aws:sns:us-east-1:${ACCOUNT}:DataLake-${ENVIRONMENT}-DAGProcessor'
    ONEVIEW__DAG__TASK_TOPIC_ARN: 'arn:aws:sns:us-east-1:${ACCOUNT}:DataLake-${ENVIRONMENT}-TaskProcessor'
    ONEVIEW__DAG__DAG_EXECUTOR_CLASS: 'datalabs.etl.dag.execute.awslambda.LambdaDAGExecutorTask'
    ONEVIEW__DAG__TASK_EXECUTOR_CLASS: 'datalabs.etl.dag.execute.awslambda.LambdaTaskExecutorTask'



    ##########################################################################
    # Task Variables - ({"DAG": {"S": "ONEVIEW"}, "Task": {"S": "<Task ID>"}})
    ##########################################################################

    # PPD Extractor
    ONEVIEW__EXTRACT_PPD__BASE_PATH: '/'
    ONEVIEW__EXTRACT_PPD__FILES: 'physician_professional_data.psv'
    ONEVIEW__EXTRACT_PPD__HOST: ${EFT_HOST}
    ONEVIEW__EXTRACT_PPD__USERNAME: ${EFT_USERNAME}
    ONEVIEW__EXTRACT_PPD__PASSWORD: ${EFT_PASSWORD}

    ONEVIEW__EXTRACT_PPD__CACHE_OUTPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__EXTRACT_PPD__CACHE_OUTPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
    ONEVIEW__EXTRACT_PPD__CACHE_OUTPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__EXTRACT_PPD__CACHE_OUTPUT_FILES: 'physician_professional_data.psv'

    # NPI Transformer
    ONEVIEW__CREATE_PHYSICIAN_NPI_TABLE__CACHE_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__CREATE_PHYSICIAN_NPI_TABLE__CACHE_BASE_PATH: ${S3_BASE_PATH}

    ONEVIEW__CREATE_PHYSICIAN_NPI_TABLE__CACHE_INPUT_FILES: 'party_key.csv'
    ONEVIEW__CREATE_PHYSICIAN_NPI_TABLE__CACHE_OUTPUT_FILES: 'physician_npi.csv'
    ONEVIEW__CREATE_PHYSICIAN_NPI_TABLE__CACHE_INPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
    ONEVIEW__CREATE_PHYSICIAN_NPI_TABLE__CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}

    # PPD Transformer
    ONEVIEW__SUPPLEMENT_PPD_TABLE__CACHE_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__SUPPLEMENT_PPD_TABLE__CACHE_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__SUPPLEMENT_PPD_TABLE__CACHE_INPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
    ONEVIEW__SUPPLEMENT_PPD_TABLE__CACHE_INPUT_FILES: 'physician_professional_data.psv,race_ethnicity.psv,medical_student.psv'
    ONEVIEW__SUPPLEMENT_PPD_TABLE__CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__SUPPLEMENT_PPD_TABLE__CACHE_OUTPUT_FILES: 'physician_professional_data.csv'

    # PPD Splitter
    ONEVIEW__SPLIT_PPD_TABLE__COUNT: '6'
    ONEVIEW__SPLIT_PPD_TABLE__CACHE_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__SPLIT_PPD_TABLE__CACHE_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__SPLIT_PPD_TABLE__CACHE_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__SPLIT_PPD_TABLE__CACHE_INPUT_FILES: 'physician_professional_data.csv'
    ONEVIEW__SPLIT_PPD_TABLE__CACHE_OUTPUT_FILES: 'physician_professional_data_1.csv,physician_professional_data_2.csv,physician_professional_data_3.csv,physician_professional_data_4.csv,physician_professional_data_5.csv,physician_professional_data_6.csv'

    # Party Key Extractor 1
    ONEVIEW__EXTRACT_PARTY_KEYS_1__DATABASE_NAME: ${EDW_NAME}
    ONEVIEW__EXTRACT_PARTY_KEYS_1__DATABASE_PORT: ${EDW_PORT}
    ONEVIEW__EXTRACT_PARTY_KEYS_1__DATABASE_HOST: ${EDW_HOST}
    ONEVIEW__EXTRACT_PARTY_KEYS_1__DATABASE_USERNAME: ${EDW_USERNAME}
    ONEVIEW__EXTRACT_PARTY_KEYS_1__DATABASE_PASSWORD: ${EDW_PASSWORD}
    ONEVIEW__EXTRACT_PARTY_KEYS_1__SQL: "SELECT PARTY_ID, KEY_TYPE_ID, KEY_VAL FROM AMAEDW.PARTY_KEY WHERE KEY_TYPE_ID=9 OR KEY_TYPE_ID=18 OR KEY_TYPE_ID=38 ORDER BY PARTY_ID LIMIT {index}, {count};"
    ONEVIEW__EXTRACT_PARTY_KEYS_1__CHUNK_SIZE: '100000'
    ONEVIEW__EXTRACT_PARTY_KEYS_1__START_INDEX: '0'
    ONEVIEW__EXTRACT_PARTY_KEYS_1__STOP_INDEX: '2428801'
    ONEVIEW__EXTRACT_PARTY_KEYS_1__DRIVER: ${DB2_DRIVER}
    ONEVIEW__EXTRACT_PARTY_KEYS_1__DRIVER_TYPE: ${DB2_DRIVER_TYPE}
    ONEVIEW__EXTRACT_PARTY_KEYS_1__JAR_PATH: ${DB2_JAR_PATH}

    ONEVIEW__EXTRACT_PARTY_KEYS_1__CACHE_OUTPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__EXTRACT_PARTY_KEYS_1__CACHE_OUTPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
    ONEVIEW__EXTRACT_PARTY_KEYS_1__CACHE_OUTPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__EXTRACT_PARTY_KEYS_1__CACHE_OUTPUT_FILES: 'party_key_1.csv'

    # Party Key Extractor 2
    ONEVIEW__EXTRACT_PARTY_KEYS_2__DATABASE_NAME: ${EDW_NAME}
    ONEVIEW__EXTRACT_PARTY_KEYS_2__DATABASE_PORT: ${EDW_PORT}
    ONEVIEW__EXTRACT_PARTY_KEYS_2__DATABASE_HOST: ${EDW_HOST}
    ONEVIEW__EXTRACT_PARTY_KEYS_2__DATABASE_USERNAME: ${EDW_USERNAME}
    ONEVIEW__EXTRACT_PARTY_KEYS_2__DATABASE_PASSWORD: ${EDW_PASSWORD}
    ONEVIEW__EXTRACT_PARTY_KEYS_2__SQL: "SELECT PARTY_ID, KEY_TYPE_ID, KEY_VAL FROM AMAEDW.PARTY_KEY WHERE KEY_TYPE_ID=9 OR KEY_TYPE_ID=18 OR KEY_TYPE_ID=38 ORDER BY PARTY_ID LIMIT {index}, {count};"
    ONEVIEW__EXTRACT_PARTY_KEYS_2__CHUNK_SIZE: '100000'
    ONEVIEW__EXTRACT_PARTY_KEYS_2__START_INDEX: '2428801'
    ONEVIEW__EXTRACT_PARTY_KEYS_2__STOP_INDEX: '4857602'
    ONEVIEW__EXTRACT_PARTY_KEYS_2__DRIVER: ${DB2_DRIVER}
    ONEVIEW__EXTRACT_PARTY_KEYS_2__DRIVER_TYPE: ${DB2_DRIVER_TYPE}
    ONEVIEW__EXTRACT_PARTY_KEYS_2__JAR_PATH: ${DB2_JAR_PATH}

    ONEVIEW__EXTRACT_PARTY_KEYS_2__CACHE_OUTPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__EXTRACT_PARTY_KEYS_2__CACHE_OUTPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
    ONEVIEW__EXTRACT_PARTY_KEYS_2__CACHE_OUTPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__EXTRACT_PARTY_KEYS_2__CACHE_OUTPUT_FILES: 'party_key_2.csv'

    # Party Key Extractor 3
    ONEVIEW__EXTRACT_PARTY_KEYS_3__DATABASE_NAME: ${EDW_NAME}
    ONEVIEW__EXTRACT_PARTY_KEYS_3__DATABASE_PORT: ${EDW_PORT}
    ONEVIEW__EXTRACT_PARTY_KEYS_3__DATABASE_HOST: ${EDW_HOST}
    ONEVIEW__EXTRACT_PARTY_KEYS_3__DATABASE_USERNAME: ${EDW_USERNAME}
    ONEVIEW__EXTRACT_PARTY_KEYS_3__DATABASE_PASSWORD: ${EDW_PASSWORD}
    ONEVIEW__EXTRACT_PARTY_KEYS_3__SQL: "SELECT PARTY_ID, KEY_TYPE_ID, KEY_VAL FROM AMAEDW.PARTY_KEY WHERE KEY_TYPE_ID=9 OR KEY_TYPE_ID=18 OR KEY_TYPE_ID=38 ORDER BY PARTY_ID LIMIT {index}, {count};"
    ONEVIEW__EXTRACT_PARTY_KEYS_3__CHUNK_SIZE: '100000'
    ONEVIEW__EXTRACT_PARTY_KEYS_3__START_INDEX: '4857602'
    ONEVIEW__EXTRACT_PARTY_KEYS_3__DRIVER: ${DB2_DRIVER}
    ONEVIEW__EXTRACT_PARTY_KEYS_3__DRIVER_TYPE: ${DB2_DRIVER_TYPE}
    ONEVIEW__EXTRACT_PARTY_KEYS_3__JAR_PATH: ${DB2_JAR_PATH}

    ONEVIEW__EXTRACT_PARTY_KEYS_3__CACHE_OUTPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__EXTRACT_PARTY_KEYS_3__CACHE_OUTPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
    ONEVIEW__EXTRACT_PARTY_KEYS_3__CACHE_OUTPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__EXTRACT_PARTY_KEYS_3__CACHE_OUTPUT_FILES: 'party_key_3.csv'

    # Party Key Concatenator
    ONEVIEW__CONCATENATE_PARTY_KEYS__CACHE_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__CONCATENATE_PARTY_KEYS__CACHE_BUCKET: ${S3_INGESTED_DATA_BUCKET}
    ONEVIEW__CONCATENATE_PARTY_KEYS__CACHE_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__CONCATENATE_PARTY_KEYS__CACHE_INPUT_FILES: 'party_key_1.csv,party_key_2.csv,party_key_3.csv'
    ONEVIEW__CONCATENATE_PARTY_KEYS__CACHE_OUTPUT_FILES: 'party_key.csv'

    # Membership Extractor
    ONEVIEW__EXTRACT_MEMBERSHIP_DATA__DATABASE_NAME: ${EDW_NAME}
    ONEVIEW__EXTRACT_MEMBERSHIP_DATA__DATABASE_PORT: ${EDW_PORT}
    ONEVIEW__EXTRACT_MEMBERSHIP_DATA__DATABASE_HOST: ${EDW_HOST}
    ONEVIEW__EXTRACT_MEMBERSHIP_DATA__DATABASE_USERNAME: ${EDW_USERNAME}
    ONEVIEW__EXTRACT_MEMBERSHIP_DATA__DATABASE_PASSWORD: ${EDW_PASSWORD}
    ONEVIEW__EXTRACT_MEMBERSHIP_DATA__SQL: "SELECT P.PARTY_ID_FROM as PARTY_ID, P.STS_TYPE_ID, S.DESC as MEMBERSHIP_STATUS FROM AMAEDW.PARTY_RLSHIP P, AMAEDW.STS_TYPE S WHERE P.MBRSHP_YR=2021 AND P.THRU_DT is null AND P.STS_TYPE_ID=S.STS_TYPE_ID LIMIT {index}, {count};"
    ONEVIEW__EXTRACT_MEMBERSHIP_DATA__CHUNK_SIZE: '100000'
    ONEVIEW__EXTRACT_MEMBERSHIP_DATA__DRIVER: ${DB2_DRIVER}
    ONEVIEW__EXTRACT_MEMBERSHIP_DATA__DRIVER_TYPE: ${DB2_DRIVER_TYPE}
    ONEVIEW__EXTRACT_MEMBERSHIP_DATA__JAR_PATH: ${DB2_JAR_PATH}

    ONEVIEW__EXTRACT_MEMBERSHIP_DATA__CACHE_OUTPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__EXTRACT_MEMBERSHIP_DATA__CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__EXTRACT_MEMBERSHIP_DATA__CACHE_OUTPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__EXTRACT_MEMBERSHIP_DATA__CACHE_OUTPUT_FILES: 'membership_year.csv'

    # Physician Transformer 1
    ONEVIEW__CREATE_PHYSICIAN_TABLE_1__CACHE_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__CREATE_PHYSICIAN_TABLE_1__CACHE_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__CREATE_PHYSICIAN_TABLE_1__CACHE_INPUT_FILES: 'physician_professional_data_1.csv,physician_npi.csv,membership_year.csv,emails.csv'
    ONEVIEW__CREATE_PHYSICIAN_TABLE_1__CACHE_OUTPUT_FILES: 'physician_1.csv'
    ONEVIEW__CREATE_PHYSICIAN_TABLE_1__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__CREATE_PHYSICIAN_TABLE_1__CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}

    # Physician Transformer 2
    ONEVIEW__CREATE_PHYSICIAN_TABLE_2__CACHE_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__CREATE_PHYSICIAN_TABLE_2__CACHE_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__CREATE_PHYSICIAN_TABLE_2__CACHE_INPUT_FILES: 'physician_professional_data_2.csv,physician_npi.csv,membership_year.csv,emails.csv'
    ONEVIEW__CREATE_PHYSICIAN_TABLE_2__CACHE_OUTPUT_FILES: 'physician_2.csv'
    ONEVIEW__CREATE_PHYSICIAN_TABLE_2__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__CREATE_PHYSICIAN_TABLE_2__CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}

    # Physician Transformer 3
    ONEVIEW__CREATE_PHYSICIAN_TABLE_3__CACHE_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__CREATE_PHYSICIAN_TABLE_3__CACHE_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__CREATE_PHYSICIAN_TABLE_3__CACHE_INPUT_FILES: 'physician_professional_data_3.csv,physician_npi.csv,membership_year.csv,emails.csv'
    ONEVIEW__CREATE_PHYSICIAN_TABLE_3__CACHE_OUTPUT_FILES: 'physician_3.csv'
    ONEVIEW__CREATE_PHYSICIAN_TABLE_3__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__CREATE_PHYSICIAN_TABLE_3__CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}

    # Physician Transformer 4
    ONEVIEW__CREATE_PHYSICIAN_TABLE_4__CACHE_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__CREATE_PHYSICIAN_TABLE_4__CACHE_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__CREATE_PHYSICIAN_TABLE_4__CACHE_INPUT_FILES: 'physician_professional_data_4.csv,physician_npi.csv,membership_year.csv,emails.csv'
    ONEVIEW__CREATE_PHYSICIAN_TABLE_4__CACHE_OUTPUT_FILES: 'physician_4.csv'
    ONEVIEW__CREATE_PHYSICIAN_TABLE_4__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__CREATE_PHYSICIAN_TABLE_4__CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}

    # Physician Transformer 5
    ONEVIEW__CREATE_PHYSICIAN_TABLE_5__CACHE_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__CREATE_PHYSICIAN_TABLE_5__CACHE_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__CREATE_PHYSICIAN_TABLE_5__CACHE_INPUT_FILES: 'physician_professional_data_5.csv,physician_npi.csv,membership_year.csv,emails.csv'
    ONEVIEW__CREATE_PHYSICIAN_TABLE_5__CACHE_OUTPUT_FILES: 'physician_5.csv'
    ONEVIEW__CREATE_PHYSICIAN_TABLE_5__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__CREATE_PHYSICIAN_TABLE_5__CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}

    # Physician Transformer 6
    ONEVIEW__CREATE_PHYSICIAN_TABLE_6__CACHE_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__CREATE_PHYSICIAN_TABLE_6__CACHE_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__CREATE_PHYSICIAN_TABLE_6__CACHE_INPUT_FILES: 'physician_professional_data_6.csv,physician_npi.csv,membership_year.csv,emails.csv'
    ONEVIEW__CREATE_PHYSICIAN_TABLE_6__CACHE_OUTPUT_FILES: 'physician_6.csv'
    ONEVIEW__CREATE_PHYSICIAN_TABLE_6__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__CREATE_PHYSICIAN_TABLE_6__CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}

    # Physician Concatenator
    ONEVIEW__CONCATENATE_PHYSICIAN_TABLE__CACHE_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__CONCATENATE_PHYSICIAN_TABLE__CACHE_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__CONCATENATE_PHYSICIAN_TABLE__CACHE_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__CONCATENATE_PHYSICIAN_TABLE__CACHE_INPUT_FILES: 'physician_1.csv,physician_2.csv,physician_3.csv,physician_4.csv,physician_5.csv,physician_6.csv'
    ONEVIEW__CONCATENATE_PHYSICIAN_TABLE__CACHE_OUTPUT_FILES: 'physician.csv'

    # Physician Loader 1
    ONEVIEW__LOAD_PHYSICIAN_TABLE_1__CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__LOAD_PHYSICIAN_TABLE_1__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__LOAD_PHYSICIAN_TABLE_1__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__LOAD_PHYSICIAN_TABLE_1__CACHE_INPUT_FILES: 'physician_1.csv'
    ONEVIEW__LOAD_PHYSICIAN_TABLE_1__MODEL_CLASSES: 'datalabs.model.masterfile.oneview.Physician'
    ONEVIEW__LOAD_PHYSICIAN_TABLE_1__APPEND: 'True'
    ONEVIEW__LOAD_PHYSICIAN_TABLE_1__DATABASE_HOST: ${DATABASE_HOST}
    ONEVIEW__LOAD_PHYSICIAN_TABLE_1__DATABASE_PORT: ${DATABASE_PORT}
    ONEVIEW__LOAD_PHYSICIAN_TABLE_1__DATABASE_BACKEND: ${DATABASE_BACKEND}
    ONEVIEW__LOAD_PHYSICIAN_TABLE_1__DATABASE_NAME: ${DATABASE_NAME}
    ONEVIEW__LOAD_PHYSICIAN_TABLE_1__DATABASE_USERNAME: ${DATABASE_USERNAME}
    ONEVIEW__LOAD_PHYSICIAN_TABLE_1__DATABASE_PASSWORD: ${DATABASE_PASSWORD}

    # Physician Loader 2
    ONEVIEW__LOAD_PHYSICIAN_TABLE_2__CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__LOAD_PHYSICIAN_TABLE_2__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__LOAD_PHYSICIAN_TABLE_2__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__LOAD_PHYSICIAN_TABLE_2__CACHE_INPUT_FILES: 'physician_2.csv'
    ONEVIEW__LOAD_PHYSICIAN_TABLE_2__MODEL_CLASSES: 'datalabs.model.masterfile.oneview.Physician'
    ONEVIEW__LOAD_PHYSICIAN_TABLE_2__APPEND: 'True'
    ONEVIEW__LOAD_PHYSICIAN_TABLE_2__DATABASE_HOST: ${DATABASE_HOST}
    ONEVIEW__LOAD_PHYSICIAN_TABLE_2__DATABASE_PORT: ${DATABASE_PORT}
    ONEVIEW__LOAD_PHYSICIAN_TABLE_2__DATABASE_BACKEND: ${DATABASE_BACKEND}
    ONEVIEW__LOAD_PHYSICIAN_TABLE_2__DATABASE_NAME: ${DATABASE_NAME}
    ONEVIEW__LOAD_PHYSICIAN_TABLE_2__DATABASE_USERNAME: ${DATABASE_USERNAME}
    ONEVIEW__LOAD_PHYSICIAN_TABLE_2__DATABASE_PASSWORD: ${DATABASE_PASSWORD}

    # Physician Loader 3
    ONEVIEW__LOAD_PHYSICIAN_TABLE_3__CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__LOAD_PHYSICIAN_TABLE_3__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__LOAD_PHYSICIAN_TABLE_3__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__LOAD_PHYSICIAN_TABLE_3__CACHE_INPUT_FILES: 'physician_3.csv'
    ONEVIEW__LOAD_PHYSICIAN_TABLE_3__MODEL_CLASSES: 'datalabs.model.masterfile.oneview.Physician'
    ONEVIEW__LOAD_PHYSICIAN_TABLE_3__APPEND: 'True'
    ONEVIEW__LOAD_PHYSICIAN_TABLE_3__DATABASE_HOST: ${DATABASE_HOST}
    ONEVIEW__LOAD_PHYSICIAN_TABLE_3__DATABASE_PORT: ${DATABASE_PORT}
    ONEVIEW__LOAD_PHYSICIAN_TABLE_3__DATABASE_BACKEND: ${DATABASE_BACKEND}
    ONEVIEW__LOAD_PHYSICIAN_TABLE_3__DATABASE_NAME: ${DATABASE_NAME}
    ONEVIEW__LOAD_PHYSICIAN_TABLE_3__DATABASE_USERNAME: ${DATABASE_USERNAME}
    ONEVIEW__LOAD_PHYSICIAN_TABLE_3__DATABASE_PASSWORD: ${DATABASE_PASSWORD}

    # Physician Loader 4
    ONEVIEW__LOAD_PHYSICIAN_TABLE_4__CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__LOAD_PHYSICIAN_TABLE_4__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__LOAD_PHYSICIAN_TABLE_4__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__LOAD_PHYSICIAN_TABLE_4__CACHE_INPUT_FILES: 'physician_4.csv'
    ONEVIEW__LOAD_PHYSICIAN_TABLE_4__MODEL_CLASSES: 'datalabs.model.masterfile.oneview.Physician'
    ONEVIEW__LOAD_PHYSICIAN_TABLE_4__APPEND: 'True'
    ONEVIEW__LOAD_PHYSICIAN_TABLE_4__DATABASE_HOST: ${DATABASE_HOST}
    ONEVIEW__LOAD_PHYSICIAN_TABLE_4__DATABASE_PORT: ${DATABASE_PORT}
    ONEVIEW__LOAD_PHYSICIAN_TABLE_4__DATABASE_BACKEND: ${DATABASE_BACKEND}
    ONEVIEW__LOAD_PHYSICIAN_TABLE_4__DATABASE_NAME: ${DATABASE_NAME}
    ONEVIEW__LOAD_PHYSICIAN_TABLE_4__DATABASE_USERNAME: ${DATABASE_USERNAME}
    ONEVIEW__LOAD_PHYSICIAN_TABLE_4__DATABASE_PASSWORD: ${DATABASE_PASSWORD}

    # Physician Loader 5
    ONEVIEW__LOAD_PHYSICIAN_TABLE_5__CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__LOAD_PHYSICIAN_TABLE_5__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__LOAD_PHYSICIAN_TABLE_5__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__LOAD_PHYSICIAN_TABLE_5__CACHE_INPUT_FILES: 'physician_5.csv'
    ONEVIEW__LOAD_PHYSICIAN_TABLE_5__MODEL_CLASSES: 'datalabs.model.masterfile.oneview.Physician'
    ONEVIEW__LOAD_PHYSICIAN_TABLE_5__APPEND: 'True'
    ONEVIEW__LOAD_PHYSICIAN_TABLE_5__DATABASE_HOST: ${DATABASE_HOST}
    ONEVIEW__LOAD_PHYSICIAN_TABLE_5__DATABASE_PORT: ${DATABASE_PORT}
    ONEVIEW__LOAD_PHYSICIAN_TABLE_5__DATABASE_BACKEND: ${DATABASE_BACKEND}
    ONEVIEW__LOAD_PHYSICIAN_TABLE_5__DATABASE_NAME: ${DATABASE_NAME}
    ONEVIEW__LOAD_PHYSICIAN_TABLE_5__DATABASE_USERNAME: ${DATABASE_USERNAME}
    ONEVIEW__LOAD_PHYSICIAN_TABLE_5__DATABASE_PASSWORD: ${DATABASE_PASSWORD}

    # Physician Loader 6
    ONEVIEW__LOAD_PHYSICIAN_TABLE_6__CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__LOAD_PHYSICIAN_TABLE_6__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__LOAD_PHYSICIAN_TABLE_6__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__LOAD_PHYSICIAN_TABLE_6__CACHE_INPUT_FILES: 'physician_6.csv'
    ONEVIEW__LOAD_PHYSICIAN_TABLE_6__MODEL_CLASSES: 'datalabs.model.masterfile.oneview.Physician'
    ONEVIEW__LOAD_PHYSICIAN_TABLE_6__APPEND: 'True'
    ONEVIEW__LOAD_PHYSICIAN_TABLE_6__DATABASE_HOST: ${DATABASE_HOST}
    ONEVIEW__LOAD_PHYSICIAN_TABLE_6__DATABASE_PORT: ${DATABASE_PORT}
    ONEVIEW__LOAD_PHYSICIAN_TABLE_6__DATABASE_BACKEND: ${DATABASE_BACKEND}
    ONEVIEW__LOAD_PHYSICIAN_TABLE_6__DATABASE_NAME: ${DATABASE_NAME}
    ONEVIEW__LOAD_PHYSICIAN_TABLE_6__DATABASE_USERNAME: ${DATABASE_USERNAME}
    ONEVIEW__LOAD_PHYSICIAN_TABLE_6__DATABASE_PASSWORD: ${DATABASE_PASSWORD}


    # TypeOfPractice Extractor
    ONEVIEW__EXTRACT_TYPE_OF_PRACTICE__DATABASE_NAME: ${EDW_NAME}
    ONEVIEW__EXTRACT_TYPE_OF_PRACTICE__DATABASE_PORT: ${EDW_PORT}
    ONEVIEW__EXTRACT_TYPE_OF_PRACTICE__DATABASE_HOST: ${EDW_HOST}
    ONEVIEW__EXTRACT_TYPE_OF_PRACTICE__DATABASE_USERNAME: ${EDW_USERNAME}
    ONEVIEW__EXTRACT_TYPE_OF_PRACTICE__DATABASE_PASSWORD: ${EDW_PASSWORD}

    ONEVIEW__EXTRACT_TYPE_OF_PRACTICE__SQL: 'SELECT DISTINCT T.TOP_CD, T.DESC FROM AMAEDW.TOP T;'
    ONEVIEW__EXTRACT_TYPE_OF_PRACTICE__DRIVER: ${DB2_DRIVER}
    ONEVIEW__EXTRACT_TYPE_OF_PRACTICE__DRIVER_TYPE: ${DB2_DRIVER_TYPE}
    ONEVIEW__EXTRACT_TYPE_OF_PRACTICE__JAR_PATH: ${DB2_JAR_PATH}

    ONEVIEW__EXTRACT_TYPE_OF_PRACTICE__CACHE_OUTPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__EXTRACT_TYPE_OF_PRACTICE__CACHE_OUTPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
    ONEVIEW__EXTRACT_TYPE_OF_PRACTICE__CACHE_OUTPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__EXTRACT_TYPE_OF_PRACTICE__CACHE_OUTPUT_FILES: 'type_of_practice.csv'


    # TypeOfPractice Transformer
    ONEVIEW__CREATE_TYPE_OF_PRACTICE_TABLE__CACHE_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__CREATE_TYPE_OF_PRACTICE_TABLE__CACHE_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__CREATE_TYPE_OF_PRACTICE_TABLE__CACHE_FILES: 'type_of_practice.csv'

    ONEVIEW__CREATE_TYPE_OF_PRACTICE_TABLE__CACHE_INPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
    ONEVIEW__CREATE_TYPE_OF_PRACTICE_TABLE__CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}

    # PresentEmployment Extractor
    ONEVIEW__EXTRACT_PRESENT_EMPLOYMENT__DATABASE_NAME: ${EDW_NAME}
    ONEVIEW__EXTRACT_PRESENT_EMPLOYMENT__DATABASE_PORT: ${EDW_PORT}
    ONEVIEW__EXTRACT_PRESENT_EMPLOYMENT__DATABASE_HOST: ${EDW_HOST}
    ONEVIEW__EXTRACT_PRESENT_EMPLOYMENT__DATABASE_USERNAME: ${EDW_USERNAME}
    ONEVIEW__EXTRACT_PRESENT_EMPLOYMENT__DATABASE_PASSWORD: ${EDW_PASSWORD}

    ONEVIEW__EXTRACT_PRESENT_EMPLOYMENT__SQL: "SELECT DISTINCT P.EMPLOYER_CD, P.DESC FROM AMAEDW.EMPLOYER P;"
    ONEVIEW__EXTRACT_PRESENT_EMPLOYMENT__DRIVER: ${DB2_DRIVER}
    ONEVIEW__EXTRACT_PRESENT_EMPLOYMENT__DRIVER_TYPE: ${DB2_DRIVER_TYPE}
    ONEVIEW__EXTRACT_PRESENT_EMPLOYMENT__JAR_PATH: ${DB2_JAR_PATH}


    ONEVIEW__EXTRACT_PRESENT_EMPLOYMENT__CACHE_OUTPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__EXTRACT_PRESENT_EMPLOYMENT__CACHE_OUTPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
    ONEVIEW__EXTRACT_PRESENT_EMPLOYMENT__CACHE_OUTPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__EXTRACT_PRESENT_EMPLOYMENT__CACHE_OUTPUT_FILES: 'present_employment.csv'

    # PresentEmployment Transformer
    ONEVIEW__CREATE_PRESENT_EMPLOYMENT_TABLE__CACHE_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__CREATE_PRESENT_EMPLOYMENT_TABLE__CACHE_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__CREATE_PRESENT_EMPLOYMENT_TABLE__CACHE_FILES: 'present_employment.csv'

    ONEVIEW__CREATE_PRESENT_EMPLOYMENT_TABLE__CACHE_INPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
    ONEVIEW__CREATE_PRESENT_EMPLOYMENT_TABLE__CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}

    # MajorProfessionalActivity Extractor
    ONEVIEW__EXTRACT_MAJOR_PROFESSIONAL_ACTIVITY__DATABASE_NAME: ${EDW_NAME}
    ONEVIEW__EXTRACT_MAJOR_PROFESSIONAL_ACTIVITY__DATABASE_PORT: ${EDW_PORT}
    ONEVIEW__EXTRACT_MAJOR_PROFESSIONAL_ACTIVITY__DATABASE_HOST: ${EDW_HOST}
    ONEVIEW__EXTRACT_MAJOR_PROFESSIONAL_ACTIVITY__DATABASE_USERNAME: ${EDW_USERNAME}
    ONEVIEW__EXTRACT_MAJOR_PROFESSIONAL_ACTIVITY__DATABASE_PASSWORD: ${EDW_PASSWORD}

    ONEVIEW__EXTRACT_MAJOR_PROFESSIONAL_ACTIVITY__SQL: "SELECT DISTINCT M.MPA_CD, M.DESC FROM AMAEDW.MPA M;"
    ONEVIEW__EXTRACT_MAJOR_PROFESSIONAL_ACTIVITY__DRIVER: ${DB2_DRIVER}
    ONEVIEW__EXTRACT_MAJOR_PROFESSIONAL_ACTIVITY__DRIVER_TYPE: ${DB2_DRIVER_TYPE}
    ONEVIEW__EXTRACT_MAJOR_PROFESSIONAL_ACTIVITY__JAR_PATH: ${DB2_JAR_PATH}

    ONEVIEW__EXTRACT_MAJOR_PROFESSIONAL_ACTIVITY__CACHE_OUTPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__EXTRACT_MAJOR_PROFESSIONAL_ACTIVITY__CACHE_OUTPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
    ONEVIEW__EXTRACT_MAJOR_PROFESSIONAL_ACTIVITY__CACHE_OUTPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__EXTRACT_MAJOR_PROFESSIONAL_ACTIVITY__CACHE_OUTPUT_FILES: 'major_professional_activity.csv'

    # MajorProfessionalActivity Transformer
    ONEVIEW__CREATE_MAJOR_PROFESSIONAL_ACTIVITY_TABLE__CACHE_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__CREATE_MAJOR_PROFESSIONAL_ACTIVITY_TABLE__CACHE_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__CREATE_MAJOR_PROFESSIONAL_ACTIVITY_TABLE__CACHE_FILES: 'major_professional_activity.csv'

    ONEVIEW__CREATE_MAJOR_PROFESSIONAL_ACTIVITY_TABLE__CACHE_INPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
    ONEVIEW__CREATE_MAJOR_PROFESSIONAL_ACTIVITY_TABLE__CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}

    # FederalInformationProcessingStandardCounty Extractor
    ONEVIEW__EXTRACT_FEDERAL_INFORMATION_PROCESSING_STANDARD_COUNTY__URLS: 'https://en.wikipedia.org/wiki/List_of_United_States_FIPS_codes_by_county'

    ONEVIEW__EXTRACT_FEDERAL_INFORMATION_PROCESSING_STANDARD_COUNTY__CACHE_OUTPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__EXTRACT_FEDERAL_INFORMATION_PROCESSING_STANDARD_COUNTY__CACHE_OUTPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
    ONEVIEW__EXTRACT_FEDERAL_INFORMATION_PROCESSING_STANDARD_COUNTY__CACHE_OUTPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__EXTRACT_FEDERAL_INFORMATION_PROCESSING_STANDARD_COUNTY__CACHE_OUTPUT_FILES: 'federal_information_processing_standard_county.xlsx'

    # FederalInformationProcessingStandardCounty Transformer
    ONEVIEW__CREATE_FEDERAL_INFORMATION_PROCESSING_STANDARD_COUNTY_TABLE__CACHE_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__CREATE_FEDERAL_INFORMATION_PROCESSING_STANDARD_COUNTY_TABLE__CACHE_BASE_PATH: ${S3_BASE_PATH}

    ONEVIEW__CREATE_FEDERAL_INFORMATION_PROCESSING_STANDARD_COUNTY_TABLE__CACHE_INPUT_FILES: 'federal_information_processing_standard_county.xlsx'
    ONEVIEW__CREATE_FEDERAL_INFORMATION_PROCESSING_STANDARD_COUNTY_TABLE__CACHE_OUTPUT_FILES: 'federal_information_processing_standard_county.csv'
    ONEVIEW__CREATE_FEDERAL_INFORMATION_PROCESSING_STANDARD_COUNTY_TABLE__CACHE_INPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
    ONEVIEW__CREATE_FEDERAL_INFORMATION_PROCESSING_STANDARD_COUNTY_TABLE__CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}

    # CoreBasedStatisticalArea Extractor
    # ONEVIEW__EXTRACT_CORE_BASED_STATISTICAL_AREA__URLS: 'https://aqs.epa.gov/aqsweb/documents/codetables/cbsas.csv'
    ONEVIEW__EXTRACT_CORE_BASED_STATISTICAL_AREA__URLS: 'https://www2.census.gov/programs-surveys/metro-micro/geographies/reference-files/2020/delineation-files/list1_2020.xls'
    ONEVIEW__EXTRACT_CORE_BASED_STATISTICAL_AREA__CACHE_OUTPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__EXTRACT_CORE_BASED_STATISTICAL_AREA__CACHE_OUTPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
    ONEVIEW__EXTRACT_CORE_BASED_STATISTICAL_AREA__CACHE_OUTPUT_BASE_PATH: ${S3_BASE_PATH}
    # ONEVIEW__EXTRACT_CORE_BASED_STATISTICAL_AREA__CACHE_OUTPUT_FILES: 'core_based_statistical_area.csv'
    ONEVIEW__EXTRACT_CORE_BASED_STATISTICAL_AREA__CACHE_OUTPUT_FILES: 'core_based_statistical_area.xls'

    # CoreBasedStatisticalArea Transformer
    ONEVIEW__CREATE_CORE_BASED_STATISTICAL_AREA_TABLE__CACHE_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__CREATE_CORE_BASED_STATISTICAL_AREA_TABLE__CACHE_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__CREATE_CORE_BASED_STATISTICAL_AREA_TABLE__CACHE_INPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
    ONEVIEW__CREATE_CORE_BASED_STATISTICAL_AREA_TABLE__CACHE_INPUT_FILES: 'core_based_statistical_area.xls'
    ONEVIEW__CREATE_CORE_BASED_STATISTICAL_AREA_TABLE__CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__CREATE_CORE_BASED_STATISTICAL_AREA_TABLE__CACHE_OUTPUT_FILES: 'core_based_statistical_area.csv'

    # Specialty Extractor
    ONEVIEW__EXTRACT_SPECIALTY__DATABASE_NAME: ${EDW_NAME}
    ONEVIEW__EXTRACT_SPECIALTY__DATABASE_PORT: ${EDW_PORT}
    ONEVIEW__EXTRACT_SPECIALTY__DATABASE_HOST: ${EDW_HOST}
    ONEVIEW__EXTRACT_SPECIALTY__DATABASE_USERNAME: ${EDW_USERNAME}
    ONEVIEW__EXTRACT_SPECIALTY__DATABASE_PASSWORD: ${EDW_PASSWORD}

    ONEVIEW__EXTRACT_SPECIALTY__SQL: "SELECT DISTINCT S.SPEC_CD, S.DESC FROM AMAEDW.SPEC S;"
    ONEVIEW__EXTRACT_SPECIALTY__DRIVER: ${DB2_DRIVER}
    ONEVIEW__EXTRACT_SPECIALTY__DRIVER_TYPE: ${DB2_DRIVER_TYPE}
    ONEVIEW__EXTRACT_SPECIALTY__JAR_PATH: ${DB2_JAR_PATH}

    ONEVIEW__EXTRACT_SPECIALTY__CACHE_OUTPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__EXTRACT_SPECIALTY__CACHE_OUTPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
    ONEVIEW__EXTRACT_SPECIALTY__CACHE_OUTPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__EXTRACT_SPECIALTY__CACHE_OUTPUT_FILES: 'specialty_all.csv'

    # Specialty Duplication
    ONEVIEW__CREATE_SPECIALTY_TABLE__CACHE_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__CREATE_SPECIALTY_TABLE__CACHE_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__CREATE_SPECIALTY_TABLE__CACHE_FILES: 'specialty_all.csv'
    ONEVIEW__CREATE_SPECIALTY_TABLE__CACHE_INPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
    ONEVIEW__CREATE_SPECIALTY_TABLE__CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}

    # SpecialtyMerge Transformer
    ONEVIEW__REMOVE_UNUSED_SPECIALTIES__CACHE_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__REMOVE_UNUSED_SPECIALTIES__CACHE_BASE_PATH: ${S3_BASE_PATH}

    ONEVIEW__REMOVE_UNUSED_SPECIALTIES__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__REMOVE_UNUSED_SPECIALTIES__CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__REMOVE_UNUSED_SPECIALTIES__CACHE_INPUT_FILES: 'specialty_all.csv,physician.csv'
    ONEVIEW__REMOVE_UNUSED_SPECIALTIES__CACHE_OUTPUT_FILES: 'specialty.csv'

    # Specialty Loader
    ONEVIEW__LOAD_SPECIALTY_TABLE__CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__LOAD_SPECIALTY_TABLE__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__LOAD_SPECIALTY_TABLE__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__LOAD_SPECIALTY_TABLE__CACHE_INPUT_FILES: 'specialty.csv'

    ONEVIEW__LOAD_SPECIALTY_TABLE__MODEL_CLASSES: 'datalabs.model.masterfile.oneview.Specialty'
    ONEVIEW__LOAD_SPECIALTY_TABLE__DATABASE_HOST: ${DATABASE_HOST}
    ONEVIEW__LOAD_SPECIALTY_TABLE__DATABASE_PORT: ${DATABASE_PORT}
    ONEVIEW__LOAD_SPECIALTY_TABLE__DATABASE_BACKEND: ${DATABASE_BACKEND}
    ONEVIEW__LOAD_SPECIALTY_TABLE__DATABASE_NAME: ${DATABASE_NAME}
    ONEVIEW__LOAD_SPECIALTY_TABLE__DATABASE_USERNAME: ${DATABASE_USERNAME}
    ONEVIEW__LOAD_SPECIALTY_TABLE__DATABASE_PASSWORD: ${DATABASE_PASSWORD}

    # TypeOfPractice Loader
    ONEVIEW__LOAD_TYPE_OF_PRACTICE_TABLE__CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__LOAD_TYPE_OF_PRACTICE_TABLE__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__LOAD_TYPE_OF_PRACTICE_TABLE__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__LOAD_TYPE_OF_PRACTICE_TABLE__CACHE_INPUT_FILES: 'type_of_practice.csv'

    ONEVIEW__LOAD_TYPE_OF_PRACTICE_TABLE__MODEL_CLASSES: 'datalabs.model.masterfile.oneview.TypeOfPractice'
    ONEVIEW__LOAD_TYPE_OF_PRACTICE_TABLE__DATABASE_HOST: ${DATABASE_HOST}
    ONEVIEW__LOAD_TYPE_OF_PRACTICE_TABLE__DATABASE_PORT: ${DATABASE_PORT}
    ONEVIEW__LOAD_TYPE_OF_PRACTICE_TABLE__DATABASE_BACKEND: ${DATABASE_BACKEND}
    ONEVIEW__LOAD_TYPE_OF_PRACTICE_TABLE__DATABASE_NAME: ${DATABASE_NAME}
    ONEVIEW__LOAD_TYPE_OF_PRACTICE_TABLE__DATABASE_USERNAME: ${DATABASE_USERNAME}
    ONEVIEW__LOAD_TYPE_OF_PRACTICE_TABLE__DATABASE_PASSWORD: ${DATABASE_PASSWORD}

    # MajorProfessionalActivity Loader
    ONEVIEW__LOAD_MAJOR_PROFESSIONAL_ACTIVITY_TABLE__CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__LOAD_MAJOR_PROFESSIONAL_ACTIVITY_TABLE__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__LOAD_MAJOR_PROFESSIONAL_ACTIVITY_TABLE__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__LOAD_MAJOR_PROFESSIONAL_ACTIVITY_TABLE__CACHE_INPUT_FILES: 'major_professional_activity.csv'

    ONEVIEW__LOAD_MAJOR_PROFESSIONAL_ACTIVITY_TABLE__MODEL_CLASSES: 'datalabs.model.masterfile.oneview.MajorProfessionalActivity'
    ONEVIEW__LOAD_MAJOR_PROFESSIONAL_ACTIVITY_TABLE__DATABASE_HOST: ${DATABASE_HOST}
    ONEVIEW__LOAD_MAJOR_PROFESSIONAL_ACTIVITY_TABLE__DATABASE_PORT: ${DATABASE_PORT}
    ONEVIEW__LOAD_MAJOR_PROFESSIONAL_ACTIVITY_TABLE__DATABASE_BACKEND: ${DATABASE_BACKEND}
    ONEVIEW__LOAD_MAJOR_PROFESSIONAL_ACTIVITY_TABLE__DATABASE_NAME: ${DATABASE_NAME}
    ONEVIEW__LOAD_MAJOR_PROFESSIONAL_ACTIVITY_TABLE__DATABASE_USERNAME: ${DATABASE_USERNAME}
    ONEVIEW__LOAD_MAJOR_PROFESSIONAL_ACTIVITY_TABLE__DATABASE_PASSWORD: ${DATABASE_PASSWORD}

    # FederalInformation Loader
    ONEVIEW__LOAD_FEDERAL_INFORMATION_PROCESSING_STANDARD_COUNTY_TABLE__CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__LOAD_FEDERAL_INFORMATION_PROCESSING_STANDARD_COUNTY_TABLE__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__LOAD_FEDERAL_INFORMATION_PROCESSING_STANDARD_COUNTY_TABLE__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__LOAD_FEDERAL_INFORMATION_PROCESSING_STANDARD_COUNTY_TABLE__CACHE_INPUT_FILES: 'federal_information_processing_standard_county.csv'

    ONEVIEW__LOAD_FEDERAL_INFORMATION_PROCESSING_STANDARD_COUNTY_TABLE__MODEL_CLASSES: 'datalabs.model.masterfile.oneview.FederalInformationProcessingStandardCounty'
    ONEVIEW__LOAD_FEDERAL_INFORMATION_PROCESSING_STANDARD_COUNTY_TABLE__DATABASE_HOST: ${DATABASE_HOST}
    ONEVIEW__LOAD_FEDERAL_INFORMATION_PROCESSING_STANDARD_COUNTY_TABLE__DATABASE_PORT: ${DATABASE_PORT}
    ONEVIEW__LOAD_FEDERAL_INFORMATION_PROCESSING_STANDARD_COUNTY_TABLE__DATABASE_BACKEND: ${DATABASE_BACKEND}
    ONEVIEW__LOAD_FEDERAL_INFORMATION_PROCESSING_STANDARD_COUNTY_TABLE__DATABASE_NAME: ${DATABASE_NAME}
    ONEVIEW__LOAD_FEDERAL_INFORMATION_PROCESSING_STANDARD_COUNTY_TABLE__DATABASE_USERNAME: ${DATABASE_USERNAME}
    ONEVIEW__LOAD_FEDERAL_INFORMATION_PROCESSING_STANDARD_COUNTY_TABLE__DATABASE_PASSWORD: ${DATABASE_PASSWORD}

    # CoreBasedStatisticalArea Loader
    ONEVIEW__LOAD_CORE_BASED_STATISTICAL_AREA_TABLE__CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__LOAD_CORE_BASED_STATISTICAL_AREA_TABLE__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__LOAD_CORE_BASED_STATISTICAL_AREA_TABLE__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__LOAD_CORE_BASED_STATISTICAL_AREA_TABLE__CACHE_INPUT_FILES: 'core_based_statistical_area.csv'

    ONEVIEW__LOAD_CORE_BASED_STATISTICAL_AREA_TABLE__MODEL_CLASSES: 'datalabs.model.masterfile.oneview.CoreBasedStatisticalArea'
    ONEVIEW__LOAD_CORE_BASED_STATISTICAL_AREA_TABLE__DATABASE_HOST: ${DATABASE_HOST}
    ONEVIEW__LOAD_CORE_BASED_STATISTICAL_AREA_TABLE__DATABASE_PORT: ${DATABASE_PORT}
    ONEVIEW__LOAD_CORE_BASED_STATISTICAL_AREA_TABLE__DATABASE_BACKEND: ${DATABASE_BACKEND}
    ONEVIEW__LOAD_CORE_BASED_STATISTICAL_AREA_TABLE__DATABASE_NAME: ${DATABASE_NAME}
    ONEVIEW__LOAD_CORE_BASED_STATISTICAL_AREA_TABLE__DATABASE_USERNAME: ${DATABASE_USERNAME}
    ONEVIEW__LOAD_CORE_BASED_STATISTICAL_AREA_TABLE__DATABASE_PASSWORD: ${DATABASE_PASSWORD}

    # PresentEmployment Loader
    ONEVIEW__LOAD_PRESENT_EMPLOYMENT_TABLE__CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__LOAD_PRESENT_EMPLOYMENT_TABLE__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__LOAD_PRESENT_EMPLOYMENT_TABLE__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__LOAD_PRESENT_EMPLOYMENT_TABLE__CACHE_INPUT_FILES: 'present_employment.csv'

    ONEVIEW__LOAD_PRESENT_EMPLOYMENT_TABLE__MODEL_CLASSES: 'datalabs.model.masterfile.oneview.PresentEmployment'
    ONEVIEW__LOAD_PRESENT_EMPLOYMENT_TABLE__DATABASE_HOST: ${DATABASE_HOST}
    ONEVIEW__LOAD_PRESENT_EMPLOYMENT_TABLE__DATABASE_PORT: ${DATABASE_PORT}
    ONEVIEW__LOAD_PRESENT_EMPLOYMENT_TABLE__DATABASE_BACKEND: ${DATABASE_BACKEND}
    ONEVIEW__LOAD_PRESENT_EMPLOYMENT_TABLE__DATABASE_NAME: ${DATABASE_NAME}
    ONEVIEW__LOAD_PRESENT_EMPLOYMENT_TABLE__DATABASE_USERNAME: ${DATABASE_USERNAME}
    ONEVIEW__LOAD_PRESENT_EMPLOYMENT_TABLE__DATABASE_PASSWORD: ${DATABASE_PASSWORD}

    # Residency Extractor
    ONEVIEW__EXTRACT_RESIDENCY__BASE_PATH: 'Data Analytics/Data-Science/Data/Masterfile_OneView'
    ONEVIEW__EXTRACT_RESIDENCY__FILES: 'Program Information table - Active.txt,Program Address table - Active.txt,Program Personnel table - Active.txt,Program Institution.txt,Institution Information - Active.txt'
    ONEVIEW__EXTRACT_RESIDENCY__HOST: ${UDRIVE_HOST}
    ONEVIEW__EXTRACT_RESIDENCY__USERNAME: ${UDRIVE_USERNAME}
    ONEVIEW__EXTRACT_RESIDENCY__PASSWORD: ${UDRIVE_PASSWORD}

    ONEVIEW__EXTRACT_RESIDENCY__CACHE_OUTPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__EXTRACT_RESIDENCY__CACHE_OUTPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
    ONEVIEW__EXTRACT_RESIDENCY__CACHE_OUTPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__EXTRACT_RESIDENCY__CACHE_OUTPUT_FILES: 'residency_program.psv, residency_address.psv, residency_program_personnel_member.psv,residency_program_institution.psv,residency_institution_information.psv'

    # Residency Transformer
    ONEVIEW__CREATE_RESIDENCY_TABLES__CACHE_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__CREATE_RESIDENCY_TABLES__CACHE_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__CREATE_RESIDENCY_TABLES__CACHE_INPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
    ONEVIEW__CREATE_RESIDENCY_TABLES__CACHE_INPUT_FILES: 'residency_program.psv, residency_address.psv, residency_program_personnel_member.psv,residency_program_institution.psv,residency_institution_information.psv'
    ONEVIEW__CREATE_RESIDENCY_TABLES__CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__CREATE_RESIDENCY_TABLES__CACHE_OUTPUT_FILES: 'residency_program.csv,residency_program_personnel_member.csv,residency_program_institution.csv'

    # ResidencyTables Loader
    ONEVIEW__LOAD_RESIDENCY_INSTITUTION_TABLE__CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__LOAD_RESIDENCY_INSTITUTION_TABLE__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__LOAD_RESIDENCY_INSTITUTION_TABLE__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__LOAD_RESIDENCY_INSTITUTION_TABLE__CACHE_INPUT_FILES: 'residency_program_institution.csv'

    ONEVIEW__LOAD_RESIDENCY_INSTITUTION_TABLE__MODEL_CLASSES: 'datalabs.model.masterfile.oneview.ResidencyProgramInstitution'
    ONEVIEW__LOAD_RESIDENCY_INSTITUTION_TABLE__DATABASE_HOST: ${DATABASE_HOST}
    ONEVIEW__LOAD_RESIDENCY_INSTITUTION_TABLE__DATABASE_PORT: ${DATABASE_PORT}
    ONEVIEW__LOAD_RESIDENCY_INSTITUTION_TABLE__DATABASE_BACKEND: ${DATABASE_BACKEND}
    ONEVIEW__LOAD_RESIDENCY_INSTITUTION_TABLE__DATABASE_NAME: ${DATABASE_NAME}
    ONEVIEW__LOAD_RESIDENCY_INSTITUTION_TABLE__DATABASE_USERNAME: ${DATABASE_USERNAME}
    ONEVIEW__LOAD_RESIDENCY_INSTITUTION_TABLE__DATABASE_PASSWORD: ${DATABASE_PASSWORD}

    # ResidencyTables Loader
    ONEVIEW__LOAD_RESIDENCY_PROGRAM_TABLE__CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__LOAD_RESIDENCY_PROGRAM_TABLE__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__LOAD_RESIDENCY_PROGRAM_TABLE__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__LOAD_RESIDENCY_PROGRAM_TABLE__CACHE_INPUT_FILES: 'residency_program.csv'

    ONEVIEW__LOAD_RESIDENCY_PROGRAM_TABLE__MODEL_CLASSES: 'datalabs.model.masterfile.oneview.ResidencyProgram'
    ONEVIEW__LOAD_RESIDENCY_PROGRAM_TABLE__DATABASE_HOST: ${DATABASE_HOST}
    ONEVIEW__LOAD_RESIDENCY_PROGRAM_TABLE__DATABASE_PORT: ${DATABASE_PORT}
    ONEVIEW__LOAD_RESIDENCY_PROGRAM_TABLE__DATABASE_BACKEND: ${DATABASE_BACKEND}
    ONEVIEW__LOAD_RESIDENCY_PROGRAM_TABLE__DATABASE_NAME: ${DATABASE_NAME}
    ONEVIEW__LOAD_RESIDENCY_PROGRAM_TABLE__DATABASE_USERNAME: ${DATABASE_USERNAME}
    ONEVIEW__LOAD_RESIDENCY_PROGRAM_TABLE__DATABASE_PASSWORD: ${DATABASE_PASSWORD}

    # ResidencyTables Loader
    ONEVIEW__LOAD_RESIDENCY_PERSONNEL_TABLE__CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__LOAD_RESIDENCY_PERSONNEL_TABLE__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__LOAD_RESIDENCY_PERSONNEL_TABLE__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__LOAD_RESIDENCY_PERSONNEL_TABLE__CACHE_INPUT_FILES: 'residency_program_personnel_member.csv'

    ONEVIEW__LOAD_RESIDENCY_PERSONNEL_TABLE__MODEL_CLASSES: 'datalabs.model.masterfile.oneview.ResidencyProgramPersonnelMember'
    ONEVIEW__LOAD_RESIDENCY_PERSONNEL_TABLE__DATABASE_HOST: ${DATABASE_HOST}
    ONEVIEW__LOAD_RESIDENCY_PERSONNEL_TABLE__DATABASE_PORT: ${DATABASE_PORT}
    ONEVIEW__LOAD_RESIDENCY_PERSONNEL_TABLE__DATABASE_BACKEND: ${DATABASE_BACKEND}
    ONEVIEW__LOAD_RESIDENCY_PERSONNEL_TABLE__DATABASE_NAME: ${DATABASE_NAME}
    ONEVIEW__LOAD_RESIDENCY_PERSONNEL_TABLE__DATABASE_USERNAME: ${DATABASE_USERNAME}
    ONEVIEW__LOAD_RESIDENCY_PERSONNEL_TABLE__DATABASE_PASSWORD: ${DATABASE_PASSWORD}

    # IQVIA Business Extractor
    ONEVIEW__EXTRACT_IQVIA_BUSINESS__DATABASE_NAME: ${ODS_NAME}
    ONEVIEW__EXTRACT_IQVIA_BUSINESS__DATABASE_PORT: ${ODS_PORT}
    ONEVIEW__EXTRACT_IQVIA_BUSINESS__SQL: "SELECT B.IMS_ORG_ID, B.BUSINESS_NAME, B.DBA_NAME, B.ADDRESS_ID, B.PHYSICAL_ADDR_1, B.PHYSICAL_ADDR_2, B.PHYSICAL_CITY, B.PHYSICAL_STATE, B.PHYSICAL_ZIP, B.POSTAL_ADDR_1, B.POSTAL_ADDR_2, B.POSTAL_CITY, B.POSTAL_STATE, B.POSTAL_ZIP, B.PHONE, B.FAX, B.WEBSITE, B.LATITUDE, B.LONGITUDE, B.OWNER_STATUS, B.PROFIT_STATUS, B.PRIMARY_COT_ID, B.COT_CLASSIFICATION_ID, B.COT_FACILITY_TYPE_ID, B.COT_FACILITY_TYPE, B.COT_SPECIALTY_ID, B.COT_SPECIALTY, B.RECORD_TYPE, B.TTL_LICENSE_BEDS, B.TTL_CENSUS_BEDS, B.TTL_STAFFED_BEDS, B.TEACHING_HOSP, B.COMMHOSP, B.MSA, B.FIPS_STATE, B.FIPS_COUNTY, B.NUM_OF_PROVIDERS, B.ELECTRONIC_MED_REC, B.EPRESCRIBE, B.PAYPERFORM, B.DEACTIVATION_REASON, B.REFERBACK_IMS_ORG_ID, B.STATUS_INDICATOR, B.BATCH_BUSINESS_DATE FROM ODS.ODS_IMS_BUSINESS B LIMIT {index}, {count};"
    ONEVIEW__EXTRACT_IQVIA_BUSINESS__DATABASE_HOST: ${ODS_HOST}
    ONEVIEW__EXTRACT_IQVIA_BUSINESS__DATABASE_USERNAME: ${ODS_USERNAME}
    ONEVIEW__EXTRACT_IQVIA_BUSINESS__DATABASE_PASSWORD: ${ODS_PASSWORD}
    ONEVIEW__EXTRACT_IQVIA_BUSINESS__DRIVER: ${DB2_DRIVER}
    ONEVIEW__EXTRACT_IQVIA_BUSINESS__DRIVER_TYPE: ${DB2_DRIVER_TYPE}
    ONEVIEW__EXTRACT_IQVIA_BUSINESS__JAR_PATH: ${DB2_JAR_PATH}
    ONEVIEW__EXTRACT_IQVIA_BUSINESS__CHUNK_SIZE: '100000'

    ONEVIEW__EXTRACT_IQVIA_BUSINESS__CACHE_OUTPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__EXTRACT_IQVIA_BUSINESS__CACHE_OUTPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
    ONEVIEW__EXTRACT_IQVIA_BUSINESS__CACHE_OUTPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__EXTRACT_IQVIA_BUSINESS__CACHE_OUTPUT_FILES: 'iqvia_business.csv'

    # IQVIA Business Transformer
    ONEVIEW__CREATE_BUSINESS_TABLE__CACHE_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__CREATE_BUSINESS_TABLE__CACHE_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__CREATE_BUSINESS_TABLE__CACHE_INPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
    ONEVIEW__CREATE_BUSINESS_TABLE__CACHE_INPUT_FILES: 'iqvia_business.csv,class_of_trade.csv'
    ONEVIEW__CREATE_BUSINESS_TABLE__CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__CREATE_BUSINESS_TABLE__CACHE_OUTPUT_FILES: 'iqvia_business.csv'

    # IQVIA Business Splitter
    ONEVIEW__SPLIT_IQVIA_BUSINESS_TABLE__COUNT: '3'
    ONEVIEW__SPLIT_IQVIA_BUSINESS_TABLE__CACHE_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__SPLIT_IQVIA_BUSINESS_TABLE__CACHE_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__SPLIT_IQVIA_BUSINESS_TABLE__CACHE_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__SPLIT_IQVIA_BUSINESS_TABLE__CACHE_INPUT_FILES: 'iqvia_business.csv'
    ONEVIEW__SPLIT_IQVIA_BUSINESS_TABLE__CACHE_OUTPUT_FILES: 'iqvia_business_1.csv,iqvia_business_2.csv,iqvia_business_3.csv'

    # IQVIA Business Loader 1
    ONEVIEW__LOAD_IQVIA_BUSINESS_TABLE_1__MODEL_CLASSES: 'datalabs.model.masterfile.oneview.Business'
    ONEVIEW__LOAD_IQVIA_BUSINESS_TABLE_1__DATABASE_HOST: ${DATABASE_HOST}
    ONEVIEW__LOAD_IQVIA_BUSINESS_TABLE_1__DATABASE_PORT: ${DATABASE_PORT}
    ONEVIEW__LOAD_IQVIA_BUSINESS_TABLE_1__DATABASE_BACKEND: ${DATABASE_BACKEND}
    ONEVIEW__LOAD_IQVIA_BUSINESS_TABLE_1__DATABASE_NAME: ${DATABASE_NAME}
    ONEVIEW__LOAD_IQVIA_BUSINESS_TABLE_1__DATABASE_USERNAME: ${DATABASE_USERNAME}
    ONEVIEW__LOAD_IQVIA_BUSINESS_TABLE_1__DATABASE_PASSWORD: ${DATABASE_PASSWORD}
    ONEVIEW__LOAD_IQVIA_BUSINESS_TABLE_1__APPEND: 'True'
    ONEVIEW__LOAD_IQVIA_BUSINESS_TABLE_1__CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__LOAD_IQVIA_BUSINESS_TABLE_1__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__LOAD_IQVIA_BUSINESS_TABLE_1__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__LOAD_IQVIA_BUSINESS_TABLE_1__CACHE_INPUT_FILES: 'iqvia_business_1.csv'

    # IQVIA Business Loader 2
    ONEVIEW__LOAD_IQVIA_BUSINESS_TABLE_2__MODEL_CLASSES: 'datalabs.model.masterfile.oneview.Business'
    ONEVIEW__LOAD_IQVIA_BUSINESS_TABLE_2__DATABASE_HOST: ${DATABASE_HOST}
    ONEVIEW__LOAD_IQVIA_BUSINESS_TABLE_2__DATABASE_PORT: ${DATABASE_PORT}
    ONEVIEW__LOAD_IQVIA_BUSINESS_TABLE_2__DATABASE_BACKEND: ${DATABASE_BACKEND}
    ONEVIEW__LOAD_IQVIA_BUSINESS_TABLE_2__DATABASE_NAME: ${DATABASE_NAME}
    ONEVIEW__LOAD_IQVIA_BUSINESS_TABLE_2__DATABASE_USERNAME: ${DATABASE_USERNAME}
    ONEVIEW__LOAD_IQVIA_BUSINESS_TABLE_2__DATABASE_PASSWORD: ${DATABASE_PASSWORD}
    ONEVIEW__LOAD_IQVIA_BUSINESS_TABLE_2__APPEND: 'True'
    ONEVIEW__LOAD_IQVIA_BUSINESS_TABLE_2__CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__LOAD_IQVIA_BUSINESS_TABLE_2__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__LOAD_IQVIA_BUSINESS_TABLE_2__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__LOAD_IQVIA_BUSINESS_TABLE_2__CACHE_INPUT_FILES: 'iqvia_business_2.csv'

    # IQVIA Business Loader 3
    ONEVIEW__LOAD_IQVIA_BUSINESS_TABLE_3__MODEL_CLASSES: 'datalabs.model.masterfile.oneview.Business'
    ONEVIEW__LOAD_IQVIA_BUSINESS_TABLE_3__DATABASE_HOST: ${DATABASE_HOST}
    ONEVIEW__LOAD_IQVIA_BUSINESS_TABLE_3__DATABASE_PORT: ${DATABASE_PORT}
    ONEVIEW__LOAD_IQVIA_BUSINESS_TABLE_3__DATABASE_BACKEND: ${DATABASE_BACKEND}
    ONEVIEW__LOAD_IQVIA_BUSINESS_TABLE_3__DATABASE_NAME: ${DATABASE_NAME}
    ONEVIEW__LOAD_IQVIA_BUSINESS_TABLE_3__DATABASE_USERNAME: ${DATABASE_USERNAME}
    ONEVIEW__LOAD_IQVIA_BUSINESS_TABLE_3__DATABASE_PASSWORD: ${DATABASE_PASSWORD}
    ONEVIEW__LOAD_IQVIA_BUSINESS_TABLE_3__APPEND: 'True'
    ONEVIEW__LOAD_IQVIA_BUSINESS_TABLE_3__CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__LOAD_IQVIA_BUSINESS_TABLE_3__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__LOAD_IQVIA_BUSINESS_TABLE_3__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__LOAD_IQVIA_BUSINESS_TABLE_3__CACHE_INPUT_FILES: 'iqvia_business_3.csv'

    # IQVIA Provider Extractor
    ONEVIEW__EXTRACT_IQVIA_PROVIDER__DATABASE_NAME: ${ODS_NAME}
    ONEVIEW__EXTRACT_IQVIA_PROVIDER__DATABASE_PORT: ${ODS_PORT}
    ONEVIEW__EXTRACT_IQVIA_PROVIDER__SQL: "SELECT P.PROFESSIONAL_ID, P.ME, P.FIRST_NAME, P.MIDDLE_NAME, P.LAST_NAME, P.GEN_SUFFIX, P.DESIGNATION, P.GENDER, P.ROLE, P.PRIMARY_SPEC, P.SECONDARY_SPEC, P.TERTIARY_SPEC, P.PRIMARY_PROF_CODE, P.PRIMARY_PROF_DESC, P.UPIN, P.NPI, P.STATUS_DESC, P.BATCH_BUSINESS_DATE FROM ODS.ODS_IMS_PROFESSIONAL P ORDER BY PROFESSIONAL_ID LIMIT {index}, {count};"
    ONEVIEW__EXTRACT_IQVIA_PROVIDER__DATABASE_HOST: ${ODS_HOST}
    ONEVIEW__EXTRACT_IQVIA_PROVIDER__DATABASE_USERNAME: ${ODS_USERNAME}
    ONEVIEW__EXTRACT_IQVIA_PROVIDER__DATABASE_PASSWORD: ${ODS_PASSWORD}
    ONEVIEW__EXTRACT_IQVIA_PROVIDER__DRIVER: ${DB2_DRIVER}
    ONEVIEW__EXTRACT_IQVIA_PROVIDER__DRIVER_TYPE: ${DB2_DRIVER_TYPE}
    ONEVIEW__EXTRACT_IQVIA_PROVIDER__JAR_PATH: ${DB2_JAR_PATH}
    ONEVIEW__EXTRACT_IQVIA_PROVIDER__CHUNK_SIZE: '100000'

    ONEVIEW__EXTRACT_IQVIA_PROVIDER__CACHE_OUTPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__EXTRACT_IQVIA_PROVIDER__CACHE_OUTPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
    ONEVIEW__EXTRACT_IQVIA_PROVIDER__CACHE_OUTPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__EXTRACT_IQVIA_PROVIDER__CACHE_OUTPUT_FILES: 'iqvia_provider.csv'

    # IQVIA ProviderAffiliation Extractor
    ONEVIEW__EXTRACT_IQVIA_PROVIDER_AFFILIATION__DATABASE_NAME: ${ODS_NAME}
    ONEVIEW__EXTRACT_IQVIA_PROVIDER_AFFILIATION__DATABASE_PORT: ${ODS_PORT}
    ONEVIEW__EXTRACT_IQVIA_PROVIDER_AFFILIATION__SQL: "SELECT P.AFFIL_TYPE_ID, P.IMS_ORG_ID,P.PROFESSIONAL_ID,A.AFFIL_TYPE_DESC,P.AFFIL_IND,P.AFFIL_RANK, A.AFFIL_GROUP_CODE, A.AFFIL_GROUP_DESC, P.BATCH_BUSINESS_DATE FROM ODS.ODS_IMS_PROVIDER_AFFILIATION_FACT P, ODS.ODS_IMS_AFFILIATION_TYPE A WHERE P.AFFIL_TYPE_ID = A.AFFIL_TYPE_ID ORDER BY AFFIL_TYPE_ID LIMIT {index}, {count};"
    ONEVIEW__EXTRACT_IQVIA_PROVIDER_AFFILIATION__DATABASE_HOST: ${ODS_HOST}
    ONEVIEW__EXTRACT_IQVIA_PROVIDER_AFFILIATION__DATABASE_USERNAME: ${ODS_USERNAME}
    ONEVIEW__EXTRACT_IQVIA_PROVIDER_AFFILIATION__DATABASE_PASSWORD: ${ODS_PASSWORD}
    ONEVIEW__EXTRACT_IQVIA_PROVIDER_AFFILIATION__DRIVER: ${DB2_DRIVER}
    ONEVIEW__EXTRACT_IQVIA_PROVIDER_AFFILIATION__DRIVER_TYPE: ${DB2_DRIVER_TYPE}
    ONEVIEW__EXTRACT_IQVIA_PROVIDER_AFFILIATION__JAR_PATH: ${DB2_JAR_PATH}
    ONEVIEW__EXTRACT_IQVIA_PROVIDER_AFFILIATION__CHUNK_SIZE: '100000'

    ONEVIEW__EXTRACT_IQVIA_PROVIDER_AFFILIATION__CACHE_OUTPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__EXTRACT_IQVIA_PROVIDER_AFFILIATION__CACHE_OUTPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
    ONEVIEW__EXTRACT_IQVIA_PROVIDER_AFFILIATION__CACHE_OUTPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__EXTRACT_IQVIA_PROVIDER_AFFILIATION__CACHE_OUTPUT_FILES: 'iqvia_provider_affiliation.csv'

    # IQVIA Provider Transformer
    ONEVIEW__CREATE_PROVIDER_TABLE__CACHE_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__CREATE_PROVIDER_TABLE__CACHE_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__CREATE_PROVIDER_TABLE__CACHE_INPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
    ONEVIEW__CREATE_PROVIDER_TABLE__CACHE_INPUT_FILES: 'iqvia_provider.csv,iqvia_provider_affiliation.csv'
    ONEVIEW__CREATE_PROVIDER_TABLE__CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__CREATE_PROVIDER_TABLE__CACHE_OUTPUT_FILES: 'iqvia_provider_full.csv,iqvia_provider_affiliation_full.csv'

    # IQVIA Provider Pruning Transformer
    ONEVIEW__REMOVE_UNKNOWN_PROVIDERS__CACHE_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__REMOVE_UNKNOWN_PROVIDERS__CACHE_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__REMOVE_UNKNOWN_PROVIDERS__CACHE_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__REMOVE_UNKNOWN_PROVIDERS__CACHE_INPUT_FILES: 'iqvia_provider_full.csv,iqvia_provider_affiliation_full.csv,physician.csv'
    ONEVIEW__REMOVE_UNKNOWN_PROVIDERS__CACHE_OUTPUT_FILES: 'iqvia_provider.csv,iqvia_provider_affiliation.csv'

    # IQVIA Provider Splitter
    ONEVIEW__SPLIT_IQVIA_PROVIDER_TABLE__COUNT: '3'
    ONEVIEW__SPLIT_IQVIA_PROVIDER_TABLE__CACHE_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__SPLIT_IQVIA_PROVIDER_TABLE__CACHE_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__SPLIT_IQVIA_PROVIDER_TABLE__CACHE_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__SPLIT_IQVIA_PROVIDER_TABLE__CACHE_INPUT_FILES: 'iqvia_provider.csv'
    ONEVIEW__SPLIT_IQVIA_PROVIDER_TABLE__CACHE_OUTPUT_FILES: 'iqvia_provider_1.csv,iqvia_provider_2.csv,iqvia_provider_3.csv'

    # IQVIA Provider Loader 1
    ONEVIEW__LOAD_IQVIA_PROVIDER_TABLE_1__MODEL_CLASSES: 'datalabs.model.masterfile.oneview.Provider'
    ONEVIEW__LOAD_IQVIA_PROVIDER_TABLE_1__DATABASE_HOST: ${DATABASE_HOST}
    ONEVIEW__LOAD_IQVIA_PROVIDER_TABLE_1__DATABASE_PORT: ${DATABASE_PORT}
    ONEVIEW__LOAD_IQVIA_PROVIDER_TABLE_1__DATABASE_BACKEND: ${DATABASE_BACKEND}
    ONEVIEW__LOAD_IQVIA_PROVIDER_TABLE_1__DATABASE_NAME: ${DATABASE_NAME}
    ONEVIEW__LOAD_IQVIA_PROVIDER_TABLE_1__DATABASE_USERNAME: ${DATABASE_USERNAME}
    ONEVIEW__LOAD_IQVIA_PROVIDER_TABLE_1__DATABASE_PASSWORD: ${DATABASE_PASSWORD}
    ONEVIEW__LOAD_IQVIA_PROVIDER_TABLE_1__APPEND: 'True'
    ONEVIEW__LOAD_IQVIA_PROVIDER_TABLE_1__CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__LOAD_IQVIA_PROVIDER_TABLE_1__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__LOAD_IQVIA_PROVIDER_TABLE_1__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__LOAD_IQVIA_PROVIDER_TABLE_1__CACHE_INPUT_FILES: 'iqvia_provider_1.csv'

    # IQVIA Provider Loader 2
    ONEVIEW__LOAD_IQVIA_PROVIDER_TABLE_2__MODEL_CLASSES: 'datalabs.model.masterfile.oneview.Provider'
    ONEVIEW__LOAD_IQVIA_PROVIDER_TABLE_2__DATABASE_HOST: ${DATABASE_HOST}
    ONEVIEW__LOAD_IQVIA_PROVIDER_TABLE_2__DATABASE_PORT: ${DATABASE_PORT}
    ONEVIEW__LOAD_IQVIA_PROVIDER_TABLE_2__DATABASE_BACKEND: ${DATABASE_BACKEND}
    ONEVIEW__LOAD_IQVIA_PROVIDER_TABLE_2__DATABASE_NAME: ${DATABASE_NAME}
    ONEVIEW__LOAD_IQVIA_PROVIDER_TABLE_2__DATABASE_USERNAME: ${DATABASE_USERNAME}
    ONEVIEW__LOAD_IQVIA_PROVIDER_TABLE_2__DATABASE_PASSWORD: ${DATABASE_PASSWORD}
    ONEVIEW__LOAD_IQVIA_PROVIDER_TABLE_2__APPEND: 'True'
    ONEVIEW__LOAD_IQVIA_PROVIDER_TABLE_2__CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__LOAD_IQVIA_PROVIDER_TABLE_2__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__LOAD_IQVIA_PROVIDER_TABLE_2__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__LOAD_IQVIA_PROVIDER_TABLE_2__CACHE_INPUT_FILES: 'iqvia_provider_2.csv'

    # IQVIA Provider Loader 3
    ONEVIEW__LOAD_IQVIA_PROVIDER_TABLE_3__MODEL_CLASSES: 'datalabs.model.masterfile.oneview.Provider'
    ONEVIEW__LOAD_IQVIA_PROVIDER_TABLE_3__DATABASE_HOST: ${DATABASE_HOST}
    ONEVIEW__LOAD_IQVIA_PROVIDER_TABLE_3__DATABASE_PORT: ${DATABASE_PORT}
    ONEVIEW__LOAD_IQVIA_PROVIDER_TABLE_3__DATABASE_BACKEND: ${DATABASE_BACKEND}
    ONEVIEW__LOAD_IQVIA_PROVIDER_TABLE_3__DATABASE_NAME: ${DATABASE_NAME}
    ONEVIEW__LOAD_IQVIA_PROVIDER_TABLE_3__DATABASE_USERNAME: ${DATABASE_USERNAME}
    ONEVIEW__LOAD_IQVIA_PROVIDER_TABLE_3__DATABASE_PASSWORD: ${DATABASE_PASSWORD}
    ONEVIEW__LOAD_IQVIA_PROVIDER_TABLE_3__APPEND: 'True'
    ONEVIEW__LOAD_IQVIA_PROVIDER_TABLE_3__CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__LOAD_IQVIA_PROVIDER_TABLE_3__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__LOAD_IQVIA_PROVIDER_TABLE_3__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__LOAD_IQVIA_PROVIDER_TABLE_3__CACHE_INPUT_FILES: 'iqvia_provider_3.csv'

    # IQVIA Provider Affiliation Loader
    ONEVIEW__LOAD_IQVIA_PROVIDER_AFFILIATION_TABLE__CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__LOAD_IQVIA_PROVIDER_AFFILIATION_TABLE__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__LOAD_IQVIA_PROVIDER_AFFILIATION_TABLE__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__LOAD_IQVIA_PROVIDER_AFFILIATION_TABLE__CACHE_INPUT_FILES: 'iqvia_business.csv,iqvia_provider.csv'

    ONEVIEW__LOAD_IQVIA_PROVIDER_AFFILIATION_TABLE__MODEL_CLASSES: 'datalabs.model.masterfile.oneview.Business,datalabs.model.masterfile.oneview.Provider'
    ONEVIEW__LOAD_IQVIA_PROVIDER_AFFILIATION_TABLE__DATABASE_HOST: ${DATABASE_HOST}
    ONEVIEW__LOAD_IQVIA_PROVIDER_AFFILIATION_TABLE__DATABASE_PORT: ${DATABASE_PORT}
    ONEVIEW__LOAD_IQVIA_PROVIDER_AFFILIATION_TABLE__DATABASE_BACKEND: ${DATABASE_BACKEND}
    ONEVIEW__LOAD_IQVIA_PROVIDER_AFFILIATION_TABLE__DATABASE_NAME: ${DATABASE_NAME}
    ONEVIEW__LOAD_IQVIA_PROVIDER_AFFILIATION_TABLE__DATABASE_USERNAME: ${DATABASE_USERNAME}
    ONEVIEW__LOAD_IQVIA_PROVIDER_AFFILIATION_TABLE__DATABASE_PASSWORD: ${DATABASE_PASSWORD}

    # IQVIA Update Transformer
    ONEVIEW__CREATE_IQVIA_UPDATE_TABLE__CACHE_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__CREATE_IQVIA_UPDATE_TABLE__CACHE_BASE_PATH: ${S3_BASE_PATH}

    ONEVIEW__CREATE_IQVIA_UPDATE_TABLE__CACHE_INPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
    ONEVIEW__CREATE_IQVIA_UPDATE_TABLE__CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__CREATE_IQVIA_UPDATE_TABLE__CACHE_INPUT_FILES: 'iqvia_business.csv'
    ONEVIEW__CREATE_IQVIA_UPDATE_TABLE__CACHE_OUTPUT_FILES: 'iqvia_update.csv'

    # IQVIA Update Loader
    ONEVIEW__LOAD_IQVIA_UPDATE_TABLE__CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__LOAD_IQVIA_UPDATE_TABLE__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__LOAD_IQVIA_UPDATE_TABLE__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__LOAD_IQVIA_UPDATE_TABLE__CACHE_INPUT_FILES: 'iqvia_update.csv'

    ONEVIEW__LOAD_IQVIA_UPDATE_TABLE__MODEL_CLASSES: 'datalabs.model.masterfile.oneview.IqviaUpdate'
    ONEVIEW__LOAD_IQVIA_UPDATE_TABLE__DATABASE_HOST: ${DATABASE_HOST}
    ONEVIEW__LOAD_IQVIA_UPDATE_TABLE__DATABASE_PORT: ${DATABASE_PORT}
    ONEVIEW__LOAD_IQVIA_UPDATE_TABLE__DATABASE_BACKEND: ${DATABASE_BACKEND}
    ONEVIEW__LOAD_IQVIA_UPDATE_TABLE__DATABASE_NAME: ${DATABASE_NAME}
    ONEVIEW__LOAD_IQVIA_UPDATE_TABLE__DATABASE_USERNAME: ${DATABASE_USERNAME}
    ONEVIEW__LOAD_IQVIA_UPDATE_TABLE__DATABASE_PASSWORD: ${DATABASE_PASSWORD}

    # Credentialing Extractor
    ONEVIEW__EXTRACT_CREDENTIALING__BASE_PATH: 'Data Analytics/Data-Science/Data/Masterfile_OneView'
    ONEVIEW__EXTRACT_CREDENTIALING__FILES: 'credentialing_customer.csv,credentialing_product.csv,credentialing_order.csv'
    ONEVIEW__EXTRACT_CREDENTIALING__HOST: ${UDRIVE_HOST}
    ONEVIEW__EXTRACT_CREDENTIALING__USERNAME: ${UDRIVE_USERNAME}
    ONEVIEW__EXTRACT_CREDENTIALING__PASSWORD: ${UDRIVE_PASSWORD}

    ONEVIEW__EXTRACT_CREDENTIALING__CACHE_OUTPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__EXTRACT_CREDENTIALING__CACHE_OUTPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
    ONEVIEW__EXTRACT_CREDENTIALING__CACHE_OUTPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__EXTRACT_CREDENTIALING__CACHE_OUTPUT_FILES: 'credentialing_customer.csv,credentialing_product.csv,credentialing_order.csv'

    # CredentialingAddresses Extractor
    ONEVIEW__EXTRACT_CREDENTIALING_ADDRESSES__BASE_PATH: 'Data Analytics/Data-Science/Data/Masterfile_OneView'
    ONEVIEW__EXTRACT_CREDENTIALING_ADDRESSES__FILES: 'Org_Addresses.xlsx'
    ONEVIEW__EXTRACT_CREDENTIALING_ADDRESSES__HOST: ${UDRIVE_HOST}
    ONEVIEW__EXTRACT_CREDENTIALING_ADDRESSES__USERNAME: ${UDRIVE_USERNAME}
    ONEVIEW__EXTRACT_CREDENTIALING_ADDRESSES__PASSWORD: ${UDRIVE_PASSWORD}

    ONEVIEW__EXTRACT_CREDENTIALING_ADDRESSES__CACHE_OUTPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__EXTRACT_CREDENTIALING_ADDRESSES__CACHE_OUTPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
    ONEVIEW__EXTRACT_CREDENTIALING_ADDRESSES__CACHE_OUTPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__EXTRACT_CREDENTIALING_ADDRESSES__CACHE_OUTPUT_FILES: 'credentialing_addresses.xlsx'

    # CredentialingMerge Transformer
    ONEVIEW__MERGE_CREDENTIALING_ADDRESSES_INTO_CUSTOMER_TABLE__CACHE_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__MERGE_CREDENTIALING_ADDRESSES_INTO_CUSTOMER_TABLE__CACHE_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__MERGE_CREDENTIALING_ADDRESSES_INTO_CUSTOMER_TABLE__CACHE_INPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
    ONEVIEW__MERGE_CREDENTIALING_ADDRESSES_INTO_CUSTOMER_TABLE__CACHE_INPUT_FILES: 'credentialing_addresses.xlsx,credentialing_customer.csv'
    ONEVIEW__MERGE_CREDENTIALING_ADDRESSES_INTO_CUSTOMER_TABLE__CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__MERGE_CREDENTIALING_ADDRESSES_INTO_CUSTOMER_TABLE__CACHE_OUTPUT_FILES: 'credentialing_customer.csv'

    # CredentialingMain Transformer
    ONEVIEW__CREATE_CREDENTIALING_CUSTOMER_PRODUCT_AND_ORDER_TABLES__CACHE_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__CREATE_CREDENTIALING_CUSTOMER_PRODUCT_AND_ORDER_TABLES__CACHE_BASE_PATH: ${S3_BASE_PATH}

    ONEVIEW__CREATE_CREDENTIALING_CUSTOMER_PRODUCT_AND_ORDER_TABLES__CACHE_INPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
    ONEVIEW__CREATE_CREDENTIALING_CUSTOMER_PRODUCT_AND_ORDER_TABLES__CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__CREATE_CREDENTIALING_CUSTOMER_PRODUCT_AND_ORDER_TABLES__CACHE_INPUT_FILES: 'credentialing_product.csv,credentialing_order.csv'
    ONEVIEW__CREATE_CREDENTIALING_CUSTOMER_PRODUCT_AND_ORDER_TABLES__CACHE_OUTPUT_FILES: 'credentialing_product.csv,credentialing_order_full.csv'

    # Credentialing Order Pruning Transformer
    ONEVIEW__REMOVE_UNKNOWN_ORDERS__CACHE_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__REMOVE_UNKNOWN_ORDERS__CACHE_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__REMOVE_UNKNOWN_ORDERS__CACHE_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__REMOVE_UNKNOWN_ORDERS__CACHE_INPUT_FILES: 'credentialing_order_full.csv,physician.csv'
    ONEVIEW__REMOVE_UNKNOWN_ORDERS__CACHE_OUTPUT_FILES: 'credentialing_order.csv'

    # Credentialing Order Splitter
    ONEVIEW__SPLIT_CREDENTIALING_ORDER_TABLE__COUNT: '3'
    ONEVIEW__SPLIT_CREDENTIALING_ORDER_TABLE__CACHE_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__SPLIT_CREDENTIALING_ORDER_TABLE__CACHE_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__SPLIT_CREDENTIALING_ORDER_TABLE__CACHE_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__SPLIT_CREDENTIALING_ORDER_TABLE__CACHE_INPUT_FILES: 'credentialing_order.csv'
    ONEVIEW__SPLIT_CREDENTIALING_ORDER_TABLE__CACHE_OUTPUT_FILES: 'credentialing_order_1.csv,credentialing_order_2.csv,credentialing_order_3.csv'

    # Credentialing Customer and Product Loader
    ONEVIEW__LOAD_CREDENTIALING_CUSTOMER_PRODUCT_TABLES__CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__LOAD_CREDENTIALING_CUSTOMER_PRODUCT_TABLES__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__LOAD_CREDENTIALING_CUSTOMER_PRODUCT_TABLES__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__LOAD_CREDENTIALING_CUSTOMER_PRODUCT_TABLES__CACHE_INPUT_FILES: 'credentialing_customer.csv,credentialing_product.csv'

    ONEVIEW__LOAD_CREDENTIALING_CUSTOMER_PRODUCT_TABLES__MODEL_CLASSES: 'datalabs.model.masterfile.oneview.CredentialingCustomer,datalabs.model.masterfile.oneview.CredentialingProduct'
    ONEVIEW__LOAD_CREDENTIALING_CUSTOMER_PRODUCT_TABLES__DATABASE_HOST: ${DATABASE_HOST}
    ONEVIEW__LOAD_CREDENTIALING_CUSTOMER_PRODUCT_TABLES__DATABASE_PORT: ${DATABASE_PORT}
    ONEVIEW__LOAD_CREDENTIALING_CUSTOMER_PRODUCT_TABLES__DATABASE_BACKEND: ${DATABASE_BACKEND}
    ONEVIEW__LOAD_CREDENTIALING_CUSTOMER_PRODUCT_TABLES__DATABASE_NAME: ${DATABASE_NAME}
    ONEVIEW__LOAD_CREDENTIALING_CUSTOMER_PRODUCT_TABLES__DATABASE_USERNAME: ${DATABASE_USERNAME}
    ONEVIEW__LOAD_CREDENTIALING_CUSTOMER_PRODUCT_TABLES__DATABASE_PASSWORD: ${DATABASE_PASSWORD}

    # Credentialing Order 1 Loader
    ONEVIEW__LOAD_CREDENTIALING_ORDER_TABLE_1__CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__LOAD_CREDENTIALING_ORDER_TABLE_1__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__LOAD_CREDENTIALING_ORDER_TABLE_1__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__LOAD_CREDENTIALING_ORDER_TABLE_1__CACHE_INPUT_FILES: 'credentialing_order_1.csv'

    ONEVIEW__LOAD_CREDENTIALING_ORDER_TABLE_1__MODEL_CLASSES: 'datalabs.model.masterfile.oneview.CredentialingOrder'
    ONEVIEW__LOAD_CREDENTIALING_ORDER_TABLE_1__DATABASE_HOST: ${DATABASE_HOST}
    ONEVIEW__LOAD_CREDENTIALING_ORDER_TABLE_1__DATABASE_PORT: ${DATABASE_PORT}
    ONEVIEW__LOAD_CREDENTIALING_ORDER_TABLE_1__DATABASE_BACKEND: ${DATABASE_BACKEND}
    ONEVIEW__LOAD_CREDENTIALING_ORDER_TABLE_1__APPEND: 'True'
    ONEVIEW__LOAD_CREDENTIALING_ORDER_TABLE_1__DATABASE_NAME: ${DATABASE_NAME}
    ONEVIEW__LOAD_CREDENTIALING_ORDER_TABLE_1__DATABASE_USERNAME: ${DATABASE_USERNAME}
    ONEVIEW__LOAD_CREDENTIALING_ORDER_TABLE_1__DATABASE_PASSWORD: ${DATABASE_PASSWORD}

    # Credentialing Order 2 Loader
    ONEVIEW__LOAD_CREDENTIALING_ORDER_TABLE_2__CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__LOAD_CREDENTIALING_ORDER_TABLE_2__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__LOAD_CREDENTIALING_ORDER_TABLE_2__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__LOAD_CREDENTIALING_ORDER_TABLE_2__CACHE_INPUT_FILES: 'credentialing_order_2.csv'

    ONEVIEW__LOAD_CREDENTIALING_ORDER_TABLE_2__MODEL_CLASSES: 'datalabs.model.masterfile.oneview.CredentialingOrder'
    ONEVIEW__LOAD_CREDENTIALING_ORDER_TABLE_2__DATABASE_HOST: ${DATABASE_HOST}
    ONEVIEW__LOAD_CREDENTIALING_ORDER_TABLE_2__DATABASE_PORT: ${DATABASE_PORT}
    ONEVIEW__LOAD_CREDENTIALING_ORDER_TABLE_2__DATABASE_BACKEND: ${DATABASE_BACKEND}
    ONEVIEW__LOAD_CREDENTIALING_ORDER_TABLE_2__APPEND: 'True'
    ONEVIEW__LOAD_CREDENTIALING_ORDER_TABLE_2__DATABASE_NAME: ${DATABASE_NAME}
    ONEVIEW__LOAD_CREDENTIALING_ORDER_TABLE_2__DATABASE_USERNAME: ${DATABASE_USERNAME}
    ONEVIEW__LOAD_CREDENTIALING_ORDER_TABLE_2__DATABASE_PASSWORD: ${DATABASE_PASSWORD}

    # Credentialing Order 3 Loader
    ONEVIEW__LOAD_CREDENTIALING_ORDER_TABLE_3__CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__LOAD_CREDENTIALING_ORDER_TABLE_3__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__LOAD_CREDENTIALING_ORDER_TABLE_3__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__LOAD_CREDENTIALING_ORDER_TABLE_3__CACHE_INPUT_FILES: 'credentialing_order_3.csv'

    ONEVIEW__LOAD_CREDENTIALING_ORDER_TABLE_3__MODEL_CLASSES: 'datalabs.model.masterfile.oneview.CredentialingOrder'
    ONEVIEW__LOAD_CREDENTIALING_ORDER_TABLE_3__DATABASE_HOST: ${DATABASE_HOST}
    ONEVIEW__LOAD_CREDENTIALING_ORDER_TABLE_3__DATABASE_PORT: ${DATABASE_PORT}
    ONEVIEW__LOAD_CREDENTIALING_ORDER_TABLE_3__DATABASE_BACKEND: ${DATABASE_BACKEND}
    ONEVIEW__LOAD_CREDENTIALING_ORDER_TABLE_3__APPEND: 'True'
    ONEVIEW__LOAD_CREDENTIALING_ORDER_TABLE_3__DATABASE_NAME: ${DATABASE_NAME}
    ONEVIEW__LOAD_CREDENTIALING_ORDER_TABLE_3__DATABASE_USERNAME: ${DATABASE_USERNAME}
    ONEVIEW__LOAD_CREDENTIALING_ORDER_TABLE_3__DATABASE_PASSWORD: ${DATABASE_PASSWORD}

    # RaceEthnicity Extractor
    ONEVIEW__EXTRACT_PHYSICIAN_RACE_ETHNICITY__BASE_PATH: 'Data Analytics/Data-Science/Data/Masterfile_OneView'
    ONEVIEW__EXTRACT_PHYSICIAN_RACE_ETHNICITY__FILES: 'PhysicianRaceEthnicity-ETL.psv'
    ONEVIEW__EXTRACT_PHYSICIAN_RACE_ETHNICITY__HOST: ${UDRIVE_HOST}
    ONEVIEW__EXTRACT_PHYSICIAN_RACE_ETHNICITY__USERNAME: ${UDRIVE_USERNAME}
    ONEVIEW__EXTRACT_PHYSICIAN_RACE_ETHNICITY__PASSWORD: ${UDRIVE_PASSWORD}

    ONEVIEW__EXTRACT_PHYSICIAN_RACE_ETHNICITY__CACHE_OUTPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__EXTRACT_PHYSICIAN_RACE_ETHNICITY__CACHE_OUTPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
    ONEVIEW__EXTRACT_PHYSICIAN_RACE_ETHNICITY__CACHE_OUTPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__EXTRACT_PHYSICIAN_RACE_ETHNICITY__CACHE_OUTPUT_FILES: 'race_ethnicity.psv'

    # CredentialingCustomerInstitution Extractor
    ONEVIEW__CREATE_CREDENTIALING_CUSTOMER_INSTITUTION_TABLE__CACHE_BASE_PATH: ${S3_BASE_PATH}

    ONEVIEW__CREATE_CREDENTIALING_CUSTOMER_INSTITUTION_TABLE__CACHE_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__CREATE_CREDENTIALING_CUSTOMER_INSTITUTION_TABLE__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__CREATE_CREDENTIALING_CUSTOMER_INSTITUTION_TABLE__CACHE_INPUT_FILES: 'credentialing_customer.csv,residency_program.csv'
    ONEVIEW__CREATE_CREDENTIALING_CUSTOMER_INSTITUTION_TABLE__CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__CREATE_CREDENTIALING_CUSTOMER_INSTITUTION_TABLE__CACHE_OUTPUT_FILES: 'credentialing_customer_institution.csv'

    # CredentialingCustomerBusiness Extractor
    ONEVIEW__CREATE_CREDENTIALING_CUSTOMER_BUSINESS_TABLE__CACHE_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__CREATE_CREDENTIALING_CUSTOMER_BUSINESS_TABLE__CACHE_CLASS: ${S3_CACHE_CLASS}

    ONEVIEW__CREATE_CREDENTIALING_CUSTOMER_BUSINESS_TABLE__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__CREATE_CREDENTIALING_CUSTOMER_BUSINESS_TABLE__CACHE_INPUT_FILES: 'credentialing_customer.csv,iqvia_business.csv'
    ONEVIEW__CREATE_CREDENTIALING_CUSTOMER_BUSINESS_TABLE__CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__CREATE_CREDENTIALING_CUSTOMER_BUSINESS_TABLE__CACHE_OUTPUT_FILES: 'credentialing_customer_business.csv'

    # ResidencyProgramPhysician Extractor
    ONEVIEW__CREATE_RESIDENCY_PROGRAM_PHYSICIAN_TABLE__CACHE_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__CREATE_RESIDENCY_PROGRAM_PHYSICIAN_TABLE__CACHE_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__CREATE_RESIDENCY_PROGRAM_PHYSICIAN_TABLE__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__CREATE_RESIDENCY_PROGRAM_PHYSICIAN_TABLE__CACHE_INPUT_FILES: 'residency_program_personnel_member.csv,physician.csv'
    ONEVIEW__CREATE_RESIDENCY_PROGRAM_PHYSICIAN_TABLE__CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__CREATE_RESIDENCY_PROGRAM_PHYSICIAN_TABLE__CACHE_OUTPUT_FILES: 'residency_program_physician.csv'

    # Linking Table Loader
    ONEVIEW__LOAD_LINKING_TABLES__CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__LOAD_LINKING_TABLES__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__LOAD_LINKING_TABLES__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__LOAD_LINKING_TABLES__CACHE_INPUT_FILES: 'residency_program_physician.csv'  # v2: ,credentialing_customer_institution.csv,credentialing_customer_business.csv'

    ONEVIEW__LOAD_LINKING_TABLES__MODEL_CLASSES: 'datalabs.model.masterfile.oneview.ResidencyProgramPhysician'  # v2: ,datalabs.model.masterfile.oneview.CredentialingCustomerInstitution,datalabs.model.masterfile.oneview.CredentialingCustomerBusiness'
    ONEVIEW__LOAD_LINKING_TABLES__DATABASE_HOST: ${DATABASE_HOST}
    ONEVIEW__LOAD_LINKING_TABLES__DATABASE_PORT: ${DATABASE_PORT}
    ONEVIEW__LOAD_LINKING_TABLES__DATABASE_BACKEND: ${DATABASE_BACKEND}
    ONEVIEW__LOAD_LINKING_TABLES__DATABASE_NAME: ${DATABASE_NAME}
    ONEVIEW__LOAD_LINKING_TABLES__DATABASE_USERNAME: ${DATABASE_USERNAME}
    ONEVIEW__LOAD_LINKING_TABLES__DATABASE_PASSWORD: ${DATABASE_PASSWORD}

    # Melissa Extractor
    ONEVIEW__EXTRACT_MELISSA__DATABASE_NAME: ${EDW_NAME}
    ONEVIEW__EXTRACT_MELISSA__DATABASE_PORT: ${EDW_PORT}
    ONEVIEW__EXTRACT_MELISSA__DATABASE_HOST: ${EDW_HOST}
    ONEVIEW__EXTRACT_MELISSA__DATABASE_USERNAME: ${EDW_USERNAME}
    ONEVIEW__EXTRACT_MELISSA__DATABASE_PASSWORD: ${EDW_PASSWORD}
    ONEVIEW__EXTRACT_MELISSA__SQL: "SELECT * FROM AMAEDW.ZIP_CITY_STATE_ZR LIMIT {index}, {count};SELECT * FROM AMAEDW.COUNTY_ZR LIMIT {index}, {count};SELECT * FROM AMAEDW.FONE_ZR LIMIT {index}, {count};SELECT * FROM AMAEDW.CENSUS_ZR LIMIT {index}, {count};SELECT * FROM AMAEDW.CBSA_ZR LIMIT {index}, {count};SELECT * FROM AMAEDW.ZIP_CBSA_ZR LIMIT {index}, {count};SELECT * FROM AMAEDW.MSA_ZR LIMIT {index}, {count};"
    ONEVIEW__EXTRACT_MELISSA__CHUNK_SIZE: '100000'
    ONEVIEW__EXTRACT_MELISSA__DRIVER: ${DB2_DRIVER}
    ONEVIEW__EXTRACT_MELISSA__DRIVER_TYPE: ${DB2_DRIVER_TYPE}
    ONEVIEW__EXTRACT_MELISSA__JAR_PATH: ${DB2_JAR_PATH}

    ONEVIEW__EXTRACT_MELISSA__CACHE_OUTPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__EXTRACT_MELISSA__CACHE_OUTPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
    ONEVIEW__EXTRACT_MELISSA__CACHE_OUTPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__EXTRACT_MELISSA__CACHE_OUTPUT_FILES: 'zip_code.csv,county.csv,area_code.csv,census.csv,core_based_statistical_area_melissa.csv,zip_code_core_based_statistical_areas.csv,metropolitan_statistical_area.csv'

    # Melissa Transformer
    ONEVIEW__CREATE_MELISSA_TABLES__CACHE_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__CREATE_MELISSA_TABLES__CACHE_BASE_PATH: ${S3_BASE_PATH}

    ONEVIEW__CREATE_MELISSA_TABLES__CACHE_INPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
    ONEVIEW__CREATE_MELISSA_TABLES__CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__CREATE_MELISSA_TABLES__CACHE_INPUT_FILES: 'zip_code.csv,county.csv,area_code.csv,census.csv,core_based_statistical_area_melissa.csv,zip_code_core_based_statistical_areas.csv,metropolitan_statistical_area.csv'
    ONEVIEW__CREATE_MELISSA_TABLES__CACHE_OUTPUT_FILES: 'zip_code.csv,county.csv,area_code.csv,census.csv,core_based_statistical_area_melissa.csv,zip_code_core_based_statistical_areas.csv,metropolitan_statistical_area.csv'

    # MetropolitanStatisticalArea Loader
    ONEVIEW__LOAD_METROPOLITAN_STATISTICAL_AREA_TABLE__CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__LOAD_METROPOLITAN_STATISTICAL_AREA_TABLE__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__LOAD_METROPOLITAN_STATISTICAL_AREA_TABLE__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__LOAD_METROPOLITAN_STATISTICAL_AREA_TABLE__CACHE_INPUT_FILES: 'metropolitan_statistical_area.csv'
    ONEVIEW__LOAD_METROPOLITAN_STATISTICAL_AREA_TABLE__MODEL_CLASSES: 'datalabs.model.masterfile.oneview.MetropolitanStatisticalArea'
    ONEVIEW__LOAD_METROPOLITAN_STATISTICAL_AREA_TABLE__DATABASE_HOST: ${DATABASE_HOST}
    ONEVIEW__LOAD_METROPOLITAN_STATISTICAL_AREA_TABLE__DATABASE_PORT: ${DATABASE_PORT}
    ONEVIEW__LOAD_METROPOLITAN_STATISTICAL_AREA_TABLE__DATABASE_BACKEND: ${DATABASE_BACKEND}
    ONEVIEW__LOAD_METROPOLITAN_STATISTICAL_AREA_TABLE__DATABASE_NAME: ${DATABASE_NAME}
    ONEVIEW__LOAD_METROPOLITAN_STATISTICAL_AREA_TABLE__DATABASE_USERNAME: ${DATABASE_USERNAME}
    ONEVIEW__LOAD_METROPOLITAN_STATISTICAL_AREA_TABLE__DATABASE_PASSWORD: ${DATABASE_PASSWORD}

    # County Loader
    ONEVIEW__LOAD_COUNTY_TABLE__CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__LOAD_COUNTY_TABLE__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__LOAD_COUNTY_TABLE__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__LOAD_COUNTY_TABLE__CACHE_INPUT_FILES: 'county.csv'
    ONEVIEW__LOAD_COUNTY_TABLE__MODEL_CLASSES: 'datalabs.model.masterfile.oneview.County'
    ONEVIEW__LOAD_COUNTY_TABLE__DATABASE_HOST: ${DATABASE_HOST}
    ONEVIEW__LOAD_COUNTY_TABLE__DATABASE_PORT: ${DATABASE_PORT}
    ONEVIEW__LOAD_COUNTY_TABLE__DATABASE_BACKEND: ${DATABASE_BACKEND}
    ONEVIEW__LOAD_COUNTY_TABLE__DATABASE_NAME: ${DATABASE_NAME}
    ONEVIEW__LOAD_COUNTY_TABLE__DATABASE_USERNAME: ${DATABASE_USERNAME}
    ONEVIEW__LOAD_COUNTY_TABLE__DATABASE_PASSWORD: ${DATABASE_PASSWORD}

    # CoreBasedStatisticalAreaMelissa Loader
    ONEVIEW__LOAD_CORE_BASED_STATISTICAL_AREA_MELISSA_TABLE__CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__LOAD_CORE_BASED_STATISTICAL_AREA_MELISSA_TABLE__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__LOAD_CORE_BASED_STATISTICAL_AREA_MELISSA_TABLE__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__LOAD_CORE_BASED_STATISTICAL_AREA_MELISSA_TABLE__CACHE_INPUT_FILES: 'core_based_statistical_area_melissa.csv'

    ONEVIEW__LOAD_CORE_BASED_STATISTICAL_AREA_MELISSA_TABLE__MODEL_CLASSES: 'datalabs.model.masterfile.oneview.CoreBasedStatisticalAreaMelissa'
    ONEVIEW__LOAD_CORE_BASED_STATISTICAL_AREA_MELISSA_TABLE__DATABASE_HOST: ${DATABASE_HOST}
    ONEVIEW__LOAD_CORE_BASED_STATISTICAL_AREA_MELISSA_TABLE__DATABASE_PORT: ${DATABASE_PORT}
    ONEVIEW__LOAD_CORE_BASED_STATISTICAL_AREA_MELISSA_TABLE__DATABASE_BACKEND: ${DATABASE_BACKEND}
    ONEVIEW__LOAD_CORE_BASED_STATISTICAL_AREA_MELISSA_TABLE__DATABASE_NAME: ${DATABASE_NAME}
    ONEVIEW__LOAD_CORE_BASED_STATISTICAL_AREA_MELISSA_TABLE__DATABASE_USERNAME: ${DATABASE_USERNAME}
    ONEVIEW__LOAD_CORE_BASED_STATISTICAL_AREA_MELISSA_TABLE__DATABASE_PASSWORD: ${DATABASE_PASSWORD}

    # ZipCode Loader
    ONEVIEW__LOAD_ZIP_CODE_TABLE__CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__LOAD_ZIP_CODE_TABLE__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__LOAD_ZIP_CODE_TABLE__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__LOAD_ZIP_CODE_TABLE__CACHE_INPUT_FILES: 'zip_code.csv'

    ONEVIEW__LOAD_ZIP_CODE_TABLE__MODEL_CLASSES: 'datalabs.model.masterfile.oneview.ZipCode'
    ONEVIEW__LOAD_ZIP_CODE_TABLE__DATABASE_HOST: ${DATABASE_HOST}
    ONEVIEW__LOAD_ZIP_CODE_TABLE__DATABASE_PORT: ${DATABASE_PORT}
    ONEVIEW__LOAD_ZIP_CODE_TABLE__DATABASE_BACKEND: ${DATABASE_BACKEND}
    ONEVIEW__LOAD_ZIP_CODE_TABLE__DATABASE_NAME: ${DATABASE_NAME}
    ONEVIEW__LOAD_ZIP_CODE_TABLE__DATABASE_USERNAME: ${DATABASE_USERNAME}
    ONEVIEW__LOAD_ZIP_CODE_TABLE__DATABASE_PASSWORD: ${DATABASE_PASSWORD}

    # AreaCode Loader
    ONEVIEW__LOAD_AREA_CODE_TABLE__CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__LOAD_AREA_CODE_TABLE__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__LOAD_AREA_CODE_TABLE__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__LOAD_AREA_CODE_TABLE__CACHE_INPUT_FILES: 'area_code.csv'

    ONEVIEW__LOAD_AREA_CODE_TABLE__MODEL_CLASSES: 'datalabs.model.masterfile.oneview.AreaCode'
    ONEVIEW__LOAD_AREA_CODE_TABLE__DATABASE_HOST: ${DATABASE_HOST}
    ONEVIEW__LOAD_AREA_CODE_TABLE__DATABASE_PORT: ${DATABASE_PORT}
    ONEVIEW__LOAD_AREA_CODE_TABLE__DATABASE_BACKEND: ${DATABASE_BACKEND}
    ONEVIEW__LOAD_AREA_CODE_TABLE__DATABASE_NAME: ${DATABASE_NAME}
    ONEVIEW__LOAD_AREA_CODE_TABLE__DATABASE_USERNAME: ${DATABASE_USERNAME}
    ONEVIEW__LOAD_AREA_CODE_TABLE__DATABASE_PASSWORD: ${DATABASE_PASSWORD}

    # Census Loader
    ONEVIEW__LOAD_CENSUS_TABLE__CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__LOAD_CENSUS_TABLE__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__LOAD_CENSUS_TABLE__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__LOAD_CENSUS_TABLE__CACHE_INPUT_FILES: 'census.csv'

    ONEVIEW__LOAD_CENSUS_TABLE__MODEL_CLASSES: 'datalabs.model.masterfile.oneview.Census'
    ONEVIEW__LOAD_CENSUS_TABLE__DATABASE_HOST: ${DATABASE_HOST}
    ONEVIEW__LOAD_CENSUS_TABLE__DATABASE_PORT: ${DATABASE_PORT}
    ONEVIEW__LOAD_CENSUS_TABLE__DATABASE_BACKEND: ${DATABASE_BACKEND}
    ONEVIEW__LOAD_CENSUS_TABLE__DATABASE_NAME: ${DATABASE_NAME}
    ONEVIEW__LOAD_CENSUS_TABLE__DATABASE_USERNAME: ${DATABASE_USERNAME}
    ONEVIEW__LOAD_CENSUS_TABLE__DATABASE_PASSWORD: ${DATABASE_PASSWORD}

    # ZipCodeCoreBasedStatisticalArea Loader
    ONEVIEW__LOAD_ZIP_CODE_CORE_BASED_STATISTICAL_AREA_TABLE__CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__LOAD_ZIP_CODE_CORE_BASED_STATISTICAL_AREA_TABLE__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__LOAD_ZIP_CODE_CORE_BASED_STATISTICAL_AREA_TABLE__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__LOAD_ZIP_CODE_CORE_BASED_STATISTICAL_AREA_TABLE__CACHE_INPUT_FILES: 'zip_code_core_based_statistical_areas.csv'

    ONEVIEW__LOAD_ZIP_CODE_CORE_BASED_STATISTICAL_AREA_TABLE__MODEL_CLASSES: 'datalabs.model.masterfile.oneview.ZipCodeCoreBasedStatisticalArea'
    ONEVIEW__LOAD_ZIP_CODE_CORE_BASED_STATISTICAL_AREA_TABLE__DATABASE_HOST: ${DATABASE_HOST}
    ONEVIEW__LOAD_ZIP_CODE_CORE_BASED_STATISTICAL_AREA_TABLE__DATABASE_PORT: ${DATABASE_PORT}
    ONEVIEW__LOAD_ZIP_CODE_CORE_BASED_STATISTICAL_AREA_TABLE__DATABASE_BACKEND: ${DATABASE_BACKEND}
    ONEVIEW__LOAD_ZIP_CODE_CORE_BASED_STATISTICAL_AREA_TABLE__DATABASE_NAME: ${DATABASE_NAME}
    ONEVIEW__LOAD_ZIP_CODE_CORE_BASED_STATISTICAL_AREA_TABLE__DATABASE_USERNAME: ${DATABASE_USERNAME}
    ONEVIEW__LOAD_ZIP_CODE_CORE_BASED_STATISTICAL_AREA_TABLE__DATABASE_PASSWORD: ${DATABASE_PASSWORD}

    # Historical Resident Extractor
    ONEVIEW__EXTRACT_HISTORICAL_RESIDENT__BASE_PATH: ''
    ONEVIEW__EXTRACT_HISTORICAL_RESIDENT__FILES: 'historical_resident.psv'
    ONEVIEW__EXTRACT_HISTORICAL_RESIDENT__HOST: ${EFT_HOST}
    ONEVIEW__EXTRACT_HISTORICAL_RESIDENT__USERNAME: ${EFT_USERNAME}
    ONEVIEW__EXTRACT_HISTORICAL_RESIDENT__PASSWORD: ${EFT_PASSWORD}

    ONEVIEW__EXTRACT_HISTORICAL_RESIDENT__CACHE_OUTPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__EXTRACT_HISTORICAL_RESIDENT__CACHE_OUTPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
    ONEVIEW__EXTRACT_HISTORICAL_RESIDENT__CACHE_OUTPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__EXTRACT_HISTORICAL_RESIDENT__CACHE_OUTPUT_FILES: 'historical_resident.psv'

   # Historical Resident Transformer
    ONEVIEW__CREATE_HISTORICAL_RESIDENT_TABLE__CACHE_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__CREATE_HISTORICAL_RESIDENT_TABLE__CACHE_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__CREATE_HISTORICAL_RESIDENT_TABLE__CACHE_INPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
    ONEVIEW__CREATE_HISTORICAL_RESIDENT_TABLE__CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__CREATE_HISTORICAL_RESIDENT_TABLE__CACHE_INPUT_FILES: 'historical_resident.psv'
    ONEVIEW__CREATE_HISTORICAL_RESIDENT_TABLE__CACHE_OUTPUT_FILES: 'historical_resident_full.csv'

   # Historical Resident Pruner
    ONEVIEW__REMOVE_UNKNOWN_HISTORICAL_RESIDENTS__CACHE_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__REMOVE_UNKNOWN_HISTORICAL_RESIDENTS__CACHE_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__REMOVE_UNKNOWN_HISTORICAL_RESIDENTS__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__REMOVE_UNKNOWN_HISTORICAL_RESIDENTS__CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__REMOVE_UNKNOWN_HISTORICAL_RESIDENTS__CACHE_INPUT_FILES: 'historical_resident_full.csv,physician.csv'
    ONEVIEW__REMOVE_UNKNOWN_HISTORICAL_RESIDENTS__CACHE_OUTPUT_FILES: 'historical_resident.csv'

    # Historical Residency Splitter
    ONEVIEW__SPLIT_HISTORICAL_RESIDENT_TABLE__COUNT: '6'
    ONEVIEW__SPLIT_HISTORICAL_RESIDENT_TABLE__CACHE_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__SPLIT_HISTORICAL_RESIDENT_TABLE__CACHE_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__SPLIT_HISTORICAL_RESIDENT_TABLE__CACHE_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__SPLIT_HISTORICAL_RESIDENT_TABLE__CACHE_INPUT_FILES: 'historical_resident.csv'
    ONEVIEW__SPLIT_HISTORICAL_RESIDENT_TABLE__CACHE_OUTPUT_FILES: 'historical_resident_1.csv,historical_resident_2.csv,historical_resident_3.csv,historical_resident_4.csv,historical_resident_5.csv,historical_resident_6.csv'

    # Historical Residency Loader 1
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_1__MODEL_CLASSES: 'datalabs.model.masterfile.oneview.HistoricalResident'
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_1__DATABASE_HOST: ${DATABASE_HOST}
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_1__DATABASE_PORT: ${DATABASE_PORT}
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_1__DATABASE_BACKEND: ${DATABASE_BACKEND}
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_1__DATABASE_NAME: ${DATABASE_NAME}
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_1__DATABASE_USERNAME: ${DATABASE_USERNAME}
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_1__DATABASE_PASSWORD: ${DATABASE_PASSWORD}
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_1__APPEND: 'True'
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_1__CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_1__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_1__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_1__CACHE_INPUT_FILES: 'historical_resident_1.csv'

    # Historical Residency Loader 2
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_2__MODEL_CLASSES: 'datalabs.model.masterfile.oneview.HistoricalResident'
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_2__DATABASE_HOST: ${DATABASE_HOST}
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_2__DATABASE_PORT: ${DATABASE_PORT}
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_2__DATABASE_BACKEND: ${DATABASE_BACKEND}
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_2__DATABASE_NAME: ${DATABASE_NAME}
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_2__DATABASE_USERNAME: ${DATABASE_USERNAME}
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_2__DATABASE_PASSWORD: ${DATABASE_PASSWORD}
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_2__APPEND: 'True'
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_2__CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_2__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_2__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_2__CACHE_INPUT_FILES: 'historical_resident_2.csv'

    # Historical Residency Loader 3
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_3__MODEL_CLASSES: 'datalabs.model.masterfile.oneview.HistoricalResident'
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_3__DATABASE_HOST: ${DATABASE_HOST}
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_3__DATABASE_PORT: ${DATABASE_PORT}
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_3__DATABASE_BACKEND: ${DATABASE_BACKEND}
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_3__DATABASE_NAME: ${DATABASE_NAME}
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_3__DATABASE_USERNAME: ${DATABASE_USERNAME}
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_3__DATABASE_PASSWORD: ${DATABASE_PASSWORD}
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_3__APPEND: 'True'
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_3__CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_3__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_3__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_3__CACHE_INPUT_FILES: 'historical_resident_3.csv'

    # Historical Residency Loader 2
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_2__MODEL_CLASSES: 'datalabs.model.masterfile.oneview.HistoricalResident'
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_2__DATABASE_HOST: ${DATABASE_HOST}
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_2__DATABASE_PORT: ${DATABASE_PORT}
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_2__DATABASE_BACKEND: ${DATABASE_BACKEND}
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_2__DATABASE_NAME: ${DATABASE_NAME}
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_2__DATABASE_USERNAME: ${DATABASE_USERNAME}
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_2__DATABASE_PASSWORD: ${DATABASE_PASSWORD}
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_2__APPEND: 'True'
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_2__CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_2__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_2__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_2__CACHE_INPUT_FILES: 'historical_resident_2.csv'

    # Historical Residency Loader 3
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_3__MODEL_CLASSES: 'datalabs.model.masterfile.oneview.HistoricalResident'
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_3__DATABASE_HOST: ${DATABASE_HOST}
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_3__DATABASE_PORT: ${DATABASE_PORT}
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_3__DATABASE_BACKEND: ${DATABASE_BACKEND}
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_3__DATABASE_NAME: ${DATABASE_NAME}
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_3__DATABASE_USERNAME: ${DATABASE_USERNAME}
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_3__DATABASE_PASSWORD: ${DATABASE_PASSWORD}
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_3__APPEND: 'True'
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_3__CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_3__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_3__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_3__CACHE_INPUT_FILES: 'historical_resident_3.csv'

    # Historical Residency Loader 6
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_6__MODEL_CLASSES: 'datalabs.model.masterfile.oneview.HistoricalResident'
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_6__DATABASE_HOST: ${DATABASE_HOST}
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_6__DATABASE_PORT: ${DATABASE_PORT}
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_6__DATABASE_BACKEND: ${DATABASE_BACKEND}
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_6__DATABASE_NAME: ${DATABASE_NAME}
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_6__DATABASE_USERNAME: ${DATABASE_USERNAME}
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_6__DATABASE_PASSWORD: ${DATABASE_PASSWORD}
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_6__APPEND: 'True'
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_6__CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_6__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_6__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__LOAD_HISTORICAL_RESIDENT_TABLE_6__CACHE_INPUT_FILES: 'historical_resident_6.csv'

    # Medical Student Extractor
    ONEVIEW__EXTRACT_MEDICAL_STUDENT__BASE_PATH: ''
    ONEVIEW__EXTRACT_MEDICAL_STUDENT__FILES: 'medical_student.psv'
    ONEVIEW__EXTRACT_MEDICAL_STUDENT__HOST: ${EFT_HOST}
    ONEVIEW__EXTRACT_MEDICAL_STUDENT__USERNAME: ${EFT_USERNAME}
    ONEVIEW__EXTRACT_MEDICAL_STUDENT__PASSWORD: ${EFT_PASSWORD}

    ONEVIEW__EXTRACT_MEDICAL_STUDENT__CACHE_OUTPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__EXTRACT_MEDICAL_STUDENT__CACHE_OUTPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
    ONEVIEW__EXTRACT_MEDICAL_STUDENT__CACHE_OUTPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__EXTRACT_MEDICAL_STUDENT__CACHE_OUTPUT_FILES: 'medical_student.psv'

    # State Table Extractor
    ONEVIEW__EXTRACT_STATE__DATABASE_NAME: ${EDW_NAME}
    ONEVIEW__EXTRACT_STATE__DATABASE_PORT: ${EDW_PORT}
    ONEVIEW__EXTRACT_STATE__SQL: "SELECT * FROM AMAEDW.STATE LIMIT {index}, {count};"
    ONEVIEW__EXTRACT_STATE__DATABASE_HOST: ${EDW_HOST}
    ONEVIEW__EXTRACT_STATE__DATABASE_USERNAME: ${EDW_USERNAME}
    ONEVIEW__EXTRACT_STATE__DATABASE_PASSWORD: ${EDW_PASSWORD}
    ONEVIEW__EXTRACT_STATE__DRIVER: ${DB2_DRIVER}
    ONEVIEW__EXTRACT_STATE__DRIVER_TYPE: ${DB2_DRIVER_TYPE}
    ONEVIEW__EXTRACT_STATE__JAR_PATH: ${DB2_JAR_PATH}
    ONEVIEW__EXTRACT_STATE__CHUNK_SIZE: '100000'

    ONEVIEW__EXTRACT_STATE__CACHE_OUTPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__EXTRACT_STATE__CACHE_OUTPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
    ONEVIEW__EXTRACT_STATE__CACHE_OUTPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__EXTRACT_STATE__CACHE_OUTPUT_FILES: 'state.csv'

    # State Table Transformer
    ONEVIEW__CREATE_STATE_TABLE__CACHE_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__CREATE_STATE_TABLE__CACHE_BASE_PATH: ${S3_BASE_PATH}

    ONEVIEW__CREATE_STATE_TABLE__CACHE_INPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
    ONEVIEW__CREATE_STATE_TABLE__CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__CREATE_STATE_TABLE__CACHE_INPUT_FILES: 'state.csv'
    ONEVIEW__CREATE_STATE_TABLE__CACHE_OUTPUT_FILES: 'state.csv'

    # State Table Loader
    ONEVIEW__LOAD_STATE_TABLE__CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__LOAD_STATE_TABLE__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__LOAD_STATE_TABLE__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__LOAD_STATE_TABLE__CACHE_INPUT_FILES: 'state.csv'

    ONEVIEW__LOAD_STATE_TABLE__MODEL_CLASSES: 'datalabs.model.masterfile.oneview.State'
    ONEVIEW__LOAD_STATE_TABLE__DATABASE_HOST: ${DATABASE_HOST}
    ONEVIEW__LOAD_STATE_TABLE__DATABASE_PORT: ${DATABASE_PORT}
    ONEVIEW__LOAD_STATE_TABLE__DATABASE_BACKEND: ${DATABASE_BACKEND}
    ONEVIEW__LOAD_STATE_TABLE__DATABASE_NAME: ${DATABASE_NAME}
    ONEVIEW__LOAD_STATE_TABLE__DATABASE_USERNAME: ${DATABASE_USERNAME}
    ONEVIEW__LOAD_STATE_TABLE__DATABASE_PASSWORD: ${DATABASE_PASSWORD}

    # Class of Trade Extractor
    ONEVIEW__EXTRACT_CLASS_OF_TRADE__DATABASE_NAME: ${ODS_NAME}
    ONEVIEW__EXTRACT_CLASS_OF_TRADE__DATABASE_PORT: ${ODS_PORT}
    ONEVIEW__EXTRACT_CLASS_OF_TRADE__SQL: "SELECT * FROM ODS.ODS_IMS_CLASS_OF_TRADE LIMIT {index}, {count};"
    ONEVIEW__EXTRACT_CLASS_OF_TRADE__DATABASE_HOST: ${ODS_HOST}
    ONEVIEW__EXTRACT_CLASS_OF_TRADE__DATABASE_USERNAME: ${ODS_USERNAME}
    ONEVIEW__EXTRACT_CLASS_OF_TRADE__DATABASE_PASSWORD: ${ODS_PASSWORD}
    ONEVIEW__EXTRACT_CLASS_OF_TRADE__DRIVER: ${DB2_DRIVER}
    ONEVIEW__EXTRACT_CLASS_OF_TRADE__DRIVER_TYPE: ${DB2_DRIVER_TYPE}
    ONEVIEW__EXTRACT_CLASS_OF_TRADE__JAR_PATH: ${DB2_JAR_PATH}
    ONEVIEW__EXTRACT_CLASS_OF_TRADE__CHUNK_SIZE: '100000'

    ONEVIEW__EXTRACT_CLASS_OF_TRADE__CACHE_OUTPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__EXTRACT_CLASS_OF_TRADE__CACHE_OUTPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
    ONEVIEW__EXTRACT_CLASS_OF_TRADE__CACHE_OUTPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__EXTRACT_CLASS_OF_TRADE__CACHE_OUTPUT_FILES: 'class_of_trade.csv'

    # Create Class of Trade Table
    ONEVIEW__CREATE_CLASS_OF_TRADE_TABLE__CACHE_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__CREATE_CLASS_OF_TRADE_TABLE__CACHE_BASE_PATH: ${S3_BASE_PATH}

    ONEVIEW__CREATE_CLASS_OF_TRADE_TABLE__CACHE_INPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
    ONEVIEW__CREATE_CLASS_OF_TRADE_TABLE__CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__CREATE_CLASS_OF_TRADE_TABLE__CACHE_INPUT_FILES: 'class_of_trade.csv'
    ONEVIEW__CREATE_CLASS_OF_TRADE_TABLE__CACHE_OUTPUT_FILES: 'class_of_trade_specialty.csv,class_of_trade_facility.csv,class_of_trade_classification.csv'

    # Class of Trade Table Loader
    ONEVIEW__LOAD_CLASS_OF_TRADE_TABLE__CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__LOAD_CLASS_OF_TRADE_TABLE__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__LOAD_CLASS_OF_TRADE_TABLE__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__LOAD_CLASS_OF_TRADE_TABLE__CACHE_INPUT_FILES: 'class_of_trade_specialty.csv,class_of_trade_facility.csv,class_of_trade_classification.csv'

    ONEVIEW__LOAD_CLASS_OF_TRADE_TABLE__MODEL_CLASSES: 'datalabs.model.masterfile.oneview.ClassOfTradeSpecialty,datalabs.model.masterfile.oneview.ClassOfTradeFacilityType,datalabs.model.masterfile.oneview.ClassOfTradeClassification'
    ONEVIEW__LOAD_CLASS_OF_TRADE_TABLE__DATABASE_HOST: ${DATABASE_HOST}
    ONEVIEW__LOAD_CLASS_OF_TRADE_TABLE__DATABASE_PORT: ${DATABASE_PORT}
    ONEVIEW__LOAD_CLASS_OF_TRADE_TABLE__DATABASE_BACKEND: ${DATABASE_BACKEND}
    ONEVIEW__LOAD_CLASS_OF_TRADE_TABLE__DATABASE_NAME: ${DATABASE_NAME}
    ONEVIEW__LOAD_CLASS_OF_TRADE_TABLE__DATABASE_USERNAME: ${DATABASE_USERNAME}
    ONEVIEW__LOAD_CLASS_OF_TRADE_TABLE__DATABASE_PASSWORD: ${DATABASE_PASSWORD}

    # Create Static Reference Table
    ONEVIEW__CREATE_STATIC_REFERENCE_TABLE__CACHE_OUTPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__CREATE_STATIC_REFERENCE_TABLE__CACHE_OUTPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__CREATE_STATIC_REFERENCE_TABLE__CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__CREATE_STATIC_REFERENCE_TABLE__CACHE_OUTPUT_FILES: 'provider_affiliation_group.csv,provider_affiliation_type.csv,profit_status.csv,owner_status.csv'

    # Load Static Reference Table
    ONEVIEW__LOAD_STATIC_REFERENCE_TABLE__CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__LOAD_STATIC_REFERENCE_TABLE__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__LOAD_STATIC_REFERENCE_TABLE__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__LOAD_STATIC_REFERENCE_TABLE__CACHE_INPUT_FILES: 'provider_affiliation_group.csv,provider_affiliation_type.csv,profit_status.csv,owner_status.csv'

    ONEVIEW__LOAD_STATIC_REFERENCE_TABLE__MODEL_CLASSES: 'datalabs.model.masterfile.oneview.ProviderAffiliationGroup,datalabs.model.masterfile.oneview.ProviderAffiliationType,datalabs.model.masterfile.oneview.ProfitStatus,datalabs.model.masterfile.oneview.OwnerStatus'
    ONEVIEW__LOAD_STATIC_REFERENCE_TABLE__DATABASE_HOST: ${DATABASE_HOST}
    ONEVIEW__LOAD_STATIC_REFERENCE_TABLE__DATABASE_PORT: ${DATABASE_PORT}
    ONEVIEW__LOAD_STATIC_REFERENCE_TABLE__DATABASE_BACKEND: ${DATABASE_BACKEND}
    ONEVIEW__LOAD_STATIC_REFERENCE_TABLE__DATABASE_NAME: ${DATABASE_NAME}
    ONEVIEW__LOAD_STATIC_REFERENCE_TABLE__DATABASE_USERNAME: ${DATABASE_USERNAME}
    ONEVIEW__LOAD_STATIC_REFERENCE_TABLE__DATABASE_PASSWORD: ${DATABASE_PASSWORD}

    # Medical School Reference Table Extractor
    ONEVIEW__EXTRACT_MEDICAL_SCHOOL__DATABASE_NAME: ${EDW_NAME}
    ONEVIEW__EXTRACT_MEDICAL_SCHOOL__DATABASE_PORT: ${EDW_PORT}
    ONEVIEW__EXTRACT_MEDICAL_SCHOOL__SQL: "SELECT K.KEY_VAL, N.ORG_NM FROM AMAEDW.PARTY_KEY K, AMAEDW.ORG_NM N WHERE K.KEY_TYPE_ID=23 AND K.PARTY_ID=N.PARTY_ID AND N.THRU_DT IS NULL LIMIT {index}, {count};"
    ONEVIEW__EXTRACT_MEDICAL_SCHOOL__DATABASE_HOST: ${EDW_HOST}
    ONEVIEW__EXTRACT_MEDICAL_SCHOOL__DATABASE_USERNAME: ${EDW_USERNAME}
    ONEVIEW__EXTRACT_MEDICAL_SCHOOL__DATABASE_PASSWORD: ${EDW_PASSWORD}
    ONEVIEW__EXTRACT_MEDICAL_SCHOOL__DRIVER: ${DB2_DRIVER}
    ONEVIEW__EXTRACT_MEDICAL_SCHOOL__DRIVER_TYPE: ${DB2_DRIVER_TYPE}
    ONEVIEW__EXTRACT_MEDICAL_SCHOOL__JAR_PATH: ${DB2_JAR_PATH}
    ONEVIEW__EXTRACT_MEDICAL_SCHOOL__CHUNK_SIZE: '100000'

    ONEVIEW__EXTRACT_MEDICAL_SCHOOL__CACHE_OUTPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__EXTRACT_MEDICAL_SCHOOL__CACHE_OUTPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
    ONEVIEW__EXTRACT_MEDICAL_SCHOOL__CACHE_OUTPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__EXTRACT_MEDICAL_SCHOOL__CACHE_OUTPUT_FILES: 'medical_school.csv'

    # Create Medical School Reference Table
    ONEVIEW__CREATE_MEDICAL_SCHOOL_TABLE__CACHE_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__CREATE_MEDICAL_SCHOOL_TABLE__CACHE_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__CREATE_MEDICAL_SCHOOL_TABLE__CACHE_INPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
    ONEVIEW__CREATE_MEDICAL_SCHOOL_TABLE__CACHE_INPUT_FILES: 'medical_school.csv'
    ONEVIEW__CREATE_MEDICAL_SCHOOL_TABLE__CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__CREATE_MEDICAL_SCHOOL_TABLE__CACHE_OUTPUT_FILES: 'medical_school.csv'

    # Load Medical School Reference Reference Table
    ONEVIEW__LOAD_MEDICAL_SCHOOL_TABLE__CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__LOAD_MEDICAL_SCHOOL_TABLE__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__LOAD_MEDICAL_SCHOOL_TABLE__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__LOAD_MEDICAL_SCHOOL_TABLE__CACHE_INPUT_FILES: 'medical_school.csv'

    ONEVIEW__LOAD_MEDICAL_SCHOOL_TABLE__MODEL_CLASSES: 'datalabs.model.masterfile.oneview.MedicalSchool'
    ONEVIEW__LOAD_MEDICAL_SCHOOL_TABLE__DATABASE_HOST: ${DATABASE_HOST}
    ONEVIEW__LOAD_MEDICAL_SCHOOL_TABLE__DATABASE_PORT: ${DATABASE_PORT}
    ONEVIEW__LOAD_MEDICAL_SCHOOL_TABLE__DATABASE_BACKEND: ${DATABASE_BACKEND}
    ONEVIEW__LOAD_MEDICAL_SCHOOL_TABLE__DATABASE_NAME: ${DATABASE_NAME}
    ONEVIEW__LOAD_MEDICAL_SCHOOL_TABLE__DATABASE_USERNAME: ${DATABASE_USERNAME}
    ONEVIEW__LOAD_MEDICAL_SCHOOL_TABLE__DATABASE_PASSWORD: ${DATABASE_PASSWORD}

    # Physician Email Extractor
    ONEVIEW__EXTRACT_PHYSICIAN_EMAIL__DATABASE_NAME: ${EDW_NAME}
    ONEVIEW__EXTRACT_PHYSICIAN_EMAIL__DATABASE_PORT: ${EDW_PORT}
    ONEVIEW__EXTRACT_PHYSICIAN_EMAIL__DATABASE_HOST: ${EDW_HOST}
    ONEVIEW__EXTRACT_PHYSICIAN_EMAIL__DATABASE_USERNAME: ${EDW_USERNAME}
    ONEVIEW__EXTRACT_PHYSICIAN_EMAIL__DATABASE_PASSWORD: ${EDW_PASSWORD}
    ONEVIEW__EXTRACT_PHYSICIAN_EMAIL__SQL: SELECT EMAIL_ID, EMAIL_STATUS FROM AMAEDW.EMAIL_ADDR;
    ONEVIEW__EXTRACT_PHYSICIAN_EMAIL__CHUNK_SIZE: '100000'
    ONEVIEW__EXTRACT_PHYSICIAN_EMAIL__DRIVER: ${DB2_DRIVER}
    ONEVIEW__EXTRACT_PHYSICIAN_EMAIL__DRIVER_TYPE: ${DB2_DRIVER_TYPE}
    ONEVIEW__EXTRACT_PHYSICIAN_EMAIL__JAR_PATH: ${DB2_JAR_PATH}

    ONEVIEW__EXTRACT_PHYSICIAN_EMAIL__CACHE_OUTPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__EXTRACT_PHYSICIAN_EMAIL__CACHE_OUTPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
    ONEVIEW__EXTRACT_PHYSICIAN_EMAIL__CACHE_OUTPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__EXTRACT_PHYSICIAN_EMAIL__CACHE_OUTPUT_FILES: 'email_address.csv'

    # Physician Email ID Extractor
    ONEVIEW__EXTRACT_PHYSICIAN_EMAIL_ID__DATABASE_NAME: ${EDW_NAME}
    ONEVIEW__EXTRACT_PHYSICIAN_EMAIL_ID__DATABASE_PORT: ${EDW_PORT}
    ONEVIEW__EXTRACT_PHYSICIAN_EMAIL_ID__DATABASE_HOST: ${EDW_HOST}
    ONEVIEW__EXTRACT_PHYSICIAN_EMAIL_ID__DATABASE_USERNAME: ${EDW_USERNAME}
    ONEVIEW__EXTRACT_PHYSICIAN_EMAIL_ID__DATABASE_PASSWORD: ${EDW_PASSWORD}
    ONEVIEW__EXTRACT_PHYSICIAN_EMAIL_ID__SQL: SELECT PARTY_ID, EMAIL_ID FROM AMAEDW.PARTY_EMAIL;
    ONEVIEW__EXTRACT_PHYSICIAN_EMAIL_ID__CHUNK_SIZE: '100000'
    ONEVIEW__EXTRACT_PHYSICIAN_EMAIL_ID__DRIVER: ${DB2_DRIVER}
    ONEVIEW__EXTRACT_PHYSICIAN_EMAIL_ID__DRIVER_TYPE: ${DB2_DRIVER_TYPE}
    ONEVIEW__EXTRACT_PHYSICIAN_EMAIL_ID__JAR_PATH: ${DB2_JAR_PATH}

    ONEVIEW__EXTRACT_PHYSICIAN_EMAIL_ID__CACHE_OUTPUT_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__EXTRACT_PHYSICIAN_EMAIL_ID__CACHE_OUTPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
    ONEVIEW__EXTRACT_PHYSICIAN_EMAIL_ID__CACHE_OUTPUT_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__EXTRACT_PHYSICIAN_EMAIL_ID__CACHE_OUTPUT_FILES: 'email_id.csv'

    # Physician Email Transformer
    ONEVIEW__CREATE_PHYSICIAN_EMAIL_TABLE__CACHE_CLASS: ${S3_CACHE_CLASS}
    ONEVIEW__CREATE_PHYSICIAN_EMAIL_TABLE__CACHE_BASE_PATH: ${S3_BASE_PATH}
    ONEVIEW__CREATE_PHYSICIAN_EMAIL_TABLE__CACHE_INPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
    ONEVIEW__CREATE_PHYSICIAN_EMAIL_TABLE__CACHE_INPUT_FILES: 'email_address.csv,email_address.csv'
    ONEVIEW__CREATE_PHYSICIAN_EMAIL_TABLE__CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    ONEVIEW__CREATE_PHYSICIAN_EMAIL_TABLE__CACHE_OUTPUT_FILES: 'emails.csv'
