# Render as follows:
#
# Script/render-template -t Deploy/OneView/etl_secrets.yaml.jinja -f Deploy/OneView/etl_secrets.yaml \
# -v "ods_host={{ods_host}},ods_port={{ods_port}},ods_name={{ods_name}},ods_username={{ods_username}},\
# ods_password={{ods_password}},sftp_host={{sftp_host}},sftp_username={{sftp_username}},sftp_password={{sftp_password}},\
# s3_access_key={{s3_access_key}},s3_secret_key={{s3_secret_key}},s3_ingested_bucket={{s3_ingested_bucket}},\
# s3_processed_bucket={{s3_processed_bucket}},database_host={{database_host}},database_name={{database_name}},\
# database_username={{database_username}},database_password={{database_password}},eftp_username={{eftp_username}},
# eftp_password={{eftp_password}}"
---
# Render as follows:
#
# Script/render-template -t Deploy/OneView/dev/refresh_dev_secrets.yaml.jinja -f Deploy/OneView/dev/refresh_dev_secrets.yaml -v "database_password={{database_password}}
---
- apiVersion: v1
  kind: Secret
  type: Opaque
  metadata:
    name: oneview-refresh-dev
    namespace: hsg-data-labs-dev
    annotations:
      template.openshift.io/base64-expose-password: "{.data['DATABASE_HOST']}"
      template.openshift.io/base64-expose-password: "{.data['DATABASE_PORT']}"
      template.openshift.io/base64-expose-password: "{.data['DATABASE_BACKEND']}"
      template.openshift.io/base64-expose-password: "{.data['DATABASE_NAME']}"
      template.openshift.io/base64-expose-password: "{.data['DATABASE_USERNAME']}"
      template.openshift.io/base64-expose-password: "{.data['DATABASE_PASSWORD']}"
  stringData:
      DATABASE_HOST: oneview-tst-content-aurora-cluster.cluster-cvo5zwdixjdr.us-east-1.rds.amazonaws.com
      DATABASE_PORT: '5432'
      DATABASE_BACKEND: 'postgresql+psycopg2'
      DATABASE_NAME: 'oneview_content'
      DATABASE_USERNAME:  oneviewadmin
      DATABASE_PASSWORD:  '{{database_password}}'
