# Render as follows:
#
# Script/render-template -t Deploy/OneView/dev/refresh_dev_secrets.yaml.jinja -f Deploy/OneView/dev/refresh_dev_secrets.yaml -v "database_password={{database_password}}
---
- apiVersion: v1
  kind: Secret
  type: Opaque
  metadata:
    name: oneview-refresh-dev
    namespace: hsg-data-labs-dev
    annotations:
      template.openshift.io/base64-expose-password: "{.data['DATABASE_HOST']}"
      template.openshift.io/base64-expose-password: "{.data['DATABASE_PORT']}"
      template.openshift.io/base64-expose-password: "{.data['DATABASE_BACKEND']}"
      template.openshift.io/base64-expose-password: "{.data['DATABASE_NAME']}"
      template.openshift.io/base64-expose-password: "{.data['DATABASE_USERNAME']}"
      template.openshift.io/base64-expose-password: "{.data['DATABASE_PASSWORD']}"
  stringData:
      DATABASE_HOST: oneview-dev-content-aurora-cluster.cluster-cwp4vd8mllvz.us-east-1.rds.amazonaws.com
      DATABASE_PORT: '5432'
      DATABASE_BACKEND: 'postgresql+psycopg2'
      DATABASE_NAME: 'oneview_content'
      DATABASE_USERNAME:  oneviewadmin
      DATABASE_PASSWORD:  '{{database_password}}'
