---
CPT_KNOWLEDGE_BASE_ETL:
    GLOBAL:
        ENVIRONMENT: dev
        ACCOUNT: '285887636563'

        EFT_HOST: eft.ama-assn.org
        EFT_USERNAME: datalabs
        EFT_PASSWORD: '{{eft_password}}'

        S3_INGESTED_DATA_BUCKET: ama-${ENVIRONMENT}-datalake-ingest-us-east-1
        S3_PROCESSED_DATA_BUCKET: ama-${ENVIRONMENT}-datalake-process-us-east-1
        S3_STAGED_DATA_BUCKET: ama-${ENVIRONMENT}-datalake-staged-us-east-1
        S3_CACHE_CLASS: 'datalabs.etl.dag.cache.s3.S3TaskDataCache'
        S3_BASE_PATH: 'AMA/CPT/KnowledgeBase'

        OPENSEARCH_INDEX_HOST: 'fchei7e3inbygxq1f7m0.us-east-1.aoss.amazonaws.com'
        OPENSEARCH_INDEX_NAME: 'knowledge_base'

    DAG:
        LAMBDA_FUNCTION: 'CPT-API-${ENVIRONMENT}-KnowledgeBase-DAG'
        DAG_CLASS: 'datalabs.etl.dag.cpt.knowledge_base.DAG'
        DAG_STATE:
            CLASS: 'datalabs.etl.dag.state.dynamodb.DAGState'
            STATE_TABLE: 'DataLake-dag-state-${ENVIRONMENT}'
            LOCK_TABLE: 'DataLake-scheduler-locks-${ENVIRONMENT}'
        DAG_TOPIC_ARN: 'arn:aws:sns:us-east-1:${ACCOUNT}:DataLake-${ENVIRONMENT}-DAGProcessor'
        TASK_TOPIC_ARN: 'arn:aws:sns:us-east-1:${ACCOUNT}:DataLake-${ENVIRONMENT}-TaskProcessor'
        DAG_EXECUTOR_CLASS: 'datalabs.etl.dag.execute.awslambda.LambdaDAGExecutorTask'
        TASK_EXECUTOR_CLASS: 'datalabs.etl.dag.execute.awslambda.LambdaTaskExecutorTask'

    EXTRACT_KNOWLEDGE_BASE_FILE:
        HOST: ${EFT_HOST}
        USERNAME: ${EFT_USERNAME}
        PASSWORD: ${EFT_PASSWORD}
        BASE_PATH: 'CPT_DataProducts/CPT Knowledge Base'
        FILES: '%Y/%B %Y/CPTKB_%B%Y%m%d/knowledge_base_%Y%m%d.txt'

        CACHE_OUTPUT_CLASS: ${S3_CACHE_CLASS}
        CACHE_OUTPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
        CACHE_OUTPUT_BASE_PATH: ${S3_BASE_PATH}
        CACHE_OUTPUT_FILES: 'knowledge_base.psv'

    CREATE_KNOWLEDGE_BASE_DATA:
        CACHE_CLASS: ${S3_CACHE_CLASS}
        CACHE_BASE_PATH: ${S3_BASE_PATH}

        CACHE_INPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
        CACHE_INPUT_FILES: 'knowledge_base.psv'

        CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_OUTPUT_FILES: 'knowledge_base.json'

    LOAD_KNOWLEDGE_BASE_DATA:
        CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
        CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
        CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_INPUT_FILES: 'knowledge_base.json'

        INDEX_NAME: ${OPENSEARCH_INDEX_NAME}
        INDEX_HOST: ${OPENSEARCH_INDEX_HOST}
