---
CPT_VIGNETTES_ETL:
    GLOBAL:
        ENVIRONMENT: prd
        ACCOUNT: '285887636563'

        EFT_HOST: eft.ama-assn.org
        EFT_USERNAME: datalabs
        EFT_PASSWORD: '{{eft_password}}'

        S3_INGESTED_DATA_BUCKET: ama-${ENVIRONMENT}-datalake-ingest-us-east-1
        S3_PROCESSED_DATA_BUCKET: ama-${ENVIRONMENT}-datalake-process-us-east-1
        S3_STAGED_DATA_BUCKET: ama-${ENVIRONMENT}-datalake-staged-us-east-1


        S3_CACHE_CLASS: 'datalabs.etl.dag.cache.s3.S3TaskDataCache'
        S3_BASE_PATH: 'AMA/CPT/Vignettes'

    DAG:
        LAMBDA_FUNCTION: 'CPT-API-${ENVIRONMENT}-Vignettes-DAG'
        DAG_CLASS: 'datalabs.etl.dag.cpt.vignettes.DAG'
        DAG_STATE:
            CLASS: 'datalabs.etl.dag.state.dynamodb.DAGState'
            STATE_TABLE: 'DataLake-dag-state-${ENVIRONMENT}'
            LOCK_TABLE: 'DataLake-scheduler-locks-${ENVIRONMENT}'
        DAG_TOPIC_ARN: 'arn:aws:sns:us-east-1:${ACCOUNT}:DataLake-${ENVIRONMENT}-DAGProcessor'
        TASK_TOPIC_ARN: 'arn:aws:sns:us-east-1:${ACCOUNT}:DataLake-${ENVIRONMENT}-TaskProcessor'
        DAG_EXECUTOR_CLASS: 'datalabs.etl.dag.execute.awslambda.LambdaDAGExecutorTask'
        TASK_EXECUTOR_CLASS: 'datalabs.etl.dag.execute.awslambda.LambdaTaskExecutorTask'

    EXTRACT_VIGNETTES_FILE:
        BASE_PATH: 'CPT_DataProducts/'
        FILES: 'Clinical Vignettes Data File/2023/CPT Vignettes 2023/Clinical Vignettes 2023 - Pipe.txt,CPT Link/2022/CPT_Link_20220909/CPT_Link_20220909/CPT Link/extracts/Comprehensive.txt,CPT Link/2023/CPT_Link_20230908/CPT_Link_20230908/CPT Link/extracts/HcpcsIICodes.txt,CPT Link/2022/CPT_Link_20220909/CPT_Link_20220909/CPT Link/extracts/MAAA.txt'
        HOST: ${EFT_HOST}
        USERNAME: ${EFT_USERNAME}
        PASSWORD: ${EFT_PASSWORD}

        CACHE_OUTPUT_CLASS: ${S3_CACHE_CLASS}
        CACHE_OUTPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
        CACHE_OUTPUT_BASE_PATH: ${S3_BASE_PATH}
        CACHE_OUTPUT_FILES: 'clinical_vignettes.txt,comprehensive_codes.txt,hcpcs_codes.txt,adminstrative_codes.txt'

    CREATE_VIGNETTES_MAPPINGS:
        CACHE_CLASS: ${S3_CACHE_CLASS}
        CACHE_BASE_PATH: ${S3_BASE_PATH}

        CACHE_INPUT_FILES: 'clinical_vignettes.txt,comprehensive_codes.txt,hcpcs_codes.txt,adminstrative_codes.txt'
        CACHE_INPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}

        CACHE_OUTPUT_FILES: 'vignettes_mappings.json'
        CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}

    LOAD_VIGNETTES_MAPPINGS:
        TABLE: 'CPT-API-vignettes-${ENVIRONMENT}'

        CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
        CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
        CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_INPUT_FILES: 'vignettes_mappings.json'
