# Render as follows:
#
# Script/render-template -t Deploy/Scheduler/scheduler.yaml.jinja -f Deploy/Scheduler/scheduler.yaml \
# -v "lambda=DataLake-Scheduler-sbx,dag_state_table=DataLake-dag-state-sbx,state_lock_table=DataLake-scheduler-locks-sbx,dag_topic_arn=arn:aws:sns:us-east-1:644454719059:DataLake-DAG-Processor-sbx,task_topic_arn=arn:aws:sns:us-east-1:644454719059:DataLake-Task-Processor-sbx,scheduler_bucket=ama-sbx-datalake-scheduler-data-us-east-1"
---
data:
    # Global Variables
    TASK_CACHE_CLASS: 'datalabs.etl.dag.cache.s3.S3TaskDataCache'

    # DAG Variables
    DAG_SCHEDULER__DAG__LAMBDA: '{{ lambda }}'
    DAG_SCHEDULER__DAG__DAG_STATE_CLASS: 'datalabs.etl.dag.state.dynamodb.DAGState'
    DAG_SCHEDULER__DAG__DAG_STATE_TABLE: '{{ dag_state_table }}'
    DAG_SCHEDULER__DAG__STATE_LOCK_TABLE: '{{ state_lock_table }}'
    DAG_SCHEDULER__DAG__DAG_TOPIC_ARN: '{{ dag_topic_arn }}'
    DAG_SCHEDULER__DAG__TASK_TOPIC_ARN: '{{ dag_topic_arn }}'

    # DAG Schedule Extractor Variables
    DAG_SCHEDULER__EXTRACT_SCHEDULE__CACHE_OUTPUT_CLASS: ${TASK_CACHE_CLASS}
    DAG_SCHEDULER__EXTRACT_SCHEDULE__BUCKET: '{{ scheduler_bucket }}'
    DAG_SCHEDULER__EXTRACT_SCHEDULE__BASE_PATH: /
    DAG_SCHEDULER__EXTRACT_SCHEDULE__FILES: schedule.csv
    DAG_SCHEDULER__EXTRACT_SCHEDULE__INCLUDE_DATESTAMP: False

    # DAG Scheduler Variables
    DAG_SCHEDULER__SCHEDULE_DAGS__CACHE_CLASS: ${TASK_CACHE_CLASS}

    # Scheduled DAGs Loader Variables
    DAG_SCHEDULER__SCHEDULE_DAGS__CACHE_INPUT_CLASS: ${TASK_CACHE_CLASS}
