# Project Settings
PROJECT_NAME='PoloRankModel'
DATALABS_PYTHONPATH='{{ pythonpath }}'

# PPD Input Data
PPD_FILE='U:/Source Files/Data Analytics/Data-Science/Data/PPD/ppd_data_20200222.csv'

# Masterfile Input Data
ENTITY_COMM_AT_FILE='U:/Source Files/Data Analytics/Data-Science/Data/entity_data/2020-02-25/str_entity_comm_at.csv'
ENTITY_COMM_USG_FILE='U:/Source Files/Data Analytics/Data-Science/Data/entity_data/2020-02-25/str_entity_comm_usg_at.csv'
POST_ADDR_AT_FILE='U:/Source Files/Data Analytics/Data-Science/Data/entity_data/2020-02-25/str_post_addr_at.csv'
LICENSE_LT_FILE='U:/Source Files/Data Analytics/Data-Science/Data/entity_data/2020-02-25/str_license_lt.csv'
ENTITY_KEY_ET_FILE='U:/Source Files/Data Analytics/Data-Science/Data/entity_data/2020-02-25/str_entity_key_et.csv'

# Model Output Data
MODEL_ARCHIVE_DIR='U:/Source Files/Data Analytics/Data-Science/Data/Polo_Rank_Model_Archived/'
MODEL_FILE='U:/Source Files/Data Analytics/Data-Science/Data/Polo_Rank_Model/Address_POLO_Rank_Class_Model.sav'
MODEL_VAR_FILE='U:/Source Files/Data Analytics/Data-Science/Data/Polo_Rank_Model/Address_POLO_Rank_Class_Model_FeatureList.sav'
MODEL_PREDICTIONS_FILE='U:/Source Files/Data Analytics/Data-Science/Data/Polo_Rank_Model/Data/model_pred_df.csv'
MODEL_SCORED_PREDICTIONS_FILE='U:/Source Files/Data Analytics/Data-Science/Data/Polo_Rank_Model/Polo_Addr_Rank_Scored_PPD_DPC_Pop.csv'
