{
    "CONTACT_ID_ETCD_PASSWORD": "{{contact_id_etcd_password}}",
    "CONTACT_ID_IMAGE": "harbor.ama-assn.org/hsg-data-labs/contact-id:1.0.0",
    "DEPLOYMENT_ID": "prod",
    "ETCD_HOST": "hsg-data-labs-etcd.apps.openshift.ama-assn.org",
    "ONEVIEW_ETCD_PASSWORD": "{{oneview_etcd_password}}",
    "ONEVIEW_IMAGE": "harbor.ama-assn.org/hsg-data-labs/oneview-etl:1.3.3"
}
