# Script/render-template -t Deploy/DBL/dev/secrets.yaml.jinja -f Deploy/DBL/dev/secrets.yaml -v  \
# "eft_host=eft.ama-assn.org,eft_username=datalabsprd,eft_password=XXXXXXXXX"
#
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: dbl-file-count-eft
  namespace: hsg-data-labs-dev
  annotations:
    template.openshift.io/base64-expose-password: "{.data['HOST']}"
    template.openshift.io/base64-expose-password: "{.data['USERNAME']}"
    template.openshift.io/base64-expose-password: "{.data['PASSWORD']}"
stringData:
  HOST: {{eft_host}}
  USERNAME: {{eft_username}}
  PASSWORD: {{eft_password}}