# Script/render-template -t Deploy/DBL/dev/secrets.yaml.jinja -f Deploy/DBL/dev/secrets.yaml -v  \
# "eft_host=eft.ama-assn.org,eft_username=datalabsprd,eft_password=ebCV3kZT"
#
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: dbl-file-count-eft
  namespace: hsg-data-labs-dev
  annotations:
    template.openshift.io/base64-expose-password: "{.data['EFT_HOST']}"
    template.openshift.io/base64-expose-password: "{.data['EFT_USERNAME']}"
    template.openshift.io/base64-expose-password: "{.data['EFT_PASSWORD']}"
stringData:
  EFT_HOST: {{eft_host}}
  EFT_USERNAME: {{eft_username}}
  EFT_PASSWORD: {{eft_password}}