---
HELLO_WORLD_JAVA:
    GLOBAL:
        ENVIRONMENT: sbx
        ACCOUNT: '644454719059'

    DAG:
        LAMBDA_FUNCTION: 'DataLake-${ENVIRONMENT}-HelloWorldJavaDAG'
        DAG_CLASS: 'datalabs.example.etl.dag.hello_world_java.HelloWorldJavaDAG'
        DAG_STATE:
            CLASS: 'datalabs.etl.dag.state.dynamodb.DAGState'
            STATE_TABLE: 'DataLake-dag-state-${ENVIRONMENT}'
            LOCK_TABLE: 'DataLake-scheduler-locks-${ENVIRONMENT}'
        DAG_TOPIC_ARN: 'arn:aws:sns:us-east-1:${ACCOUNT}:DataLake-${ENVIRONMENT}-DAGProcessor'
        TASK_TOPIC_ARN: 'arn:aws:sns:us-east-1:${ACCOUNT}:DataLake-${ENVIRONMENT}-TaskProcessor'
        DAG_EXECUTOR_CLASS: 'datalabs.etl.dag.execute.awslambda.LambdaDAGExecutorTask'
        TASK_EXECUTOR_CLASS: 'datalabs.etl.dag.execute.awslambda.LambdaTaskExecutorTask'

    LOG_MESSAGE:
        OVERRIDES:
            LAMBDA_FUNCTION: DataLake-${ENVIRONMENT}-HelloWorldJavaTask
            DAG_STATE:
                CLASS: datalabs.etl.dag.state.dynamodb.DagState
                STATE_TABLE: 'DataLake-dag-state-${ENVIRONMENT}'
                LOCK_TABLE: 'DataLake-scheduler-locks-${ENVIRONMENT}'
        TASK_CLASS: 'datalabs.example.etl.HelloWorldTask'
