    AMC_QUERY_FILE = 'U:/Source Files/Data Analytics/Data-Science/Data/AMC_Address_Sweep/query_amc_data.sql'
    FLAG_WORD_FILE = 'U:/Source Files/Data Analytics/Data-Science/Data/AMC_Address_Sweep/AMC_flag_words.xlsx'

    OUTPUT_DIRECTORY = 'U:/Source Files/Data Analytics/Data-Science/Data/AMC_Address_Sweep/output'
    OUTPUT_FILE_PASSWORD = '{{password}}'

    REPORT_SENDER = 'DataLabs@ama-assn.org'
    REPORT_RECIPIENTS = 'Nicole.Neal@ama-assn.org, Debbie.Kidd@ama-assn.org, Christina.Lopez@ama-assn.org, Sandeep.Dhamale@ama-assn.org'
    REPORT_CC = 'Garrett.Lappe@ama-assn.org'

    FALSE_POSITIVES = 'sebastopol, mail stop, mail code, mailstop, mail center, mail slot, mail box, mailslot, mail ctr, vanderbilt mail'
