data:
  #######################################################################
  # Global Variables - {"DAG": {"S": "CPTCORE"}, "Task": {"S": "GLOBAL"}}
  #######################################################################

  ENVIRONMENT: sbx
  ACCOUNT: '644454719059'

  S3_INGESTED_DATA_BUCKET: ama-${ENVIRONMENT}-datalake-ingest-us-east-1
  S3_PROCESSED_DATA_BUCKET: ama-${ENVIRONMENT}-datalake-process-us-east-1

  S3_CACHE_CLASS: 'datalabs.etl.dag.cache.s3.S3TaskDataCache'
  S3_BASE_PATH: 'AMA/CPT/Core'


  #######################################################################
  # DAG Variables - ({"DAG": {"S": "CPTCORE"}, "Task": {"S": "DAG"}})
  #######################################################################

  CPT_CORE__DAG__LAMBDA_FUNCTION: 'CPT-API-${ENVIRONMENT}-CoreDAG'
  CPT_CORE__DAG__DAG_CLASS: 'datalabs.etl.dag.cpt.files.core.CPTCoreDAG'
  CPT_CORE__DAG__DAG_STATE_CLASS: 'datalabs.etl.dag.state.dynamodb.DAGState'
  CPT_CORE__DAG__DAG_STATE_TABLE: 'DataLake-dag-state-${ENVIRONMENT}'
  CPT_CORE__DAG__STATE_LOCK_TABLE: 'DataLake-scheduler-locks-${ENVIRONMENT}'
  CPT_CORE__DAG__DAG_TOPIC_ARN: 'arn:aws:sns:us-east-1:${ACCOUNT}:DataLake-${ENVIRONMENT}-DAGProcessor'
  CPT_CORE__DAG__TASK_TOPIC_ARN: 'arn:aws:sns:us-east-1:${ACCOUNT}:DataLake-${ENVIRONMENT}-TaskProcessor'
  CPT_CORE__DAG__DAG_EXECUTOR_CLASS: 'datalabs.etl.dag.execute.awslambda.LambdaDAGExecutorTask'
  CPT_CORE__DAG__TASK_EXECUTOR_CLASS: 'datalabs.etl.dag.execute.awslambda.LambdaTaskExecutorTask'


  ##########################################################################
  # Task Variables - ({"DAG": {"S": "CPTCORE"}, "Task": {"S": "<Task ID>"}})
  ##########################################################################


  # Find previous link releases
  CPT_CORE__FIND_LINK_RELEASES__BUCKET: ${S3_PROCESSED_DATA_BUCKET}
  CPT_CORE__FIND_LINK_RELEASES__BASE_PATH: ${S3_BASE_PATH}
  CPT_CORE__FIND_LINK_RELEASES__LINK_FILES_ZIP: link_releases.zip

  CPT_CORE__FIND_LINK_RELEASES__CACHE_OUTPUT_CLASS: ${S3_CACHE_CLASS}
  CPT_CORE__FIND_LINK_RELEASES__CACHE_OUTPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
  CPT_CORE__FIND_LINK_RELEASES__CACHE_OUTPUT_BASE_PATH: ${S3_BASE_PATH}
  CPT_CORE__FIND_LINK_RELEASES__CACHE_OUTPUT_FILES: link_releases.txt


  # Extract previous link releases
  CPT_CORE__EXTRACT_LINK_RELEASES__CACHE_CLASS: ${S3_CACHE_CLASS}

  CPT_CORE__EXTRACT_LINK_RELEASES__CACHE_INPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
  CPT_CORE__EXTRACT_LINK_RELEASES__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
  CPT_CORE__EXTRACT_LINK_RELEASES__CACHE_INPUT_FILES: link_releases.txt

  CPT_CORE__EXTRACT_LINK_RELEASES__BUCKET: ${S3_INGESTED_DATA_BUCKET}
  CPT_CORE__EXTRACT_LINK_RELEASES__BASE_PATH: ${S3_BASE_PATH}

  CPT_CORE__EXTRACT_LINK_RELEASES__CACHE_OUTPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
  CPT_CORE__EXTRACT_LINK_RELEASES__CACHE_OUTPUT_BASE_PATH: ${S3_BASE_PATH}
  CPT_CORE__EXTRACT_LINK_RELEASES__CAHCE_OUTPUT_FILES: 'prior_link.zip, current_link.zip'


  # Build Core
  CPT_CORE__BUILD_CORE__CACHE_CLASS: ${S3_CACHE_CLASS}

  CPT_CORE__BUILD_CORE__CACHE_INPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
  CPT_CORE__BUILD_CORE__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
  CPT_CORE__BUILD_CORE__CACHE_INPUT_FILES: 'prior_link.zip, current_link.zip'

  CPT_CORE__BUILD_CORE__OUTPUT_DIRECTORY:  'target/buildcore_export2022_from2021u05'
  CPT_CORE__BUILD_CORE__PRIOR_LINK_VERSION:  '2021u05'
  CPT_CORE__BUILD_CORE__CURRENT_LINK_VERSION:  '2021core'
  CPT_CORE__BUILD_CORE__RELEASE_DATE:  '20220101'

  CPT_CORE__BUILD_CORE__CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
  CPT_CORE__BUILD_CORE__CACHE_OUTPUT_BASE_PATH: ${S3_BASE_PATH}
  CPT_CORE__BUILD_CORE__CACHE_OUTPUT_FILES: core.zip


  # Load Consumer and Clinician Descriptors
  CPT_CORE__LOAD_CONSUMER_AND_CLINICIAN_DESCRIPTORS__CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
  CPT_CORE__LOAD_CONSUMER_AND_CLINICIAN_DESCRIPTORS__CACHE_INPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
  CPT_CORE__LOAD_CONSUMER_AND_CLINICIAN_DESCRIPTORS__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
  CPT_CORE__LOAD_CONSUMER_AND_CLINICIAN_DESCRIPTORS__CACHE_INPUT_FILES: core.zip

  CPT_CORE__LOAD_CONSUMER_AND_CLINICIAN_DESCRIPTORS__TO_ADDRESS: datalabs@ama-assn.org
  CPT_CORE__LOAD_CONSUMER_AND_CLINICIAN_DESCRIPTORS__FILES: consumer_and_clinician_descriptors.csv
  CPT_CORE__LOAD_CONSUMER_AND_CLINICIAN_DESCRIPTORS__SUBJECT: "Consumer and Clinician Descriptors Report - %Y-%m-%d"
  CPT_CORE__LOAD_CONSUMER_AND_CLINICIAN_DESCRIPTORS__MESSAGE: "
  This is an automated email from DataLabs.

  Attached is the latest Consumer and Clinician Descriptors report.
  "
