# Render as follows:
#
# Script/render-template -t Deploy/CPT-API/dev/ingest.yaml.jinja -f Deploy/CPT-API/dev/ingest.yaml \
# -v "datalabs_password={{datalabs_password}},eft_password={{eft_password}},database_password={{database_password}}"
---
data:
    #######################################################################
    # Global Variables - {"DAG": {"S": "CPTAPI"}, "Task": {"S": "GLOBAL"}}
    #######################################################################

    ENVIRONMENT: sbx
    ACCOUNT: '644454719059'

    S3_INGESTED_DATA_BUCKET: ama-${ENVIRONMENT}-datalake-ingested-data-us-east-1
    S3_PROCESSED_DATA_BUCKET: ama-${ENVIRONMENT}-datalake-processed-data-us-east-1

    DATABASE_HOST: cpt-api-sbx-db.c3mn4zysffxi.us-east-1.rds.amazonaws.com
    # DATABASE_HOST: localhost
    DATABASE_PORT: '5432'
    DATABASE_BACKEND: 'postgresql+psycopg2'
    DATABASE_NAME: 'cpt'
    DATABASE_USERNAME:  cptadmin
    DATABASE_PASSWORD:  '{{database_password}}'

    S3_CACHE_CLASS: 'datalabs.etl.dag.cache.s3.S3TaskDataCache'
    S3_BASE_PATH: 'AMA/CPT'


    #######################################################################
    # DAG Variables - ({"DAG": {"S": "CPTAPI"}, "Task": {"S": "DAG"}})
    #######################################################################

    CPTAPI__DAG__LAMBDA_FUNCTION: 'CPT-API-${ENVIRONMENT}-ETL'
    CPTAPI__DAG__DAG_CLASS: 'datalabs.etl.dag.cpt.dag.CPTDAG'
    CPTAPI__DAG__DAG_STATE_CLASS: 'datalabs.etl.dag.state.dynamodb.DAGState'
    CPTAPI__DAG__DAG_STATE_TABLE: 'DataLake-dag-state-${ENVIRONMENT}'
    CPTAPI__DAG__STATE_LOCK_TABLE: 'DataLake-scheduler-locks-${ENVIRONMENT}'
    CPTAPI__DAG__DAG_TOPIC_ARN: 'arn:aws:sns:us-east-1:${ACCOUNT}:DataLake-${ENVIRONMENT}-DAGProcessor'
    CPTAPI__DAG__TASK_TOPIC_ARN: 'arn:aws:sns:us-east-1:${ACCOUNT}:DataLake-${ENVIRONMENT}-TaskProcessor'
    CPTAPI__DAG__DAG_EXECUTOR_CLASS: 'datalabs.etl.dag.execute.awslambda.LambdaDAGExecutorTask'
    CPTAPI__DAG__TASK_EXECUTOR_CLASS: 'datalabs.etl.dag.execute.awslambda.LambdaTaskExecutorTask'



    ##########################################################################
    # Task Variables - ({"DAG": {"S": "CPTAPI"}, "Task": {"S": "<Task ID>"}})
    ##########################################################################


    CPTAPI__CREATE_FILES_ZIP__CACHE_CLASS:  ${S3_CACHE_CLASS}
    CPTAPI__CREATE_FILES_ZIP__CACHE_BASE_PATH: ${S3_BASE_PATH}
    CPTAPI__CREATE_FILES_ZIP__CACHE_INPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
    CPTAPI__CREATE_FILES_ZIP__CACHE_INPUT_FILES: '*'
    CPTAPI__CREATE_FILES_ZIP__CACHE_INPUT_INCLUDE_NAMES: 'True'
    CPTAPI__CREATE_FILES_ZIP__CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    CPTAPI__CREATE_FILES_ZIP__CACHE_OUTPUT_FILES: 'files.zip'


    CPTAPI__CREATE_PDFS_ZIP__CACHE_CLASS:  ${S3_CACHE_CLASS}
    CPTAPI__CREATE_PDFS_ZIP__CACHE_BASE_PATH: ${S3_BASE_PATH}
    CPTAPI__CREATE_PDFS_ZIP__CACHE_INPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
    CPTAPI__CREATE_PDFS_ZIP__CACHE_INPUT_FILES: '*.pdf'
    CPTAPI__CREATE_PDFS_ZIP__CACHE_INPUT_INCLUDE_NAMES: 'True'
    CPTAPI__CREATE_PDFS_ZIP__CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    CPTAPI__CREATE_PDFS_ZIP__CACHE_OUTPUT_FILES: 'pdfs.zip'


    CPTAPI__CREATE_RELEASE_TYPES__CACHE_OUTPUT_CLASS: ${S3_CACHE_CLASS}
    CPTAPI__CREATE_RELEASE_TYPES__CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    CPTAPI__CREATE_RELEASE_TYPES__CACHE_OUTPUT_BASE_PATH: ${S3_BASE_PATH}
    CPTAPI__CREATE_RELEASE_TYPES__CACHE_OUTPUT_FILES: 'release_type.csv'


    CPTAPI__LOAD_RELEASE_TYPES__CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
    CPTAPI__LOAD_RELEASE_TYPES__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
    CPTAPI__LOAD_RELEASE_TYPES__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    CPTAPI__LOAD_RELEASE_TYPES__CACHE_INPUT_FILES: 'release_type.csv'

    CPTAPI__LOAD_RELEASE_TYPES__DATABASE_HOST: ${DATABASE_HOST}
    CPTAPI__LOAD_RELEASE_TYPES__DATABASE_PORT: ${DATABASE_PORT}
    CPTAPI__LOAD_RELEASE_TYPES__DATABASE_BACKEND: ${DATABASE_BACKEND}
    CPTAPI__LOAD_RELEASE_TYPES__DATABASE_NAME: ${DATABASE_NAME}
    CPTAPI__LOAD_RELEASE_TYPES__DATABASE_USERNAME: ${DATABASE_USERNAME}
    CPTAPI__LOAD_RELEASE_TYPES__DATABASE_PASSWORD: ${DATABASE_PASSWORD}
    CPTAPI__LOAD_RELEASE_TYPES__MODEL_CLASSES: 'datalabs.model.cpt.api.ReleaseType'


    CPTAPI__PARSE_TEXT_FILES__CACHE_CLASS: ${S3_CACHE_CLASS}
    CPTAPI__PARSE_TEXT_FILES__CACHE_BASE_PATH: ${S3_BASE_PATH}
    CPTAPI__PARSE_TEXT_FILES__CACHE_INPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
    CPTAPI__PARSE_TEXT_FILES__CACHE_INPUT_FILES: 'standard/SHORTU.txt,standard/MEDU.txt,standard/LONGULT.txt,standard/MODUL.txt,standard/Consumer Friendly Descriptors/ConsumerDescriptor.txt,standard/Clinician Descriptors/ClinicianDescriptor.txt,standard/Proprietary Laboratory Analyses (PLA) Codes/CPTPLA,CPT Link/history/Deleted_DTK_tab.txt,CPT Link/history/HistoryModifiers_DTK_tab.txt,CPT Link/history/History_DTK_tab.txt'

    CPTAPI__PARSE_TEXT_FILES__PARSERS: 'datalabs.curate.cpt.descriptor.ShortDescriptorParser,datalabs.curate.cpt.descriptor.MediumDescriptorParser,datalabs.curate.cpt.descriptor.LongDescriptorParser,datalabs.curate.cpt.modifier.ModifierParser,datalabs.curate.cpt.descriptor.ConsumerDescriptorParser,datalabs.curate.cpt.descriptor.ClinicianDescriptorParser,datalabs.curate.cpt.pla.PLAParser,datalabs.curate.cpt.link.history.DeletionHistoryParser,datalabs.curate.cpt.link.history.ModifierHistoryParser,datalabs.curate.cpt.link.history.CodeHistoryParser'

    CPTAPI__PARSE_TEXT_FILES__CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    CPTAPI__PARSE_TEXT_FILES__CACHE_OUTPUT_FILES: 'standard/SHORTU.csv,standard/MEDU.csv,standard/LONGULT.csv,standard/MODUL.csv,standard/Consumer Friendly Descriptors/ConsumerDescriptor.csv,standard/Clinician Descriptors/ClinicianDescriptor.csv,standard/Proprietary Laboratory Analyses (PLA) Codes/CPTPLA.csv,CPT Link/history/Deleted_DTK_tab.csv,CPT Link/history/HistoryModifiers_DTK_tab.csv,CPT Link/history/History_DTK_tab.csv'


    CPTAPI__CREATE_RELEASE_TABLE__CACHE_CLASS: ${S3_CACHE_CLASS}
    CPTAPI__CREATE_RELEASE_TABLE__CACHE_BASE_PATH: ${S3_BASE_PATH}
    CPTAPI__CREATE_RELEASE_TABLE__CACHE_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    CPTAPI__CREATE_RELEASE_TABLE__CACHE_INPUT_FILES: 'CPT Link/history/History_DTK_tab.csv,standard/Proprietary Laboratory Analyses (PLA) Codes/CPTPLA.csv,release_type.csv'
    CPTAPI__CREATE_RELEASE_TABLE__CACHE_OUTPUT_FILES: release.csv


    CPTAPI__CREATE_CODE_TABLE__CACHE_CLASS: ${S3_CACHE_CLASS}
    CPTAPI__CREATE_CODE_TABLE__CACHE_BASE_PATH: ${S3_BASE_PATH}
    CPTAPI__CREATE_CODE_TABLE__CACHE_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    CPTAPI__CREATE_CODE_TABLE__CACHE_INPUT_FILES: 'standard/SHORTU.csv,standard/Proprietary Laboratory Analyses (PLA) Codes/CPTPLA.csv'
    CPTAPI__CREATE_CODE_TABLE__CACHE_OUTPUT_FILES: 'code.csv'


    CPTAPI__CREATE_RELEASE_CODE_MAPPING_TABLE__CACHE_CLASS:  ${S3_CACHE_CLASS}
    CPTAPI__CREATE_RELEASE_CODE_MAPPING_TABLE__CACHE_BASE_PATH: ${S3_BASE_PATH}
    CPTAPI__CREATE_RELEASE_CODE_MAPPING_TABLE__CACHE_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    CPTAPI__CREATE_RELEASE_CODE_MAPPING_TABLE__CACHE_INPUT_FILES: 'release.csv,CPT Link/history/History_DTK_tab.csv,code.csv,standard/Proprietary Laboratory Analyses (PLA) Codes/CPTPLA.csv'
    CPTAPI__CREATE_RELEASE_CODE_MAPPING_TABLE__CACHE_OUTPUT_FILES: 'release_code_mapping.csv'


    CPTAPI__CREATE_SHORT_DESCRIPTOR_TABLE__CACHE_CLASS:  ${S3_CACHE_CLASS}
    CPTAPI__CREATE_SHORT_DESCRIPTOR_TABLE__CACHE_BASE_PATH: ${S3_BASE_PATH}
    CPTAPI__CREATE_SHORT_DESCRIPTOR_TABLE__CACHE_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    CPTAPI__CREATE_SHORT_DESCRIPTOR_TABLE__CACHE_INPUT_FILES: 'standard/SHORTU.csv,standard/Proprietary Laboratory Analyses (PLA) Codes/CPTPLA.csv'
    CPTAPI__CREATE_SHORT_DESCRIPTOR_TABLE__CACHE_OUTPUT_FILES: 'short_descriptor.csv'


    CPTAPI__CREATE_MEDIUM_DESCRIPTOR_TABLE__CACHE_CLASS:  ${S3_CACHE_CLASS}
    CPTAPI__CREATE_MEDIUM_DESCRIPTOR_TABLE__CACHE_BASE_PATH: ${S3_BASE_PATH}
    CPTAPI__CREATE_MEDIUM_DESCRIPTOR_TABLE__CACHE_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    CPTAPI__CREATE_MEDIUM_DESCRIPTOR_TABLE__CACHE_INPUT_FILES: 'standard/SHORTU.csv,standard/Proprietary Laboratory Analyses (PLA) Codes/CPTPLA.csv'
    CPTAPI__CREATE_MEDIUM_DESCRIPTOR_TABLE__CACHE_OUTPUT_FILES: 'medium_descriptor.csv'


    CPTAPI__CREATE_LONG_DESCRIPTOR_TABLE__CACHE_CLASS:  ${S3_CACHE_CLASS}
    CPTAPI__CREATE_LONG_DESCRIPTOR_TABLE__CACHE_BASE_PATH: ${S3_BASE_PATH}
    CPTAPI__CREATE_LONG_DESCRIPTOR_TABLE__CACHE_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    CPTAPI__CREATE_LONG_DESCRIPTOR_TABLE__CACHE_INPUT_FILES: 'standard/SHORTU.csv,standard/Proprietary Laboratory Analyses (PLA) Codes/CPTPLA.csv'
    CPTAPI__CREATE_LONG_DESCRIPTOR_TABLE__CACHE_OUTPUT_FILES: 'long_descriptor.csv'


    CPTAPI__CREATE_MODIFIER_TYPE_TABLE__CACHE_CLASS:  ${S3_CACHE_CLASS}
    CPTAPI__CREATE_MODIFIER_TYPE_TABLE__CACHE_BASE_PATH: ${S3_BASE_PATH}
    CPTAPI__CREATE_MODIFIER_TYPE_TABLE__CACHE_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    CPTAPI__CREATE_MODIFIER_TYPE_TABLE__CACHE_INPUT_FILES: 'standard/MODUL.csv'
    CPTAPI__CREATE_MODIFIER_TYPE_TABLE__CACHE_OUTPUT_FILES: 'modifier_type.csv'


    CPTAPI__CREATE_MODIFIER_TABLE__CACHE_CLASS:  ${S3_CACHE_CLASS}
    CPTAPI__CREATE_MODIFIER_TABLE__CACHE_BASE_PATH: ${S3_BASE_PATH}
    CPTAPI__CREATE_MODIFIER_TABLE__CACHE_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    CPTAPI__CREATE_MODIFIER_TABLE__CACHE_INPUT_FILES: 'standard/MODUL.csv'
    CPTAPI__CREATE_MODIFIER_TABLE__CACHE_OUTPUT_FILES: 'modifier.csv'


    CPTAPI__CREATE_CONSUMER_DESCRIPTOR_TABLE__CACHE_CLASS:  ${S3_CACHE_CLASS}
    CPTAPI__CREATE_CONSUMER_DESCRIPTOR_TABLE__CACHE_BASE_PATH: ${S3_BASE_PATH}
    CPTAPI__CREATE_CONSUMER_DESCRIPTOR_TABLE__CACHE_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    CPTAPI__CREATE_CONSUMER_DESCRIPTOR_TABLE__CACHE_INPUT_FILES: 'code.csv,standard/Consumer Friendly Descriptors/ConsumerDescriptor.csv'
    CPTAPI__CREATE_CONSUMER_DESCRIPTOR_TABLE__CACHE_OUTPUT_FILES: 'consumer_descriptors.csv'


    CPTAPI__CREATE_CLINICIAN_DESCRIPTOR_TABLE__CACHE_CLASS:  ${S3_CACHE_CLASS}
    CPTAPI__CREATE_CLINICIAN_DESCRIPTOR_TABLE__CACHE_BASE_PATH: ${S3_BASE_PATH}
    CPTAPI__CREATE_CLINICIAN_DESCRIPTOR_TABLE__CACHE_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    CPTAPI__CREATE_CLINICIAN_DESCRIPTOR_TABLE__CACHE_INPUT_FILES: 'standard/Clinician Descriptors/ClinicianDescriptor.csv'
    CPTAPI__CREATE_CLINICIAN_DESCRIPTOR_TABLE__CACHE_OUTPUT_FILES: 'clinician_descriptor.csv'


    CPTAPI__CREATE_CLINICIAN_DESCRIPTOR_CODE_MAPPING_TABLE__CACHE_CLASS:  ${S3_CACHE_CLASS}
    CPTAPI__CREATE_CLINICIAN_DESCRIPTOR_CODE_MAPPING_TABLE__CACHE_BASE_PATH: ${S3_BASE_PATH}
    CPTAPI__CREATE_CLINICIAN_DESCRIPTOR_CODE_MAPPING_TABLE__CACHE_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    CPTAPI__CREATE_CLINICIAN_DESCRIPTOR_CODE_MAPPING_TABLE__CACHE_INPUT_FILES: 'code.csv,standard/Clinician Descriptors/ClinicianDescriptor.csv'
    CPTAPI__CREATE_CLINICIAN_DESCRIPTOR_CODE_MAPPING_TABLE__CACHE_OUTPUT_FILES: 'clinician_descriptor_code_mapping.csv'


    CPTAPI__CREATE_PLA_DETAILS_TABLE__CACHE_CLASS:  ${S3_CACHE_CLASS}
    CPTAPI__CREATE_PLA_DETAILS_TABLE__CACHE_BASE_PATH: ${S3_BASE_PATH}
    CPTAPI__CREATE_PLA_DETAILS_TABLE__CACHE_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    CPTAPI__CREATE_PLA_DETAILS_TABLE__CACHE_INPUT_FILES: 'standard/Proprietary Laboratory Analyses (PLA) Codes/CPTPLA.csv'
    CPTAPI__CREATE_PLA_DETAILS_TABLE__CACHE_OUTPUT_FILES: 'pla_details.csv'


    CPTAPI__CREATE_MANUFACTURER_TABLE__CACHE_CLASS:  ${S3_CACHE_CLASS}
    CPTAPI__CREATE_MANUFACTURER_TABLE__CACHE_BASE_PATH: ${S3_BASE_PATH}
    CPTAPI__CREATE_MANUFACTURER_TABLE__CACHE_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    CPTAPI__CREATE_MANUFACTURER_TABLE__CACHE_INPUT_FILES: 'standard/Proprietary Laboratory Analyses (PLA) Codes/CPTPLA.csv'
    CPTAPI__CREATE_MANUFACTURER_TABLE__CACHE_OUTPUT_FILES: 'manufacturer.csv'


    CPTAPI__CREATE_MANUFACTURER_CODE_MAPPING_TABLE__CACHE_CLASS:  ${S3_CACHE_CLASS}
    CPTAPI__CREATE_MANUFACTURER_CODE_MAPPING_TABLE__CACHE_BASE_PATH: ${S3_BASE_PATH}
    CPTAPI__CREATE_MANUFACTURER_CODE_MAPPING_TABLE__CACHE_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    CPTAPI__CREATE_MANUFACTURER_CODE_MAPPING_TABLE__CACHE_INPUT_FILES: 'standard/Proprietary Laboratory Analyses (PLA) Codes/CPTPLA.csv'
    CPTAPI__CREATE_MANUFACTURER_CODE_MAPPING_TABLE__CACHE_OUTPUT_FILES: 'manufacturer_code_mapping.csv'


    CPTAPI__CREATE_LAB_TABLE__CACHE_CLASS:  ${S3_CACHE_CLASS}
    CPTAPI__CREATE_LAB_TABLE__CACHE_BASE_PATH: ${S3_BASE_PATH}
    CPTAPI__CREATE_LAB_TABLE__CACHE_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    CPTAPI__CREATE_LAB_TABLE__CACHE_INPUT_FILES: 'standard/Proprietary Laboratory Analyses (PLA) Codes/CPTPLA.csv'
    CPTAPI__CREATE_LAB_TABLE__CACHE_OUTPUT_FILES: 'lab.csv'


    CPTAPI__CREATE_LAB_CODE_MAPPING_TABLE__CACHE_CLASS:  ${S3_CACHE_CLASS}
    CPTAPI__CREATE_LAB_CODE_MAPPING_TABLE__CACHE_BASE_PATH: ${S3_BASE_PATH}
    CPTAPI__CREATE_LAB_CODE_MAPPING_TABLE__CACHE_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    CPTAPI__CREATE_LAB_CODE_MAPPING_TABLE__CACHE_INPUT_FILES: 'standard/Proprietary Laboratory Analyses (PLA) Codes/CPTPLA.csv'
    CPTAPI__CREATE_LAB_CODE_MAPPING_TABLE__CACHE_OUTPUT_FILES: 'lab_code_mapping.csv'


    CPTAPI__LOAD_RELEASE_TABLE__CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
    CPTAPI__LOAD_RELEASE_TABLE__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    CPTAPI__LOAD_RELEASE_TABLE__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
    CPTAPI__LOAD_RELEASE_TABLE__CACHE_INPUT_FILES: 'release.csv'

    CPTAPI__LOAD_RELEASE_TABLE__MODEL_CLASSES: 'datalabs.model.cpt.api.Release'
    CPTAPI__LOAD_RELEASE_TABLE__DATABASE_HOST: ${DATABASE_HOST}
    CPTAPI__LOAD_RELEASE_TABLE__DATABASE_PORT: ${DATABASE_PORT}
    CPTAPI__LOAD_RELEASE_TABLE__DATABASE_BACKEND: ${DATABASE_BACKEND}
    CPTAPI__LOAD_RELEASE_TABLE__DATABASE_NAME: ${DATABASE_NAME}
    CPTAPI__LOAD_RELEASE_TABLE__DATABASE_USERNAME: ${DATABASE_USERNAME}
    CPTAPI__LOAD_RELEASE_TABLE__DATABASE_PASSWORD: ${DATABASE_PASSWORD}


    CPTAPI__LOAD_CODE_TABLE__CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
    CPTAPI__LOAD_CODE_TABLE__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    CPTAPI__LOAD_CODE_TABLE__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
    CPTAPI__LOAD_CODE_TABLE__CACHE_INPUT_FILES: 'code.csv'

    CPTAPI__LOAD_CODE_TABLE__MODEL_CLASSES: 'datalabs.model.cpt.api.Code'
    CPTAPI__LOAD_CODE_TABLE__DATABASE_HOST: ${DATABASE_HOST}
    CPTAPI__LOAD_CODE_TABLE__DATABASE_PORT: ${DATABASE_PORT}
    CPTAPI__LOAD_CODE_TABLE__DATABASE_BACKEND: ${DATABASE_BACKEND}
    CPTAPI__LOAD_CODE_TABLE__DATABASE_NAME: ${DATABASE_NAME}
    CPTAPI__LOAD_CODE_TABLE__DATABASE_USERNAME: ${DATABASE_USERNAME}
    CPTAPI__LOAD_CODE_TABLE__DATABASE_PASSWORD: ${DATABASE_PASSWORD}
    CPTAPI__LOAD_CODE_TABLE__IGNORE_COLUMNS: 'modified_date'
    CPTAPI__LOAD_CODE_TABLE__SOFT_DELETE_COLUMN: deleted


    CPTAPI__LOAD_RELEASE_CODE_MAPPING_TABLE__CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
    CPTAPI__LOAD_RELEASE_CODE_MAPPING_TABLE__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    CPTAPI__LOAD_RELEASE_CODE_MAPPING_TABLE__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
    CPTAPI__LOAD_RELEASE_CODE_MAPPING_TABLE__CACHE_INPUT_FILES: 'release_code_mapping.csv'

    CPTAPI__LOAD_RELEASE_CODE_MAPPING_TABLE__MODEL_CLASSES: 'datalabs.model.cpt.api.ReleaseCodeMapping'
    CPTAPI__LOAD_RELEASE_CODE_MAPPING_TABLE__DATABASE_HOST: ${DATABASE_HOST}
    CPTAPI__LOAD_RELEASE_CODE_MAPPING_TABLE__DATABASE_PORT: ${DATABASE_PORT}
    CPTAPI__LOAD_RELEASE_CODE_MAPPING_TABLE__DATABASE_BACKEND: ${DATABASE_BACKEND}
    CPTAPI__LOAD_RELEASE_CODE_MAPPING_TABLE__DATABASE_NAME: ${DATABASE_NAME}
    CPTAPI__LOAD_RELEASE_CODE_MAPPING_TABLE__DATABASE_USERNAME: ${DATABASE_USERNAME}
    CPTAPI__LOAD_RELEASE_CODE_MAPPING_TABLE__DATABASE_PASSWORD: ${DATABASE_PASSWORD}


    CPTAPI__LOAD_MODIFIER_TYPE_TABLE__CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
    CPTAPI__LOAD_MODIFIER_TYPE_TABLE__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    CPTAPI__LOAD_MODIFIER_TYPE_TABLE__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
    CPTAPI__LOAD_MODIFIER_TYPE_TABLE__CACHE_INPUT_FILES: 'modifier_type.csv'

    CPTAPI__LOAD_MODIFIER_TYPE_TABLE__MODEL_CLASSES: 'datalabs.model.cpt.api.ModifierType'
    CPTAPI__LOAD_MODIFIER_TYPE_TABLE__DATABASE_HOST: ${DATABASE_HOST}
    CPTAPI__LOAD_MODIFIER_TYPE_TABLE__DATABASE_PORT: ${DATABASE_PORT}
    CPTAPI__LOAD_MODIFIER_TYPE_TABLE__DATABASE_BACKEND: ${DATABASE_BACKEND}
    CPTAPI__LOAD_MODIFIER_TYPE_TABLE__DATABASE_NAME: ${DATABASE_NAME}
    CPTAPI__LOAD_MODIFIER_TYPE_TABLE__DATABASE_USERNAME: ${DATABASE_USERNAME}
    CPTAPI__LOAD_MODIFIER_TYPE_TABLE__DATABASE_PASSWORD: ${DATABASE_PASSWORD}


    CPTAPI__LOAD_CLINICIAN_DESCRIPTOR_TABLE__CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
    CPTAPI__LOAD_CLINICIAN_DESCRIPTOR_TABLE__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    CPTAPI__LOAD_CLINICIAN_DESCRIPTOR_TABLE__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
    CPTAPI__LOAD_CLINICIAN_DESCRIPTOR_TABLE__CACHE_INPUT_FILES: 'clinician_descriptor.csv'

    CPTAPI__LOAD_CLINICIAN_DESCRIPTOR_TABLE__MODEL_CLASSES: 'datalabs.model.cpt.api.ClinicianDescriptor'
    CPTAPI__LOAD_CLINICIAN_DESCRIPTOR_TABLE__DATABASE_HOST: ${DATABASE_HOST}
    CPTAPI__LOAD_CLINICIAN_DESCRIPTOR_TABLE__DATABASE_PORT: ${DATABASE_PORT}
    CPTAPI__LOAD_CLINICIAN_DESCRIPTOR_TABLE__DATABASE_BACKEND: ${DATABASE_BACKEND}
    CPTAPI__LOAD_CLINICIAN_DESCRIPTOR_TABLE__DATABASE_NAME: ${DATABASE_NAME}
    CPTAPI__LOAD_CLINICIAN_DESCRIPTOR_TABLE__DATABASE_USERNAME: ${DATABASE_USERNAME}
    CPTAPI__LOAD_CLINICIAN_DESCRIPTOR_TABLE__DATABASE_PASSWORD: ${DATABASE_PASSWORD}
    CPTAPI__LOAD_CLINICIAN_DESCRIPTOR_TABLE__IGNORE_COLUMNS: 'modified_date'
    CPTAPI__LOAD_CLINICIAN_DESCRIPTOR_TABLE__SOFT_DELETE_COLUMN: deleted


    CPTAPI__LOAD_DESCRIPTOR_TABLES__CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
    CPTAPI__LOAD_DESCRIPTOR_TABLES__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    CPTAPI__LOAD_DESCRIPTOR_TABLES__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
    CPTAPI__LOAD_DESCRIPTOR_TABLES__CACHE_INPUT_FILES: 'short_descriptor.csv,medium_descriptor.csv,long_descriptor.csv,consumer_descriptor.csv,clinician_descriptor_code_mapping.csv,modifier.csv'

    CPTAPI__LOAD_DESCRIPTOR_TABLES__MODEL_CLASSES: 'datalabs.model.cpt.api.ShortDescriptor,datalabs.model.cpt.api.MediumDescriptor,datalabs.model.cpt.api.LongDescriptor,datalabs.model.cpt.api.ConsumerDescriptor,datalabs.model.cpt.api.ClinicianDescriptorCodeMapping,datalabs.model.cpt.api.Modifier'
    CPTAPI__LOAD_DESCRIPTOR_TABLES__DATABASE_HOST: ${DATABASE_HOST}
    CPTAPI__LOAD_DESCRIPTOR_TABLES__DATABASE_PORT: ${DATABASE_PORT}
    CPTAPI__LOAD_DESCRIPTOR_TABLES__DATABASE_BACKEND: ${DATABASE_BACKEND}
    CPTAPI__LOAD_DESCRIPTOR_TABLES__DATABASE_NAME: ${DATABASE_NAME}
    CPTAPI__LOAD_DESCRIPTOR_TABLES__DATABASE_USERNAME: ${DATABASE_USERNAME}
    CPTAPI__LOAD_DESCRIPTOR_TABLES__DATABASE_PASSWORD: ${DATABASE_PASSWORD}
    CPTAPI__LOAD_DESCRIPTOR_TABLES__IGNORE_COLUMNS: 'modified_date'
    CPTAPI__LOAD_DESCRIPTOR_TABLES__SOFT_DELETE_COLUMN: deleted


    CPTAPI__LOAD_MANUFACTURER_TABLE__CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
    CPTAPI__LOAD_MANUFACTURER_TABLE__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    CPTAPI__LOAD_MANUFACTURER_TABLE__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
    CPTAPI__LOAD_MANUFACTURER_TABLE__CACHE_INPUT_FILES: 'manufacturer.csv'

    CPTAPI__LOAD_MANUFACTURER_TABLE__MODEL_CLASSES: 'datalabs.model.cpt.api.Manufacturer'
    CPTAPI__LOAD_MANUFACTURER_TABLE__DATABASE_HOST: ${DATABASE_HOST}
    CPTAPI__LOAD_MANUFACTURER_TABLE__DATABASE_PORT: ${DATABASE_PORT}
    CPTAPI__LOAD_MANUFACTURER_TABLE__DATABASE_BACKEND: ${DATABASE_BACKEND}
    CPTAPI__LOAD_MANUFACTURER_TABLE__DATABASE_NAME: ${DATABASE_NAME}
    CPTAPI__LOAD_MANUFACTURER_TABLE__DATABASE_USERNAME: ${DATABASE_USERNAME}
    CPTAPI__LOAD_MANUFACTURER_TABLE__DATABASE_PASSWORD: ${DATABASE_PASSWORD}
    CPTAPI__LOAD_MANUFACTURER_TABLE__IGNORE_COLUMNS: 'modified_date'
    CPTAPI__LOAD_MANUFACTURER_TABLE__SOFT_DELETE_COLUMN: deleted


    CPTAPI__LOAD_LAB_TABLE__CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
    CPTAPI__LOAD_LAB_TABLE__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    CPTAPI__LOAD_LAB_TABLE__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
    CPTAPI__LOAD_LAB_TABLE__CACHE_INPUT_FILES: 'lab.csv'

    CPTAPI__LOAD_LAB_TABLE__MODEL_CLASSES: 'datalabs.model.cpt.api.Lab'
    CPTAPI__LOAD_LAB_TABLE__DATABASE_HOST: ${DATABASE_HOST}
    CPTAPI__LOAD_LAB_TABLE__DATABASE_PORT: ${DATABASE_PORT}
    CPTAPI__LOAD_LAB_TABLE__DATABASE_BACKEND: ${DATABASE_BACKEND}
    CPTAPI__LOAD_LAB_TABLE__DATABASE_NAME: ${DATABASE_NAME}
    CPTAPI__LOAD_LAB_TABLE__DATABASE_USERNAME: ${DATABASE_USERNAME}
    CPTAPI__LOAD_LAB_TABLE__DATABASE_PASSWORD: ${DATABASE_PASSWORD}
    CPTAPI__LOAD_LAB_TABLE__IGNORE_COLUMNS: 'modified_date'
    CPTAPI__LOAD_LAB_TABLE__SOFT_DELETE_COLUMN: deleted


    CPTAPI__LOAD_PLA_TABLE__CACHE_INPUT_CLASS: ${S3_CACHE_CLASS}
    CPTAPI__LOAD_PLA_TABLE__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    CPTAPI__LOAD_PLA_TABLE__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
    CPTAPI__LOAD_PLA_TABLE__CACHE_INPUT_FILES: 'pla.csv,manufacturer_code_mapping.csv,lab_code_mapping.csv'

    CPTAPI__LOAD_PLA_TABLE__MODEL_CLASSES: 'datalabs.model.cpt.api.PLADetails,datalabs.model.cpt.api.ManufacturerPLACodeMapping,datalabs.model.cpt.api.LabPLACodeMapping'
    CPTAPI__LOAD_PLA_TABLE__DATABASE_HOST: ${DATABASE_HOST}
    CPTAPI__LOAD_PLA_TABLE__DATABASE_PORT: ${DATABASE_PORT}
    CPTAPI__LOAD_PLA_TABLE__DATABASE_BACKEND: ${DATABASE_BACKEND}
    CPTAPI__LOAD_PLA_TABLE__DATABASE_NAME: ${DATABASE_NAME}
    CPTAPI__LOAD_PLA_TABLE__DATABASE_USERNAME: ${DATABASE_USERNAME}
    CPTAPI__LOAD_PLA_TABLE__DATABASE_PASSWORD: ${DATABASE_PASSWORD}
    CPTAPI__LOAD_PLA_TABLE__IGNORE_COLUMNS: 'modified_date'
    CPTAPI__LOAD_PLA_TABLE__SOFT_DELETE_COLUMN: deleted
