data:
  #######################################################################
  # Global Variables - {"DAG": {"S": "CPTLINK"}, "Task": {"S": "GLOBAL"}}
  #######################################################################

  ENVIRONMENT: sbx
  ACCOUNT: '644454719059'

  S3_INGESTED_DATA_BUCKET: ama-${ENVIRONMENT}-datalake-ingest-us-east-1
  S3_PROCESSED_DATA_BUCKET: ama-${ENVIRONMENT}-datalake-process-us-east-1

  S3_CACHE_CLASS: 'datalabs.etl.dag.cache.s3.S3TaskDataCache'
  S3_BASE_PATH: 'AMA/CPT/LINK'


  #######################################################################
  # DAG Variables - ({"DAG": {"S": "CPTLINK"}, "Task": {"S": "DAG"}})
  #######################################################################

  CPTLINK__DAG__LAMBDA_FUNCTION: ''
  CPTLINK__DAG__DAG_CLASS: ''
  CPTLINK__DAG__DAG_STATE_CLASS: 'datalabs.etl.dag.state.dynamodb.DAGState'
  CPTLINK__DAG__DAG_STATE_TABLE: 'DataLake-dag-state-${ENVIRONMENT}'
  CPTLINK__DAG__STATE_LOCK_TABLE: 'DataLake-scheduler-locks-${ENVIRONMENT}'
  CPTLINK__DAG__DAG_TOPIC_ARN: 'arn:aws:sns:us-east-1:${ACCOUNT}:DataLake-${ENVIRONMENT}-DAGProcessor'
  CPTLINK__DAG__TASK_TOPIC_ARN: 'arn:aws:sns:us-east-1:${ACCOUNT}:DataLake-${ENVIRONMENT}-TaskProcessor'
  CPTLINK__DAG__DAG_EXECUTOR_CLASS: 'datalabs.etl.dag.execute.awslambda.LambdaDAGExecutorTask'
  CPTLINK__DAG__TASK_EXECUTOR_CLASS: 'datalabs.etl.dag.execute.awslambda.LambdaTaskExecutorTask'



  ##########################################################################
  # Task Variables - ({"DAG": {"S": "CPTLINK"}, "Task": {"S": "<Task ID>"}})
  ##########################################################################


  CPTLINK__BUILD_CORE__OUTPUT_DIRECTORY:  'target/buildcore_export2022_from2021u05'
  CPTLINK__BUILD_CORE__PRIOR_DTK_VERSION:  '2021u05'
  CPTLINK__BUILD_CORE__CURRENT_DTK_VERSION:  '2021core'
  CPTLINK__BUILD_CORE__RELEASE_DATE:  '20220101'

  CPTLINK__BUILD_CORE__CACHE_OUTPUT_CLASS:  ${S3_CACHE_CLASS}
  CPTLINK__BUILD_CORE__CACHE_OUTPUT_BASE_PATH: ${S3_BASE_PATH}
  CPTLINK__BUILD_CORE__CACHE_OUTPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
  CPTLINK__BUILD_CORE__CACHE_OUTPUT_FILES: ''
