data:
    #######################################################################
    # Global Variables - {"DAG": {"S": "CPTFilesIngesterDAG"}, "Task": {"S": "GLOBAL"}}
    #######################################################################

    ENVIRONMENT: sbx
    ACCOUNT: '644454719059'

    S3_DOWNLOADS_BUCKET: ama-${ENVIRONMENT}-cpt-downloads-us-east-1
    S3_INGESTED_DATA_BUCKET: ama-${ENVIRONMENT}-datalake-ingest-us-east-1
    S3_PROCESSED_DATA_BUCKET: ama-${ENVIRONMENT}-datalake-process-us-east-1
    S3_CACHE_CLASS: 'datalabs.etl.dag.cache.s3.S3TaskDataCache'
    S3_BASE_PATH: 'AMA/CPT'

    #######################################################################
    # DAG Variables - ({"DAG": {"S": "CPT_FILES_INGESTER"}, "Task": {"S": "DAG"}})    
    #######################################################################

    CPT_FILES_INGESTER__DAG__LAMBDA_FUNCTION: 'CPT-API-${ENVIRONMENT}-IngesterDAG'
    CPT_FILES_INGESTER__DAG__DAG_CLASS: 'datalabs.etl.dag.cpt.files.ingest.CPTFilesIngesterDAG'
    CPT_FILES_INGESTER__DAG__DAG_STATE_CLASS: 'datalabs.etl.dag.state.dynamodb.DAGState'
    CPT_FILES_INGESTER__DAG__DAG_STATE_TABLE: 'DataLake-dag-state-${ENVIRONMENT}'
    CPT_FILES_INGESTER__DAG__STATE_LOCK_TABLE: 'DataLake-scheduler-locks-${ENVIRONMENT}'
    CPT_FILES_INGESTER__DAG__DAG_TOPIC_ARN: 'arn:aws:sns:us-east-1:${ACCOUNT}:DataLake-${ENVIRONMENT}-DAGProcessor'
    CPT_FILES_INGESTER__DAG__TASK_TOPIC_ARN: 'arn:aws:sns:us-east-1:${ACCOUNT}:DataLake-${ENVIRONMENT}-TaskProcessor'
    CPT_FILES_INGESTER__DAG__DAG_EXECUTOR_CLASS: 'datalabs.etl.dag.execute.awslambda.LambdaDAGExecutorTask'
    CPT_FILES_INGESTER__DAG__TASK_EXECUTOR_CLASS: 'datalabs.etl.dag.execute.awslambda.LambdaTaskExecutorTask'

    #######################################################################
    # Task Variables - ({"DAG": {"S": "CPT_FILES_INGESTER"}, "Task": {"S": "<Task ID>"}})
    ##########################################################################

    # Extract Link Archive
    CPT_FILES_INGESTER__EXTRACT_LINK_ARCHIVE__BUCKET: ${S3_INGESTED_DATA_BUCKET}
    CPT_FILES_INGESTER__EXTRACT_LINK_ARCHIVE__BASE_PATH: ${S3_BASE_PATH} 
    CPT_FILES_INGESTER__EXTRACT_LINK_ARCHIVE__FILES: 'CPT Link/*'
    CPT_FILES_INGESTER__EXTRACT_LINK_ARCHIVE__INCLUDE_DATESTAMP: 'False'

    CPT_FILES_INGESTER__EXTRACT_LINK_ARCHIVE__CACHE_OUTPUT_CLASS: '${S3_CACHE_CLASS}'
    CPT_FILES_INGESTER__EXTRACT_LINK_ARCHIVE__CACHE_OUTPUT_BUCKET: ${S3_DOWNLOADS_BUCKET}
    CPT_FILES_INGESTER__EXTRACT_LINK_ARCHIVE__CACHE_OUTPUT_BASE_PATH: ''
    CPT_FILES_INGESTER__EXTRACT_LINK_ARCHIVE__CACHE_OUTPUT_FILES: 'cptlink.zip'

    # Load Link Archive
    CPT_FILES_INGESTER__LOAD_LINK_ARCHIVE__CACHE_INPUT_CLASS: '${S3_CACHE_CLASS}'
    CPT_FILES_INGESTER__LOAD_LINK_ARCHIVE__CACHE_INPUT_BUCKET: ${S3_DOWNLOADS_BUCKET}
    CPT_FILES_INGESTER__LOAD_LINK_ARCHIVE__CACHE_INPUT_BASE_PATH: ''
    CPT_FILES_INGESTER__LOAD_LINK_ARCHIVE__CACHE_INPUT_FILES: 'cptlink.zip'

    CPT_FILES_INGESTER__LOAD_LINK_ARCHIVE__CACHE_OUTPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
    CPT_FILES_INGESTER__LOAD_LINK_ARCHIVE__CACHE_OUTPUT_BASE_PATH: ${S3_BASE_PATH}
    CPT_FILES_INGESTER__LOAD_LINK_ARCHIVE__CACHE_OUTPUT_FILES: 'CPT Link/cptlink.zip'

    # Watermark DAG scheduler
    CPT_FILES_INGESTER__SCHEDULE_WATERMARK_DAG__CACHE_INPUT_CLASS: '${S3_CACHE_CLASS}'
    CPT_FILES_INGESTER__SCHEDULE_WATERMARK_DAG__CACHE_INPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
    CPT_FILES_INGESTER__SCHEDULE_WATERMARK_DAG__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
    CPT_FILES_INGESTER__SCHEDULE_WATERMARK_DAG__CACHE_INPUT_FILES: 'CPT Link/cptlink.zip'

    CPT_FILES_INGESTER__SCHEDULE_WATERMARK_DAG__CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    CPT_FILES_INGESTER__SCHEDULE_WATERMARK_DAG__CACHE_OUTPUT_BASE_PATH: ${S3_BASE_PATH}
    CPT_FILES_INGESTER__SCHEDULE_WATERMARK_DAG__CACHE_OUTPUT_FILES: 'CPT Link/cptlink.zip'

    # DAG Trigger Watermark
    CPT_FILES_INGESTER__TRIGGER_WATERMARK_DAG__CACHE_INPUT_CLASS: '${S3_CACHE_CLASS}'
    CPT_FILES_INGESTER__TRIGGER_WATERMARK_DAG__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    CPT_FILES_INGESTER__TRIGGER_WATERMARK_DAG__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
    CPT_FILES_INGESTER__TRIGGER_WATERMARK_DAG__CACHE_INPUT_FILES: 'CPT Link/cptlink.zip'
    CPT_FILES_INGESTER__TRIGGER_WATERMARK_DAG__TOPIC_ARN: 'arn:aws:sns:us-east-1:${ACCOUNT}:DataLake-${ENVIRONMENT}-DAGProcessor'

    # API DAG scheduler
    CPT_FILES_INGESTER__SCHEDULE_API_DAG__CACHE_INPUT_CLASS: '${S3_CACHE_CLASS}'
    CPT_FILES_INGESTER__SCHEDULE_API_DAG__CACHE_INPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
    CPT_FILES_INGESTER__SCHEDULE_API_DAG__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
    CPT_FILES_INGESTER__SCHEDULE_API_DAG__CACHE_INPUT_FILES: 'CPT Link/cptlink.zip'

    CPT_FILES_INGESTER__SCHEDULE_API_DAG__CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    CPT_FILES_INGESTER__SCHEDULE_API_DAG__CACHE_OUTPUT_BASE_PATH: ${S3_BASE_PATH}
    CPT_FILES_INGESTER__SCHEDULE_API_DAG__CACHE_OUTPUT_FILES: 'CPT Link/cptlink.zip'

    # DAG Trigger API
    CPT_FILES_INGESTER__TRIGGER_API_DAG__CACHE_INPUT_CLASS: '${S3_CACHE_CLASS}'
    CPT_FILES_INGESTER__TRIGGER_API_DAG__CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
    CPT_FILES_INGESTER__TRIGGER_API_DAG__CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
    CPT_FILES_INGESTER__TRIGGER_API_DAG__CACHE_INPUT_FILES: 'CPT Link/cptlink.zip'
    CPT_FILES_INGESTER__TRIGGER_API_DAG__TOPIC_ARN: 'arn:aws:sns:us-east-1:${ACCOUNT}:DataLake-${ENVIRONMENT}-DAGProcessor'

