---
CPT_KNOWLEDGE_BASE_API:
    GLOBAL:
        ENVIRONMENT: sbx
        ACCOUNT: '191296302136'

        OPENSEARCH_INDEX_HOST: 'kquktp4hylgmwxg0e53e.us-east-1.aoss.amazonaws.com'
        OPENSEARCH_INDEX_NAME: 'knowledge_base'

    ROUTE:
        ARTICLES_SUMMARY: '/knowledge_base/articles/summary'
        ARTICLE: '/knowledge_base/article/*'
        DEFAULT: '/knowledge_base/*'

    ARTICLES_SUMMARY:
        TASK_CLASS: 'datalabs.access.cpt.api.knowledge_base.MapSearchEndpointTask'
        INDEX_HOST:  ${OPENSEARCH_INDEX_HOST}
        INDEX_NAME:  ${OPENSEARCH_INDEX_NAME}

    ARTICLE:
        TASK_CLASS: 'datalabs.access.cpt.api.knowledge_base.GetArticleEndpointTask'
        INDEX_HOST:  ${OPENSEARCH_INDEX_HOST}
        INDEX_NAME:  ${OPENSEARCH_INDEX_NAME}

    DEFAULT:
        TASK_CLASS: 'datalabs.access.cpt.api.default.DefaultEndpointTask'
