---
KNOWLEDGE_BASE_API:
    GLOBAL:
        ENVIRONMENT: sbx
        ACCOUNT: '191296302136'
        DATABASE_TABLE: 'CPT-API-knowledge-base-${ENVIRONMENT}'

        OPENSEARCH_URL: 'https://kquktp4hylgmwxg0e53e.us-east-1.aoss.amazonaws.com'

    ROUTE:
        ARTICLES_SUMMARY: '/articles/summary'
        ARTICLE: '/article/*'
        DEFAULT: '/*'

    ARTICLES_SUMMARY:
        TASK_CLASS: 'datalabs.access.cpt.api.knowledge_base.MapSearchEndpointTask'
        COLLECTION_URL:  ${OPENSEARCH_URL}
        INDEX_NAME: 'knowledge_base'

    ARTICLE:
        TASK_CLASS: 'datalabs.access.cpt.api.knowledge_base.MapSearchEndpointTask'

    DEFAULT:
        TASK_CLASS:  'datalabs.access.cpt.api.default.DefaultEndpointTask'
