---
CPT_VIGNETTES_API:
    GLOBAL:
        ENVIRONMENT: sbx
        ACCOUNT: '644454719059'

        DATABASE_TABLE: 'CPT-API-vignettes-${ENVIRONMENT}'

    ROUTE:
        VIGNETTES: '/vignettes/vignettes/*'
        DEFAULT: '/*'

    VIGNETTES:
        TASK_CLASS: 'datalabs.access.cpt.api.vignettes.VignetteLookupEndpointTask'
        DATABASE_TABLE:  ${DATABASE_TABLE}
    
    DEFAULT:
        TASK_CLASS:  'datalabs.access.cpt.api.default.DefaultEndpointTask'