---
VERICRE_PROFILES:
    GLOBAL:
        ENVIRONMENT: dev
        ACCOUNT: '191296302136'

        CAQH_USERNAME: DeepakA123
        CAQH_PASSWORD: '{{caqh_password}}'

        EFT_PASSWORD: '{{eft_password}}'

        S3_INGESTED_DATA_BUCKET: ama-${ENVIRONMENT}-datalake-ingest-us-east-1
        S3_PROCESSED_DATA_BUCKET: ama-${ENVIRONMENT}-datalake-process-us-east-1
        S3_STAGED_DATA_BUCKET: ama-${ENVIRONMENT}-datalake-staged-us-east-1

        S3_CACHE_PYTHON_CLASS: 'datalabs.etl.dag.cache.s3.S3TaskDataCache'
        S3_BASE_PATH: 'AMA/VeriCre/Profiles'

    DAG:
        LAMBDA_FUNCTION: 'VeriCre-${ENVIRONMENT}-ETL'
        DAG_CLASS: 'datalabs.etl.dag.vericre.profile.DAG'
        DAG_STATE_PARAMETERS:
            DAG_STATE_CLASS: 'datalabs.etl.dag.state.dynamodb.DAGState'
            DAG_STATE_TABLE: 'DataLake-dag-state-${ENVIRONMENT}'
            STATE_LOCK_TABLE: 'DataLake-scheduler-locks-${ENVIRONMENT}'
        DAG_TOPIC_ARN: 'arn:aws:sns:us-east-1:${ACCOUNT}:DataLake-${ENVIRONMENT}-DAGProcessor'
        TASK_TOPIC_ARN: 'arn:aws:sns:us-east-1:${ACCOUNT}:DataLake-${ENVIRONMENT}-TaskProcessor'
        DAG_EXECUTOR_CLASS: 'datalabs.etl.dag.execute.awslambda.LambdaDAGExecutorTask'
        TASK_EXECUTOR_CLASS: 'datalabs.etl.dag.execute.awslambda.LambdaTaskExecutorTask'

    EXTRACT_AMA_PHYSICIAN_PROFILES:
        CACHE_CLASS: ${S3_CACHE_PYTHON_CLASS}
        CACHE_BASE_PATH: ${S3_BASE_PATH}

        USERNAME: datalabs
        PASSWORD: ${EFT_PASSWORD}

        CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_OUTPUT_FILES: 'ABMS_DATA.csv,DEA_DATA.csv,DEMOG_DATA.csv,LICENSE_DATA.csv,MED_SCH_DATA.csv,MED_TRAIN_DATA.csv,NPI_DATA.csv,SANCTIONS_DATA.csv'
 
    #CREATE_AMA_PROFILE_TABLE:
        #CACHE_CLASS: ${S3_CACHE_PYTHON_CLASS}
        #CACHE_BASE_PATH: ${S3_BASE_PATH}

        #CACHE_INPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
        #CACHE_INPUT_FILES: 'ABMS_DATA.csv,DEA_DATA.csv,DEMOG_DATA.csv,LICENSE_DATA.csv,MED_SCH_DATA.csv,MED_TRAIN_DATA.csv,NPI_DATA.csv,SANCTIONS_DATA.csv'

        #CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        #CACHE_OUTPUT_FILES: 'ama_masterfile.json'
 
    
    #SYNC_PROFILES_TO_DATABASE:
        #CACHE_CLASS: ${S3_CACHE_PYTHON_CLASS}
        #CACHE_BASE_PATH: ${S3_BASE_PATH}

        #CACHE_INPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
        #CACHE_INPUT_FILES: 'ABMS_DATA.csv,DEA_DATA.csv,DEMOG_DATA.csv,LICENSE_DATA.csv,MED_SCH_DATA.csv,MED_TRAIN_DATA.csv,NPI_DATA.csv,SANCTIONS_DATA.csv'

        #CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        #CACHE_OUTPUT_FILES: 'caqh_profiles.csv'

    LOAD_AMA_MASTERFILE_TABLE:
        CACHE_CLASS: ${S3_CACHE_PYTHON_CLASS}
        CACHE_BASE_PATH: ${S3_BASE_PATH}

        LEDGER: vericre-sbx-ledger
        TABLE: caqh_profile_testing
        PRIMARY_KEY: providerId

        CACHE_INPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
        CACHE_INPUT_FILES: 'caqh_profile.json'
    
    #CREATE_CAQH_STATUS_URLS:
        #CACHE_CLASS: ${S3_CACHE_PYTHON_CLASS}
        #CACHE_BASE_PATH: ${S3_BASE_PATH}

        #USERNAME: ${CAQH_USERNAME}
        #PASSWORD: ${CAQH_PASSWORD}

        #CACHE_INPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
        #CACHE_INPUT_FILES: 'caqh_profile_statuses.pkl'

        #CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        #CACHE_OUTPUT_FILES: 'caqh_profile_urls.txtv'

    #EXTRACT_CAQH_PROFILE_STATUSES:
        #CACHE_CLASS: ${S3_CACHE_PYTHON_CLASS}
        #CACHE_BASE_PATH: ${S3_BASE_PATH}

        #USERNAME: ${CAQH_USERNAME}
        #PASSWORD: ${CAQH_PASSWORD}

        #CACHE_INPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
        #CACHE_INPUT_FILES: 'caqh_profile_urls.txt'

        #CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        #CACHE_OUTPUT_FILES: 'caqh_profile_statuses.pkl'

    #CREATE_CAQH_PROFILE_URLS:
        #CACHE_CLASS: ${S3_CACHE_PYTHON_CLASS}
        #CACHE_BASE_PATH: ${S3_BASE_PATH}

        #USERNAME: ${CAQH_USERNAME}
        #PASSWORD: ${CAQH_PASSWORD}

        #CACHE_INPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
        #CACHE_INPUT_FILES: 'caqh_profile_statuses.pkl'

        #CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        #CACHE_OUTPUT_FILES: 'caqh_profile_urls.txt'
    
    #EXTRACT_CAQH_PHYSICIAN_PROFILES:
        #CACHE_CLASS: ${S3_CACHE_PYTHON_CLASS}
        #CACHE_BASE_PATH: ${S3_BASE_PATH}

        #USERNAME: ${CAQH_USERNAME}
        #PASSWORD: ${CAQH_PASSWORD}

        #CACHE_INPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
        #CACHE_INPUT_FILES: 'caqh_profile_urls.txt'

        #CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        #CACHE_OUTPUT_FILES: 'caqh_profiles.csv'
    
    #CREATE_CAQH_PROFILE_TABLE:
        #CACHE_CLASS: ${S3_CACHE_PYTHON_CLASS}
        #CACHE_BASE_PATH: ${S3_BASE_PATH}

        #CACHE_INPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
        #CACHE_INPUT_FILES: ''

        #CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        #CACHE_OUTPUT_FILES: 'caqh_profiles.csv'
     
    #LOAD_CAQH_PROFILE_TABLE:
        #CACHE_CLASS: ${S3_CACHE_PYTHON_CLASS}
        #CACHE_BASE_PATH: ${S3_BASE_PATH}

        #LEDGER: vericre-sbx-ledger
        #TABLE: loader_development
        #PRIMARY_KEY: entityId

        #CACHE_INPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
        #CACHE_INPUT_FILES: 'caqh_profile.json'

        #CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        #CACHE_OUTPUT_FILES: 'caqh_profiles.csv'

    #CREATE_AMA_PROFILE_TABLE:
        #CACHE_CLASS: ${S3_CACHE_PYTHON_CLASS}
        #CACHE_BASE_PATH: ${S3_BASE_PATH}

        #CACHE_INPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
        #CACHE_INPUT_FILES: 'ABMS_DATA.csv,DEA_DATA.csv,DEMOG_DATA.csv,LICENSE_DATA.csv,MED_SCH_DATA.csv,MED_TRAIN_DATA.csv,NPI_DATA.csv,SANCTIONS_DATA.csv'

        #CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        #CACHE_OUTPUT_FILES: 'caqh_profiles.csv'

    #CREATE_CAQH_PROFILE_TABLE:
        #CACHE_CLASS: ${S3_CACHE_PYTHON_CLASS}
        #CACHE_BASE_PATH: ${S3_BASE_PATH}

        #CACHE_INPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
        #CACHE_INPUT_FILES: 'ABMS_DATA.csv,DEA_DATA.csv,DEMOG_DATA.csv,LICENSE_DATA.csv,MED_SCH_DATA.csv,MED_TRAIN_DATA.csv,NPI_DATA.csv,SANCTIONS_DATA.csv'

        #CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        #CACHE_OUTPUT_FILES: 'caqh_profiles.csv'