---
VERICRE_PROFILES:
    GLOBAL:
        ENVIRONMENT: dev
        ACCOUNT: '191296302136'

        CAQH_USERNAME: DeepakA123
        CAQH_PASSWORD: '{{caqh_password}}'

        eft_password: '{{caqh_password}}'

        S3_INGESTED_DATA_BUCKET: ama-${ENVIRONMENT}-datalake-ingest-us-east-1
        S3_PROCESSED_DATA_BUCKET: ama-${ENVIRONMENT}-datalake-process-us-east-1
        S3_STAGED_DATA_BUCKET: ama-${ENVIRONMENT}-datalake-staged-us-east-1

        S3_CACHE_PYTHON_CLASS: 'datalabs.etl.dag.cache.s3.S3TaskDataCache'
        S3_BASE_PATH: 'AMA/VeriCre/Profiles'

    DAG:
        LAMBDA_FUNCTION: 'VeriCre-${ENVIRONMENT}-ETL'
        DAG_CLASS: 'datalabs.etl.dag.masterfile.oneview.OneViewDAG'
        DAG_STATE_PARAMETERS: 
            DAG_STATE_CLASS: 'datalabs.etl.dag.state.dynamodb.DAGState'
            DAG_STATE_TABLE: 'DataLake-dag-state-${ENVIRONMENT}'
            STATE_LOCK_TABLE: 'DataLake-scheduler-locks-${ENVIRONMENT}'
        DAG_TOPIC_ARN: 'arn:aws:sns:us-east-1:${ACCOUNT}:DataLake-${ENVIRONMENT}-DAGProcessor'
        TASK_TOPIC_ARN: 'arn:aws:sns:us-east-1:${ACCOUNT}:DataLake-${ENVIRONMENT}-TaskProcessor'
        DAG_EXECUTOR_CLASS: 'datalabs.etl.dag.execute.awslambda.LambdaDAGExecutorTask'
        TASK_EXECUTOR_CLASS: 'datalabs.etl.dag.execute.awslambda.LambdaTaskExecutorTask'


    LOAD_CAQH_PROFILES_TO_LEDGER:
        LEDGER: vericre-sbx-ledger
        TABLE: caqh_profile_testing
        PRIMARY_KEY: providerId
    
    EXTRACT_CAQH_PHYSICIAN_STATUSES: 
        USERNAME: ${CAQH_USERNAME}
        PASSWORD: ${CAQH_PASSWORD}

    CREATE_CAQH_PROFILE_STATUS_URLS:
        USERNAME: ${CAQH_USERNAME}
        PASSWORD: ${CAQH_PASSWORD}
    
    CREATE_PROFILE_STATUS_URLS:
        USERNAME: ${CAQH_USERNAME}
        PASSWORD: ${CAQH_PASSWORD}
    
    EXTRACT_AMA_PHYSICIAN_PROFILES:
        USERNAME: datalabs
        PASSWORD: '{{eft_password}}'

    EXTRACT_CAQH_PHYSICIAN_PROFILES:
        USERNAME: ${CAQH_USERNAME}
        PASSWORD: ${CAQH_PASSWORD}

    EXTRACT_CAQH_PROFILE_STATUSES:
        USERNAME: ${CAQH_USERNAME}
        PASSWORD: ${CAQH_PASSWORD}

    LOAD_AMA_MASTERFILE_TABLE:
        LEDGER: vericre-sbx-ledger
        TABLE: loader_development
        PRIMARY_KEY: entityId

    

  