---
VERICRE_API:
    GLOBAL:
        ENVIRONMENT: sbx
        ACCOUNT: '644454719059'
        WS_HOST_SUFFIX: 'test'
        AWS_HOST_SUFFIX: '-sbx'

        DATABASE_HOST: vericre-sbx-au-aurora-cluster.cluster-c3mn4zysffxi.us-east-1.rds.amazonaws.com
        DATABASE_PORT: '5432'
        DATABASE_BACKEND: 'postgresql+psycopg2'
        DATABASE_NAME: 'vericre'
        DATABASE_USERNAME:  vericreadmin
        DATABASE_PASSWORD:  '{{database_password}}'

        PHYSICIAN_SEARCH_URL: 'https://wsint${WS_HOST_SUFFIX}.ama-assn.org/enterprisesearch/EnterpriseSearchService'
        SYNC_URL: 'https://internal-vericre-sbx-backend-api-alb-946986500.us-east-1.elb.amazonaws.com/users/physicians/search/onSync'

        REQUEST_CACHE_TABLE: "vericre-${ENVIRONMENT}-us-east-1-api-request-cache"

        DOCUMENT_BUCKET: ama-${ENVIRONMENT}-vericre-us-east-1

        PROFILE_API_ID: '428b5f8e-c591-4630-a565-de2b407a5db8'
        PROFILE_API_SECRET: {{profile_api_secret}}
        PROFILE_API_ENVIRONMENT: 'wsext${WS_HOST_SUFFIX}'
        PROFILE_TOKEN_URL: 'https://${PROFILE_API_ENVIRONMENT}.ama-assn.org/oauth2/endpoint/eprofilesprovider/token'
        PROFILE_URL: 'https://${PROFILE_API_ENVIRONMENT}.ama-assn.org/profiles/profile/full'
        PROFILE_PDF_URL: 'https://${PROFILE_API_ENVIRONMENT}.ama-assn.org/profiles/pdf/full'

        MONITOR_URL: '${PROFILE_API_ENVIRONMENT}.ama-assn.org/profiles/monitor'
        MONITOR_NOTIFICATION_URL: 'https://${MONITOR_URL}/notifications'
        MONITOR_PROFILE_URL: 'https://${MONITOR_URL}/entities'
        MONITOR_UPDATE_URL: 'https://${MONITOR_URL}/update'

        CAQH_USERNAME: 'DeepakA123'
        CAQH_PASSWORD: '{{caqh_password}}'
        CAQH_ORG_ID: '6166'
        CAQH_APPLICATION_TYPE: '100000001'
        CAQH_DOMAIN: 'proview-demo.nonprod.caqh.org'
        CAQH_PROVIDER_DOCS_URL: 'https://${CAQH_DOMAIN}/DocumentAPI/api/providerdocs/download'
        CAQH_STATUS_CHECK_URL: 'https://${CAQH_DOMAIN}/RosterAPI/api/providerstatusbynpi'

    ROUTE:
        PHYSICIANS_SEARCH:          '/profile_api/physicians/search'
        PROFILES_LOOKUP:            '/profile_api/profiles/lookup'
        PROFILES_LOOKUP_BY_INDEX:   '/profile_api/profiles/lookup/*'
        PROFILES:                   '/profile_api/profiles'
        
        # 1.1.0 Endpoints
        MONITOR:                    '/profile_api/profiles/*/monitor'
        MONITOR_NOTIFICATIONS:      '/profile_api/profiles/monitor/notifications'
        MONITOR_NOTIFICATION:       '/profile_api/profiles/monitor/notifications/*'
        MONITOR_PROFILES:           '/profile_api/profiles/monitor'

        PROFILE:                    '/profile_api/profiles/*'
        PROFILE_DOCUMENTS:          '/profile_api/profiles/*/documents'
        PROFILE_CAQH_PDF:           '/profile_api/profiles/*/CAQH/pdf'
        PROFILE_AMA_PDF:            '/profile_api/profiles/*/AMA/pdf'
        
        # Deprecated 1.0.0 Endpoints
        PROFILE_1_0_0:              '/profile_api/profile/*'
        PROFILE_DOCUMENTS_1_0_0:    '/profile_api/profile/*/documents'
        PROFILE_CAQH_PDF_1_0_0:     '/profile_api/profile/*/CAQH/pdf'
        PROFILE_AMA_PDF_1_0_0:      '/profile_api/profile/*/AMA/pdf'

        # Default Endpoint
        DEFAULT:                    '/*'

    PHYSICIANS_SEARCH:
        TASK_CLASS:  'datalabs.access.vericre.api.physician.PhysiciansSearchEndpointTask'
        DATABASE_NAME:  ${DATABASE_NAME}
        DATABASE_BACKEND: ${DATABASE_BACKEND}
        DATABASE_HOST: ${DATABASE_HOST}
        DATABASE_PORT: ${DATABASE_PORT}
        DATABASE_USERNAME: ${DATABASE_USERNAME}
        DATABASE_PASSWORD: ${DATABASE_PASSWORD}
        PHYSICIAN_SEARCH_URL: ${PHYSICIAN_SEARCH_URL}
        SYNC_URL: ${SYNC_URL}

    PROFILES_LOOKUP:
        TASK_CLASS:  'datalabs.access.vericre.api.profile.MultiProfileLookupEndpointTask'
        DATABASE_NAME:  ${DATABASE_NAME}
        DATABASE_BACKEND: ${DATABASE_BACKEND}
        DATABASE_HOST: ${DATABASE_HOST}
        DATABASE_PORT: ${DATABASE_PORT}
        DATABASE_USERNAME: ${DATABASE_USERNAME}
        DATABASE_PASSWORD: ${DATABASE_PASSWORD}
        REQUEST_CACHE_TABLE: ${REQUEST_CACHE_TABLE}

    PROFILES_LOOKUP_BY_INDEX:
        TASK_CLASS:  'datalabs.access.vericre.api.profile.MultiProfileLookupByIndexEndpointTask'
        DATABASE_NAME:  ${DATABASE_NAME}
        DATABASE_BACKEND: ${DATABASE_BACKEND}
        DATABASE_HOST: ${DATABASE_HOST}
        DATABASE_PORT: ${DATABASE_PORT}
        DATABASE_USERNAME: ${DATABASE_USERNAME}
        DATABASE_PASSWORD: ${DATABASE_PASSWORD}
        REQUEST_CACHE_TABLE: ${REQUEST_CACHE_TABLE}

    PROFILES:
        TASK_CLASS:  'datalabs.access.vericre.api.profile.ProfilesEndpointTask'
        DATABASE_NAME:  ${DATABASE_NAME}
        DATABASE_BACKEND: ${DATABASE_BACKEND}
        DATABASE_HOST: ${DATABASE_HOST}
        DATABASE_PORT: ${DATABASE_PORT}
        DATABASE_USERNAME: ${DATABASE_USERNAME}
        DATABASE_PASSWORD: ${DATABASE_PASSWORD}

    PROFILE:
        TASK_CLASS:  'datalabs.access.vericre.api.profile.SingleProfileLookupEndpointTask'
        DATABASE_NAME:  ${DATABASE_NAME}
        DATABASE_BACKEND: ${DATABASE_BACKEND}
        DATABASE_HOST: ${DATABASE_HOST}
        DATABASE_PORT: ${DATABASE_PORT}
        DATABASE_USERNAME: ${DATABASE_USERNAME}
        DATABASE_PASSWORD: ${DATABASE_PASSWORD}

    PROFILE_DOCUMENTS:
        TASK_CLASS:  'datalabs.access.vericre.api.document.ProfileDocumentsEndpointTask'
        DATABASE_NAME:  ${DATABASE_NAME}
        DATABASE_BACKEND: ${DATABASE_BACKEND}
        DATABASE_HOST: ${DATABASE_HOST}
        DATABASE_PORT: ${DATABASE_PORT}
        DATABASE_USERNAME: ${DATABASE_USERNAME}
        DATABASE_PASSWORD: ${DATABASE_PASSWORD}
        DOCUMENT_BUCKET: ${DOCUMENT_BUCKET}

    PROFILE_CAQH_PDF:
        TASK_CLASS:  'datalabs.access.vericre.api.caqh.CAQHProfilePDFEndpointTask'
        DATABASE_NAME:  ${DATABASE_NAME}
        DATABASE_BACKEND: ${DATABASE_BACKEND}
        DATABASE_HOST: ${DATABASE_HOST}
        DATABASE_PORT: ${DATABASE_PORT}
        DATABASE_USERNAME: ${DATABASE_USERNAME}
        DATABASE_PASSWORD: ${DATABASE_PASSWORD}
        DOCUMENT_BUCKET: ${DOCUMENT_BUCKET}
        USERNAME: ${CAQH_USERNAME}
        PASSWORD: ${CAQH_PASSWORD}
        ORG_ID: ${CAQH_ORG_ID}
        APPLICATION_TYPE: ${CAQH_APPLICATION_TYPE}
        PROVIDER_DOCS_URL: ${CAQH_PROVIDER_DOCS_URL}
        STATUS_CHECK_URL: ${CAQH_STATUS_CHECK_URL}

    PROFILE_AMA_PDF:
        TASK_CLASS:  'datalabs.access.vericre.api.pdf.AMAProfilePDFEndpointTask'
        DATABASE_NAME:  ${DATABASE_NAME}
        DATABASE_BACKEND: ${DATABASE_BACKEND}
        DATABASE_HOST: ${DATABASE_HOST}
        DATABASE_PORT: ${DATABASE_PORT}
        DATABASE_USERNAME: ${DATABASE_USERNAME}
        DATABASE_PASSWORD: ${DATABASE_PASSWORD}
        DOCUMENT_BUCKET: ${DOCUMENT_BUCKET}
        CLIENT_ID: ${PROFILE_API_ID}
        CLIENT_SECRET: ${PROFILE_API_SECRET}
        TOKEN_URL: ${PROFILE_TOKEN_URL}
        PROFILE_URL: ${PROFILE_URL}
        PDF_URL: ${PROFILE_PDF_URL}

    MONITOR:
        TASK_CLASS:  'datalabs.access.vericre.api.monitor.ProfileMonitorEndpointTask'
        CLIENT_ID: ${PROFILE_API_ID}
        CLIENT_SECRET: ${PROFILE_API_SECRET}
        TOKEN_URL: ${PROFILE_TOKEN_URL}
        MONITOR_PROFILE_URL: ${MONITOR_PROFILE_URL}

    MONITOR_NOTIFICATIONS:
        TASK_CLASS:  'datalabs.access.vericre.api.monitor.MonitorNotificationsEndpointTask'
        CLIENT_ID: ${PROFILE_API_ID}
        CLIENT_SECRET: ${PROFILE_API_SECRET}
        TOKEN_URL: ${PROFILE_TOKEN_URL}
        MONITOR_NOTIFICATION_URL: ${MONITOR_NOTIFICATION_URL}

    MONITOR_PROFILES:
        TASK_CLASS: 'datalabs.access.vericre.api.monitor.ProfilesMonitorEndpointTask'
        CLIENT_ID: ${PROFILE_API_ID}
        CLIENT_SECRET: ${PROFILE_API_SECRET}
        TOKEN_URL: ${PROFILE_TOKEN_URL}
        MONITOR_PROFILE_URL: ${MONITOR_PROFILE_URL}

    MONITOR_NOTIFICATION:
        TASK_CLASS:  'datalabs.access.vericre.api.monitor.MonitorNotificationEndpointTask'
        CLIENT_ID: ${PROFILE_API_ID}
        CLIENT_SECRET: ${PROFILE_API_SECRET}
        TOKEN_URL: ${PROFILE_TOKEN_URL}
        MONITOR_UPDATE_URL: ${MONITOR_UPDATE_URL}
        MONITOR_DELETE_URL: ${MONITOR_NOTIFICATION_URL}

    DEFAULT:
        TASK_CLASS:  'datalabs.access.vericre.api.default.DefaultEndpointTask'

    ### Deprecated Endpoints ###

    PROFILE_1_0_0:
        TASK_CLASS:  'datalabs.access.vericre.api.profile.SingleProfileLookupEndpointTask'
        DATABASE_NAME:  ${DATABASE_NAME}
        DATABASE_BACKEND: ${DATABASE_BACKEND}
        DATABASE_HOST: ${DATABASE_HOST}
        DATABASE_PORT: ${DATABASE_PORT}
        DATABASE_USERNAME: ${DATABASE_USERNAME}
        DATABASE_PASSWORD: ${DATABASE_PASSWORD}

    PROFILE_DOCUMENTS_1_0_0:
        TASK_CLASS:  'datalabs.access.vericre.api.document.ProfileDocumentsEndpointTask'
        DATABASE_NAME:  ${DATABASE_NAME}
        DATABASE_BACKEND: ${DATABASE_BACKEND}
        DATABASE_HOST: ${DATABASE_HOST}
        DATABASE_PORT: ${DATABASE_PORT}
        DATABASE_USERNAME: ${DATABASE_USERNAME}
        DATABASE_PASSWORD: ${DATABASE_PASSWORD}
        DOCUMENT_BUCKET: ${DOCUMENT_BUCKET}

    PROFILE_CAQH_PDF_1_0_0:
        TASK_CLASS:  'datalabs.access.vericre.api.caqh.CAQHProfilePDFEndpointTask'
        DATABASE_NAME:  ${DATABASE_NAME}
        DATABASE_BACKEND: ${DATABASE_BACKEND}
        DATABASE_HOST: ${DATABASE_HOST}
        DATABASE_PORT: ${DATABASE_PORT}
        DATABASE_USERNAME: ${DATABASE_USERNAME}
        DATABASE_PASSWORD: ${DATABASE_PASSWORD}
        DOCUMENT_BUCKET: ${DOCUMENT_BUCKET}
        USERNAME: ${CAQH_USERNAME}
        PASSWORD: ${CAQH_PASSWORD}
        ORG_ID: ${CAQH_ORG_ID}
        APPLICATION_TYPE: ${CAQH_APPLICATION_TYPE}
        PROVIDER_DOCS_URL: ${CAQH_PROVIDER_DOCS_URL}
        STATUS_CHECK_URL: ${CAQH_STATUS_CHECK_URL}

    PROFILE_AMA_PDF_1_0_0:
        TASK_CLASS:  'datalabs.access.vericre.api.pdf.AMAProfilePDFEndpointTask'
        DATABASE_NAME:  ${DATABASE_NAME}
        DATABASE_BACKEND: ${DATABASE_BACKEND}
        DATABASE_HOST: ${DATABASE_HOST}
        DATABASE_PORT: ${DATABASE_PORT}
        DATABASE_USERNAME: ${DATABASE_USERNAME}
        DATABASE_PASSWORD: ${DATABASE_PASSWORD}
        DOCUMENT_BUCKET: ${DOCUMENT_BUCKET}
        CLIENT_ID: ${PROFILE_API_ID}
        CLIENT_SECRET: ${PROFILE_API_SECRET}
        TOKEN_URL: ${PROFILE_TOKEN_URL}
        PROFILE_URL: ${PROFILE_URL}
        PDF_URL: ${PROFILE_PDF_URL}
