---
ADDRESS_FLAGGING_REPORT:
    GLOBAL:
        ACCOUNT: '285887636563'
        ENVIRONMENT: prd
        APP_STACK: OneView

        S3_INGESTED_DATA_BUCKET: ama-${ENVIRONMENT}-datalake-ingest-us-east-1
        S3_PROCESSED_DATA_BUCKET: ama-${ENVIRONMENT}-datalake-process-us-east-1

        AIMS_DB_DRIVER: com.informix.jdbc.IfxDriver
        AIMS_DB_DRIVER_TYPE: informix-sqli
        AIMS_DB_JAR_PATH: ./jdbc-4.50.4.1.jar,./bson-4.2.0.jar
        AIMS_DB_HOST: rdbp1627.ama-assn.org
        AIMS_DB_PORT: '22093'
        AIMS_DB_NAME: 'aims_prod:prd1srvxnet'
        AIMS_DB_USERNAME: dlabs
        AIMS_DB_PASSWORD: '{{aims_db_password}}'

        S3_CACHE_PYTHON_CLASS: 'datalabs.etl.dag.cache.s3.S3TaskDataCache'
        S3_CACHE_JAVA_CLASS: 'datalabs.task.cache.S3TaskDataCache'
        S3_BASE_PATH: 'AMA/AMC/AddressFlaggingReport'

    DAG:
        ENVIRONMENT: ${ENVIRONMENT}
        LAMBDA_FUNCTION: '${APP_STACK}-${ENVIRONMENT}-AMC'
        DAG_CLASS: 'datalabs.etl.dag.masterfile.address_flagging_report.DAG'
        DAG_STATE:
            CLASS: 'datalabs.etl.dag.state.dynamodb.DAGState'
            STATE_TABLE: 'DataLake-dag-state-${ENVIRONMENT}'
            LOCK_TABLE: 'DataLake-scheduler-locks-${ENVIRONMENT}'
        DAG_TOPIC_ARN: 'arn:aws:sns:us-east-1:${ACCOUNT}:DataLake-${ENVIRONMENT}-DAGProcessor'
        TASK_TOPIC_ARN: 'arn:aws:sns:us-east-1:${ACCOUNT}:DataLake-${ENVIRONMENT}-TaskProcessor'
        DAG_EXECUTOR_CLASS: 'datalabs.etl.dag.execute.awslambda.LambdaDAGExecutorTask'
        TASK_EXECUTOR_CLASS: 'datalabs.etl.dag.execute.awslambda.LambdaTaskExecutorTask'
        STATUS_NOTIFICATION_WEB_HOOK: 'https://amatoday.webhook.office.com/webhookb2/5cf63a5c-89ba-4724-b44f-8643269bae92@11fe67f6-fd54-4981-925f-94c36ed7b086/IncomingWebhook/1d0f20d047d042d68d01a8d855787009/b9b792dd-3637-4256-8a95-72d5d956f908'

    EXTRACT_AMC:
        LAMBDA_FUNCTION: OneView-${ENVIRONMENT}-AMC-Extract
        DAG_STATE:
            CLASS: 'datalabs.etl.dag.state.dynamodb.DagState'
            STATE_TABLE: 'DataLake-dag-state-${ENVIRONMENT}'
            LOCK_TABLE: 'DataLake-scheduler-locks-${ENVIRONMENT}'
        TASK_CLASS: datalabs.etl.sql.SqlExtractorTask

        DATABASE_HOST: ${AIMS_DB_HOST}
        DATABASE_PORT: ${AIMS_DB_PORT}
        DATABASE_NAME: ${AIMS_DB_NAME}
        DATABASE_USERNAME: ${AIMS_DB_USERNAME}
        DATABASE_PASSWORD: ${AIMS_DB_PASSWORD}
        SQL: "
            SELECT
                eke.key_type_val as ME,
                ecu.entity_id,
                ecu.comm_id,
                first_nm,
                middle_nm,
                last_nm,
                pa.addr_line0,
                pa.addr_line1,
                pa.addr_line2,
                pa.city_cd,
                pa.zip,
                pa.state_cd,
                ecu.usg_begin_dt,
                ecu.comm_usage

            FROM
                entity_comm_usg_at ecu
                INNER JOIN
                entity_key_et eke
                ON eke.entity_id = ecu.entity_id
                INNER JOIN
                post_addr_at pa
                ON pa.comm_id = ecu.comm_id
                INNER JOIN
                person_name_et pn
                ON pn.entity_id = ecu.entity_id

            WHERE
                ecu.src_cat_code = 'AMC' AND
                ecu.end_dt is null       AND
                eke.key_type ='ME'       AND
                pn.name_type = 'LN'      AND
                pn.end_dt is null

            INTO TEMP address_flagging_report;
            SELECT * FROM address_flagging_report ORDER BY ME SKIP {index} LIMIT {count}
        "
        CHUNK_SIZE: '100000'
        DRIVER: ${AIMS_DB_DRIVER}
        DRIVER_TYPE: ${AIMS_DB_DRIVER_TYPE}
        JAR_PATH: ${AIMS_DB_JAR_PATH}

        CACHE_OUTPUT_CLASS: ${S3_CACHE_JAVA_CLASS}
        CACHE_OUTPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
        CACHE_OUTPUT_BASE_PATH: ${S3_BASE_PATH}
        CACHE_OUTPUT_FILES: addresses.csv

    FLAG_ADDRESSES:
        CACHE_CLASS: ${S3_CACHE_PYTHON_CLASS}
        CACHE_BASE_PATH: ${S3_BASE_PATH}

        CACHE_INPUT_BUCKET: ${S3_INGESTED_DATA_BUCKET}
        CACHE_INPUT_FILES: 'addresses.csv'

        CACHE_OUTPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_OUTPUT_FILES: 'report.pk'

    EMAIL_ADDRESS_REPORT:
        CACHE_INPUT_CLASS: ${S3_CACHE_PYTHON_CLASS}
        CACHE_INPUT_BUCKET: ${S3_PROCESSED_DATA_BUCKET}
        CACHE_INPUT_BASE_PATH: ${S3_BASE_PATH}
        CACHE_INPUT_FILES: 'report.pk'

        TO: 'Debbie.Kidd@ama-assn.org,Christina.Lopez@ama-assn.org,Pat.Scheibel@ama-assn.org'
        CC: 'datalabs@ama-assn.org,Nicole.Neal@ama-assn.org,Derek.Smart@ama-assn.org'
