# pylint: skip-file

TASK_CLASS="datalabs.etl.task.ETLTask"
TASK_WRAPPER_CLASS="datalabs.etl.task.ETLTaskWrapper"

# Extractor
EXTRACTOR__TASK_CLASS="datalabs.etl.s3.extract.S3FileExtractorTask"
EXTRACTOR__REGION_NAME='us-east-1'
EXTRACTOR__ACCESS_KEY='{{key}}'
EXTRACTOR__SECRET_KEY='{{secret}}'
EXTRACTOR__BUCKET="ama-dev-datalake-ingest-us-east-1"
EXTRACTOR__BASE_PATH='AMA/operations/address/scoring/data/'
EXTRACTOR__FILES='base_data.txt,entity_comm_at_clean.txt'
EXTRACTOR__ASSUME_ROLE="arn:aws:iam::191296302136:role/dev-ama-apigateway-invoke-role"
EXTRACTOR__INCLUDE_DATESTAMP='false'


# Transformer
TRANSFORMER__TASK_CLASS="datalabs.analysis.address.scoring.features.entity_comm.EntityCommFeatureGenerationTransformerTask"

# Loader
LOADER__TASK_CLASS="datalabs.etl.s3.load.S3FileLoaderTask"
LOADER__REGION_NAME='us-east-1'
LOADER__ACCESS_KEY='{{key}}'
LOADER__SECRET_KEY='{{secret}}'
LOADER__BUCKET="ama-dev-datalake-ingest-us-east-1"
LOADER__BASE_PATH='AMA/operations/address/scoring/data/'
LOADER__FILES='features__entity_comm__{{as_of_date}}.txt'
LOADER__ASSUME_ROLE="arn:aws:iam::191296302136:role/dev-ama-apigateway-invoke-role"
LOADER__INCLUDE_DATESTAMP='false'
