# Repository Settings
DATALABS_PYTHONPATH='{{pythonpath}}'

# Project Settings
PROJECT_NAME='ContactID'

TASK_CLASS=datalabs.etl.task.ETLTask
TASK_WRAPPER_CLASS=datalabs.etl.awslambda.ETLTaskWrapper

ETCD_HOST=hsg-data-labs-etcd.apps.openshifttest.ama-assn.org
ETCD_USERNAME=contact_id
ETCD_PASSWORD='x5iexSg=80^tvgt?U7ex'
ETCD_PREFIX='CONTACT_ID_'


EXTRACTOR__DATABASE_NAME='AdvDbPRD;domain=AMA_NT'       #prod
EXTRACTOR__DATABASE_USERNAME='{{Advantage_username}}'
EXTRACTOR__DATABASE_PASSWORD='{{Advantage_password}}'
EXTRACTOR__DATABASE_HOST='{{Advantage_host}}'
EXTRACTOR__DATABASE_PORT='1433'

EXTRACTOR__TASK_CLASS=datalabs.etl.jdbc.extract.JDBCExtractorTask
EXTRACTOR__SQL="select
CUS.[Isell Login], OH.[Customer Number], ADR.[Company Name], CUS.[Customer Category], OD.[Item Number], YEAR(OH.[ORDER DATE]) as Year,month(oh.[ORDER DATE]) as Month,
Sum(OD.[Quantity]) as Num_Profs, Sum(OD.[Item Net]) as Rev
from uv_AMA_HSG_OrderHeader OH
join uv_AMA_HSG_OrderDetails OD on OH.[Order Number] = OD.[Order Number]
JOIN (SELECT DISTINCT
           [Customer Number],
           [Isell Login],
           [Record Status],
           [Date Added],
           [Update Date],
           [Updated By],
           [Purchase Order Required],
           [Credit Limit],
           [Current A/R Balance],
           [Base Exemption On],
           [Tax Exempt],
           [Tax Exempt Reason],
           [Salesman Code],
           [Customer Type],
           Promotable,
           [Invoice Terms],
           [Physician Count],
           [Customer Category],
           [API Vendor],
           [Default Address Code],
           [Billing Currency],
           [Price Code],
           [Discount Type],
           [Discount Percent],
           [Check for Duplicate PO]
            FROM uv_AMA_HSG_Customers) CUS ON OH.[Customer Number] = CUS.[Customer Number]
join uv_AMA_HSG_Addresses ADR on CUS.[Customer Number] = ADR.[Customer Number] and CUS.[Default Address Code] = ADR.[Address Code]
where OH.[Customer Number] NOT IN ('000001887301', '000002076258', '000002793326', '000003014654', '000002099673', '000002506885', '000003014653', '000003014654')  -- AMA Service Monitor Account
and OH.[Order Type] != 'C'
and OH.[Order Date] between convert(datetime,'2018-01-01') and convert(datetime,'2021-03-31')
and CUS.[Customer Type] in ('EPROFILE', 'INSTIT')
and CUS.[Customer Category] <>''
and CUS.[Customer Category] NOT IN ('BD','SMS', 'CMS', 'SPMS')
and OD.[Price Code] NOT IN ('AMABOA', 'AMAHSB', 'MEMBER')
and OD.[Promotion Code] NOT IN ('MEMDISC', 'CREDDISC')
and OD.[Volume Price Code] NOT IN ('AMABOAF', 'AMABOAR', 'AMAHSBC', 'AMAHSBF', 'AMAHSBP', 'AMAHSBR', 'HARVEY')
and OD.[Item Number] NOT IN ('FAPP+CM','RAPP+CM','SELFINQ', 'FCVO')
and OD.[Item Number] NOT LIKE 'PVS%'
group by CUS.[Isell Login], OH.[Customer Number], ADR.[Company Name], CUS.[Customer Category], YEAR(OH.[ORDER DATE]),month(oh.[ORDER DATE]),OD.[Item Number];
select
  distinct( PART.[Participant Customer Number])
from uv_AMA_HSG_Agreements AGR
join uv_AMA_HSG_Agreement_Participants PART on AGR.[Agreement ID] = PART.[Agreement ID] and AGR.[TERM] = PART.[TERM] and AGR.[Version] = PART.[Version]
where AGR.[Agreement Status] = 'A';
"
EXTRACTOR__DRIVER=net.sourceforge.jtds.jdbc.Driver
EXTRACTOR__DRIVER_TYPE=jtds:sqlserver
EXTRACTOR__JAR_PATH=./jtds-1.3.1.jar

# Advantage Transformer
TRANSFORMER__TASK_CLASS=datalabs.etl.transform.PassThroughTransformerTask

# Advantage Loader
LOADER__TASK_CLASS=datalabs.etl.s3.load.S3FileLoaderTask
LOADER__ACCESS_KEY='{{key}}'
LOADER__SECRET_KEY='{{secret}}'
LOADER__BUCKET=ama-hsg-datalabs-datalake-ingestion-onprem
LOADER__BASE_PATH=AMA/ContactID
LOADER__ENDPOINT_URL=https://hsg-data-labs-minio.apps.openshifttest.ama-assn.org
LOADER__FILES='API_Orders.csv, Active_Subscription.csv'
LOADER__EXECUTION_TIME=20210205:04:00
