# Example command:
#   run-java-task -f -p Test/Java -t cache_io -a HELLO_WORLD__LOG_MESSAGE__2022-08-25T09:48:00

TASK_WRAPPER_CLASS=datalabs.etl.dag.DagTaskWrapper
TASK_CLASS=datalabs.example.etl.HelloWorldTask

HELLO_WORLD__LOG_MESSAGE__CACHE_INPUT_CLASS=datalabs.task.cache.S3TaskDataCache
HELLO_WORLD__LOG_MESSAGE__CACHE_INPUT_BUCKET=ama-sbx-datalake-scheduler-us-east-1
HELLO_WORLD__LOG_MESSAGE__CACHE_INPUT_BASE_PATH=
HELLO_WORLD__LOG_MESSAGE__CACHE_INPUT_FILES=schedule.csv
HELLO_WORLD__LOG_MESSAGE__CACHE_INPUT_INCLUDE_DATESTAMP=False

HELLO_WORLD__LOG_MESSAGE__FIRST_NAME=Bob
HELLO_WORLD__LOG_MESSAGE__LAST_NAME=Villa

HELLO_WORLD__LOG_MESSAGE__CACHE_OUTPUT_CLASS=datalabs.task.cache.S3TaskDataCache
HELLO_WORLD__LOG_MESSAGE__CACHE_OUTPUT_BUCKET=ama-sbx-datalake-ingest-us-east-1
HELLO_WORLD__LOG_MESSAGE__CACHE_OUTPUT_BASE_PATH=AMA/Test
HELLO_WORLD__LOG_MESSAGE__CACHE_OUTPUT_FILES=hello_world_message.txt
