# pylint: skip-file

TASK_CLASS=datalabs.etl.task.ETLTask
TASK_WRAPPER_CLASS=datalabs.etl.task.ETLTaskWrapper

# Extractor
EXTRACTOR__TASK_CLASS="datalabs.etl.jdbc.extract.JDBCExtractorTask"
EXTRACTOR__DRIVER="com.informix.jdbc.IfxDriver"
EXTRACTOR__DRIVER_TYPE="informix-sqli"
EXTRACTOR__DATABASE_USERNAME="dlabs"
EXTRACTOR__DATABASE_PASSWORD="{{aims_password}}"
EXTRACTOR__DATABASE_HOST="rdbp1627"
EXTRACTOR__DATABASE_NAME="aims_prod:prd1srvxnet"
EXTRACTOR__DATABASE_PORT="22093"
EXTRACTOR__JAR_PATH="./jdbc-4.50.4.1.jar,./bson-4.2.0.jar"
EXTRACTOR__SQL="SELECT entity_id, comm_id, state_cd, lic_issue_dt, lic_exp_dt"

# Transformer
TRANSFORMER__TASK_CLASS="datalabs.analysis.address.scoring.etl.transform.cleanup.DatabaseTableCleanupTransformerTask"
TRANSFORMER__KEEP_COLUMNS=''
TRANSFORMER__CLEAN_WHITESPACE='TRUE'
TRANSFORMER__DATE_COLUMNS='lic_issue_dt,lic_exp_dt'
TRANSFORMER__REPAIR_DATETIME='TRUE'
TRANSFORMER__CONVERT_TO_INT_COLUMNS='entity_id,comm_id'
TRANSFORMER__RENAME_COLUMNS=''

# Loader
LOADER__TASK_CLASS="datalabs.etl.s3.load.S3FileLoaderTask"
LOADER__REGION_NAME='us-east-1'
LOADER__ACCESS_KEY='{{key}}'
LOADER__SECRET_KEY='{{secret}}'
LOADER__BUCKET="ama-dev-datalake-ingest-us-east-1"
LOADER__BASE_PATH='AMA/operations/address/scoring/data/'
LOADER__FILES='license_lt.txt'
LOADER__ASSUME_ROLE="arn:aws:iam::191296302136:role/dev-ama-apigateway-invoke-role"
LOADER__INCLUDE_DATESTAMP='false'
