TASK_CLASS=datalabs.etl.task.ETLTask
TASK_WRAPPER_CLASS=datalabs.etl.awslambda.ETLTaskWrapper

# Extractor
EXTRACTOR__TASK_CLASS=datalabs.analysis.dbl.extract.LocalUnicodeTextFileExtractorTask
EXTRACTOR__BASE_PATH=""
EXTRACTOR__FILES=changefileaudit.txt,ReportByFieldFrom_SAS.txt,countofchangesbyfieldextract.txt,recordactionextract.txt,changerecordcount.txt,PE_counts.txt,topbyPEcounts.txt,PrimSpecbyMPA.txt,SecSpecbyMPA.txt
EXTRACTOR__HOST=efttest.ama-assn.org
EXTRACTOR__USERNAME=datalabstst
EXTRACTOR__PASSWORD={{password}}


# Transformer
TRANSFORMER__TASK_CLASS=datalabs.analysis.dbl.transform.DBLReportTransformer


# Loader
LOADER__TASK_CLASS=datalabs.analysis.dbl.load.DBLReportEmailLoaderTask
LOADER__TO="garrett.lappe@ama-assn.org"
LOADER__CC=""
LOADER__SUBJECT="Test Subject"
LOADER__BODY="Test Body"
LOADER__FROM_ACCOUNT=datalabs@ama-assn.org
